/* VerticalActionsList */

.vertical-actions-list {
    position: absolute;
    margin-left: 10px;
    box-shadow: 0px 0px 10px #0000001f;
    border-radius: 12px;
    background-color: #ffffff;
    padding: 10px 0;
}

.vertical-actions-close {
    cursor: pointer;
    top: 20px;
    right: 20px;
    position: absolute;
    height: 14px;
}

.actions-list-item {
    height: 28px;
    font-family: 'PlusJakartaSans-medium', Helvetica, Sans-Serif;
    padding: 12px 22px;
    outline: 0;
    font-size: 15px;
    line-height: 18px;
    color: black;
    display: flex;
    align-items: center;
    cursor: pointer;
    letter-spacing: 0.5px;
    transition: 0.2s all ease-in-out;
}

.actions-list-item:hover {
    background-color: #ecebe8;
}

.actions-list-item span {
    margin-left: 2px;
}

.actions-list-item .icon {
    margin-right: 5px;
}

.action-list-item span {
    margin-left: 3px;
    margin-bottom: 2px;
}