.run-update-screen-wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  background: #EBE9E2;
  z-index: 10000;
}

.run-update-screen {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 400px;
  text-align: center;
  margin: 0 auto;
  font-weight: normal;

}

.run-update-screen img {
  /* should add up to 130px, like the circle it's wrapped in */
  height: 50px;
  padding: 30px;
  -webkit-animation: spin 2.5s linear infinite;
  -moz-animation: spin 2.5s linear infinite;
  animation: spin 2.5s linear infinite;
}

.run-update-screen-heading {
  font-size: 20px;
  line-height: 2.2;
  font-family: 'gilroyextrabold', Helvetica, sans-serif;
}


.run-update-screen-subheading {
  font-family: 'hk-grotesk-medium', Helvetica, Sans-Serif;
  color: #717171;
}


.circle-wrap {
  margin: 0 auto 20px;
  width: 130px;
  height: 130px;
  background: #BCBCBC;
  border-radius: 50%;
}
.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
  width: 130px;
  height: 130px;
  position: absolute;
  border-radius: 50%;
}
.circle-wrap .circle .mask {
  clip: rect(0px, 130px, 130px, 65px);
}
.circle-wrap .circle .mask .fill {
  clip: rect(0px, 65px, 130px, 0px);
  background-color: #6600FF;
}
/* transform applies to this selector, this is done in javascript react now */
/* 0 = 0, 45 = 90, 90 = 135, 135 = 180 */
/* transform: rotate(45deg); */
.circle-wrap .circle .mask.full,
.circle-wrap .circle .fill {
  transition: 0.2s linear transform;
}
.circle-wrap .inside-circle {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background: #EBE9E2;
  line-height: 110px;
  margin-top: 10px;
  margin-left: 10px;
  position: absolute;
  z-index: 100;
}