.pending-projects-for-sync-wrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color-tertiary);
  border-radius: 0.5rem;
  margin-top: 0.5rem;
  position: relative;
  z-index: 1;
  box-shadow: 0 0 1rem var(--shadow-color);
}

.pending-projects-for-sync {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.75rem 1rem;
  background: var(--bg-color-tertiary);
  line-height: 1.6;
  border-radius: 8px;
}

.pending-projects-for-sync-message-icon {
  display: flex;
  flex-direction: row;
  align-items: center;

  .pending-projects-syncing-icon {
    .icon {
      cursor: auto;
      -webkit-animation: pending-projects-spin 3s linear infinite;
      -moz-animation: pending-projects-spin 3s linear infinite;
      animation: pending-projects-spin 3s linear infinite;

      @-webkit-keyframes pending-projects-spin {
        100% {
          -webkit-transform: rotate(360deg);
        }
      }

      @keyframes pending-projects-spin {
        100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
    }
  }
}

.pending-projects-for-sync-message {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding-bottom: 0.25rem;
  font-family: var(--font-family-primary-bold);
  font-size: 0.875rem;
  line-height: 1.75;
}

.pending-projects-for-sync-button {
  font-family: var(--font-family-primary-medium);
  font-size: 0.825rem;
  text-decoration: underline;
  cursor: pointer;
  color: var(--text-color-tertiary);
  line-height: 1.75;
}

.pending-projects-details-wrapper {
  font-size: 0.875rem;
}

.pending-projects-details-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.625rem 1rem 0.625rem 3.25rem;

  &:last-child {
    margin-bottom: 0.5rem;
  }

  .pending-project-cancel-queue-button {
    display: none;
  }

  &:hover {
    background-color: var(--bg-color-hover);
    .pending-project-cancel-queue-button {
      display: initial;
    }

    .pending-project-cancel-queue-button {
      font-family: var(--font-family-primary-bold);
      font-size: 0.825rem;
      cursor: pointer;
      color: var(--text-color-secondary);
      transition: all 0.1s ease;

      &:hover {
        color: var(--text-color-link);
      }
    }
  }
}
