.pending-projects-for-sync-wrapper {
  display: flex;
  flex-direction: column;
  background: #f5f2ef;
  border-radius: 8px;
  margin-top: 6px;
  position: relative;
  z-index: 2;
}

.pending-projects-for-sync {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 12px;
  background: #f5f2ef;
  line-height: 1.6;
  border-radius: 8px;
}

.pending-projects-for-sync-message-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pending-projects-for-sync-message {
  padding-left: 6px;
  padding-bottom: 3px;
  font-family: 'PlusJakartaSans-bold', Helvetica, sans-serif;
  font-size: 14px;
}

.pending-projects-for-sync-button {
  font-family: 'PlusJakartaSans-medium', Helvetica, sans-serif;
  font-size: 13px;
  text-decoration: underline;
  cursor: pointer;
  color: #535353;
}

.pending-projects-for-sync-button:hover, 
.pending-project-cancel-queue-button:hover {
  color: #5f65ff;
}

.pending-projects-for-sync-message-icon .icon {
  -webkit-animation: pending-projects-spin 3s linear infinite;
  -moz-animation: pending-projects-spin 3s linear infinite;
  animation: pending-projects-spin 3s linear infinite;
}

@-webkit-keyframes pending-projects-spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes pending-projects-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.pending-projects-expanded.pending-projects-expanded > .pending-projects-details-wrapper {
  padding-bottom: 10px;
}

.pending-projects-details-wrapper {
  font-size: 14px;
}

.pending-projects-details-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px 12px 10px 34px;
  height: 20px;
}

.pending-projects-details-item .pending-project-cancel-queue-button  {
display: none;
}

.pending-projects-details-item:hover .pending-project-cancel-queue-button  {
  display: initial;
  }

.pending-projects-details-item:hover {
  background-color: #f1ede9;
}

.pending-project-cancel-queue-button {
  font-family: 'PlusJakartaSans-bold', Helvetica, sans-serif;
  font-size: 13px;
  cursor: pointer;
  color: #535353;
}