.pending-projects-for-sync-wrapper {
  display: flex;
  flex-direction: column;
  background: #f5f2ef;
  border-radius: 8px;
  margin-top: 6px;
}

.pending-projects-for-sync {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 12px;
  background: #f5f2ef;
  line-height: 1.6;
  border-radius: 8px;
  
}

.pending-projects-for-sync-message-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pending-projects-for-sync-message {
  padding-left: 6px;
  padding-bottom: 3px;
  font-family: 'hk-grotesk-bold', Helvetica, sans-serif;
  font-size: 14px;
}

.pending-projects-for-sync-button {
  font-family: 'hk-grotesk-medium', Helvetica, sans-serif;
  font-size: 13px;
  text-decoration: underline;
  cursor: pointer;
  color: #535353;
}

.pending-projects-for-sync-button:hover {
  color: #5f65ff;
}

.pending-projects-for-sync-message-icon .icon {
  -webkit-animation: pending-projects-spin 3s linear infinite;
  -moz-animation: pending-projects-spin 3s linear infinite;
  animation: pending-projects-spin 3s linear infinite;
}

@-webkit-keyframes pending-projects-spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes pending-projects-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.pending-projects-expanded .pending-projects-details-wrapper {
  font-size: 14px;
  margin-left: 34px;
  padding-bottom: 10px;
}