.map-view-outcome-statement-card {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: left;
  background-color: var(--bg-color-secondary);
  border-radius: 1rem;
  box-shadow: 0 0 36px var(--color-brown-shadow);
  padding: 3rem 2.75rem 2.5rem 2.75rem;
  width: 24rem;
  box-sizing: border-box;

  .map-view-outcome-statement-form {
    margin-bottom: 2.5rem;
    // margin: 4rem 4rem 1.5rem 4rem;

    textarea {
      background-color: transparent;
      border: 0;
      outline: none;
      padding: 0;
      width: 18rem;
      height: 4.3rem;
      resize: none;
      color: var(--text-color-primary);
      font-family: var(--font-family-primary-semibold);
      font-size: 18px;

      &::selection {
        // TODO: decide on this
        background-color: var(--bg-color-light-green);
      }
    }
  }

  .map-view-outcome-statement-checkbox {
    width: 100%;


    .button-checkbox-wrapper {
      width: fit-content;
      font-family: var(--font-family-primary-medium);
    }
  }
}
