canvas {
  position: absolute;

  &.grabbing {
    cursor: grabbing;
  }
}

/* transform */

.transform-container,
.mapview-elements-container {
  position: fixed;
}

.outcome-statement-tooltip-visible {
  // establishes a max width for the Outcome Statement Tooltip
  width: 14rem;

  .tooltip-wrapper {
    visibility: visible;
  }
}
