.breadcrumbs-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.415rem 1rem;
  background-color: var(--bg-color-secondary);
  border-radius: 0.5rem;

  .breadcrumbs-parents {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;

    .breadcrumbs-item-wrapper {
      display: flex;
      flex-direction: row;

      .breadcrumbs-item {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .breadcrumbs-current-outcome {
    margin-left: 0.125rem;
    flex-wrap: nowrap;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
  }
}
