.ev-tasks-view-wrapper {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;

  .ev-tasks-view-list {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding-top: 1.5rem;

    .checklist-item-row,
    .add-checklist-item-wrapper {
      padding-right: 3rem;
      padding-left: 3rem;
    }
  }
}
