.yarn

binaries
node_modules
out/
user2-data
user-data
electron/web

zod-models/dist

web/dist/fonts
web/dist/images
web/dist/*.js
web/dist/*.js.map
web/storybook-static

target/
back/.cargo/
back/2-conductor-config.yml
back/scripts/2-install-happ.sh
2-config-admin-ws
2-config-app-ws
.hc
databases
databases2
keystore
keystore2
my-proxy-cert.cert

**/*.dna
**/*.happ

**/.DS_Store
.DS_Store