.comment-input-row {
  display: flex;
  flex-direction: row;
}

.comment-input-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  border: 0.1875rem solid var(--border-color-timberwolf);
  border-radius: 0.625rem;
  background-color: var(--bg-color-secondary);
  top: -1px;

  transition: 0.2s all ease;
  -webkit-font-smoothing: antialiased;

  &:focus-within {
    border: 0.1875rem solid var(--border-color-primary);
  }

  textarea::placeholder {
    color: var(--text-color-placeholder);
  }
}

.comment-input-wrapper textarea {
  height: 100%;
  outline: none;
  border: 0;
  color: var(--text-color-primary);
  padding: 1rem 1.25rem;
  flex: 1;
  font: 1rem var(--font-family-primary-medium);
  line-height: 1.45;
  resize: none;
  background: transparent;
  max-height: 20rem;
}

.comment-input-enter-button {
  padding: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
