.expand-chevron-wrapper {
  padding: 0.25rem;
  cursor: pointer;
  transition: 0.2s background-color ease-in;
  border-radius: 0.5rem;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;

  &.small {
    transform: scale(0.9);
    padding: 0.125;
    border-radius: 0.375rem;
  }

  &:hover {
    background-color: var(--bg-color-secondary);

    .icon .inner-icon {
      background-color: var(--text-color-primary);
    }
  }

  .icon {
    transition: transform 0.2s ease-in;
    padding: 0;
    width: 1.25rem;
    height: 1.25rem;
  }

  &.expanded {
    .icon {
      transform: rotateX(90deg);
      -webkit-transform: rotate(90deg);
    }
  }
}
