.picker-popup {
  position: absolute;
  border-radius: 0.75rem;
  background: var(--bg-color-secondary);
  box-shadow: 0 0 1rem var(--shadow-color-dark);
  padding: 20px 0px;
  // margin: 0 1rem;
  top: 0;
  z-index: 10;
  width: 20rem;
}

.picker-popup .very-small-close {
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
}

.picker-popup-heading {
  font-size: 1rem;
  font-family: var(--font-family-primary-extrabold);
  color: var(--text-color-secondary);
  text-align: center;
  margin-bottom: 1.25rem;
}
