.select-dropdown-wrapper {
  width: 11.25rem;
  position: relative;
  user-select: none;

  .select-dropdown-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-color-secondary);
    box-shadow: 0px 0rem 1.25rem var(--shadow-color);
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 0.625rem;
    cursor: pointer;
    transition: 0.2s all ease;
    -webkit-font-smoothing: antialiased;

    &:hover,
    &.focused {
      box-shadow: 0px 0rem 1.25rem var(--shadow-color-hover);
    }

    .select-dropdown-chevron {
      margin-left: 0.5rem;

      .icon {
        height: 1rem;
        width: 1rem;
        padding: 0;
      }
    }

    .select-dropdown-selected-option {
      display: flex;
      flex-direction: row;
      align-items: center;

      .select-dropdown-icon {
        margin-right: 0.625rem;

        .icon {
          height: 1rem;
          width: 1rem;
          padding: 0;
        }
      }

      .select-dropdown-text {
        font: 0.875rem var(--font-family-primary-bold);
      }
    }

    &.small {
      padding: 0.875rem 1rem 0.875rem 0.875rem;

      .select-dropdown-chevron {
        .icon {
          height: 1rem;
          width: 1rem;
        }
      }
    }

    &.large {
      padding: 1rem 1.25rem 1rem 1rem;
      font: 1rem var(--font-family-primary-bold);

      .select-dropdown-icon .icon {
        height: 1rem;
        width: 1rem;
      }

      .select-dropdown-text {
        font: 1rem var(--font-family-primary-bold);
      }
    }
  }

  .select-dropdown-menu {
    margin-top: 0.3rem;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color-secondary);
    box-shadow: 0px 0rem 1.25rem var(--shadow-color-hover);
    border-radius: 0.625rem;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    width: 100%;
    z-index: 2;

    .select-dropdown-menu-option {
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: var(--bg-color-secondary);
      width: 100%;
      box-sizing: border-box;
      padding: 1rem;
      cursor: pointer;
      transition: 0.2s all ease;

      &:first-child {
        border-radius: 0.625rem 0.625rem 0 0;
      }

      &:last-child {
        border-radius: 0 0 0.625rem 0.625rem;
      }

      &:hover {
        background-color: var(--bg-color-hover);
      }
      .select-dropdown-menu-option-icon {
        margin-right: 0.625rem;

        .icon {
          height: 1rem;
          width: 1rem;
          padding: 0;
        }
      }

      .select-dropdown-menu-option-text {
        font: 0.875rem var(--font-family-primary-medium);
      }

      &.small {
        padding: 0.875rem 1.25rem 0.875rem 0.875rem;
      }

      &.large {
        padding: 1rem 1.25rem 1rem 1rem;

        .select-dropdown-menu-option-text {
          font: 1rem var(--font-family-primary-medium);
        }

        .select-dropdown-menu-option-icon .icon {
          height: 1rem;
          width: 1rem;
        }
      }
    }
  }
}
