.header-wrapper {
  position: fixed;
  width: 100%;
  top: 0;
}

.header {
  margin: 8px;
  display: flex;
  justify-content: space-between;
}

/* Header Left Panel */

.header-left-panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 8px;
  height: 3rem;
}

.header-left-panel.second-row {
  top: 60px;
  left: 4px;
  position: absolute;
  height: 2rem;
}

.logo {
  padding-right: 12px;
  padding-left: 12px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin-right: 5px;
  height: 3rem;
}

.logo-name {
  font-size: 22px;
  font-family: 'gilroyextrabold', sans-serif;
}

.logo-name-tag {
  margin-left: 4px;
  color: #7e7e7e;
  font-size: 10px;
  padding: 2px 4px;
  background: #f3f2f2;
  border-radius: 4px;
  font-family: 'gilroyextrabold', sans-serif;
}

.current-project-wrapper {
  background: rgba(255, 255, 255, 0.9) 0% 0% no-repeat padding-box;
  border-radius: 10px;
  display: -webkit-flex;
  -webkit-align-items: center;
  align-items: center;
  height: 100%;
}

.current-project-content {
  margin-left: 12px;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.current-project-name {
  margin: 0 12px 2px 0px;
  font-family: 'PlusJakartaSans-extrabold', Helvetica, Sans-Serif;
  font-weight: normal;
  font-size: 14px;
  color: #4d4d4d;
}

.current-project-content .icon {
  padding: 4px;
  height: 24px;
  width: 24px;
  display: inline-block;
  position: relative;
  margin: 0 8px 0 0;
  box-sizing: border-box;
}

.home-link {
  text-decoration: none;
  cursor: pointer;
}

.logo p {
  letter-spacing: 0.2px;
  color: #2b2b2b;
  font-family: 'gilroyextrabold', sans-serif;
  margin: 0 0 1.5px 0;
}

.logo:hover .icon .inner-icon {
  cursor: pointer;
}

.divider-line {
  border-right: 1px solid #d9d9d9;
  height: 24px;
  margin-right: 10px;
}

/* View Mode */

.top-left-panel-view-modes {
  margin-left: 8px;
  margin-right: 8px;
  display: flex;
  flex-direction: row;

  .icon {
    margin: 0 8px 0 0;
    height: 24px;
    width: 24px;
    padding: 2px;
    display: inline-block;
    position: relative;
  }

  a.view-mode-link {
    vertical-align: middle;

    &.view-mode-active {
      .icon .inner-icon {
        background-color: var(--text-color-primary);
      }
    }
  }
}

// Entry points button and menu

.header-left-panel-entry-points-button {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;

  .icon {
    padding: 4px;
    height: 24px;
    width: 24px;
    display: inline-block;
    position: relative;
    margin: 0 8px 0 0;
    box-sizing: border-box;
  }
}

/* Export */

.export-wrapper {
  position: relative;
  height: 24px;
}

.export-list-wrapper {
  margin-top: 0.75rem;
  position: absolute;
  border-radius: 14px;
  background-color: #ffffff;
  padding: 12px 0;
  box-shadow: 0px 0px 6px #00000029;
  list-style: none;
}

.export-list-wrapper a {
  padding: 12px 25px;
  color: black;
  outline: none;
  font-family: 'PlusJakartaSans-medium', Helvetica, sans-serif;
  font-weight: normal;
  font-size: 14px;
  background: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  align-items: center;
  display: block;
  white-space: nowrap;
}

.export-list-wrapper a:hover {
  background: #f4f4f4 none repeat scroll 0% 0%;
  color: #5f65ff;
}

/* Current Entry Points Tab */

.active-entry-point {
  position: relative;
  font-size: 13px;
  margin-left: 5px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  display: -webkit-flex;
  /* Safari */
  -webkit-align-items: center;
  /* Safari 7.0+ */
  display: flex;
  align-items: center;
  padding: 0 30px 0 16px;
  color: #4d4d4d;
  transition: 0.5s all ease-in-out;
}

.active-entry-point:hover {
  background-color: #ffffff;
  box-shadow: 0px 0px 14px #0000000f;
}

.active-entry-point-content {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 200px;
  cursor: pointer;
}

.active-entry-point-content:hover {
  color: #5f65ff;
}

.active-entry-point img {
  height: 14px;
  width: 14px;
  margin-right: 6px;
  opacity: 0.8;
}

.active-entry-point-close {
  position: absolute;
  right: 6px;
  visibility: hidden;
}

.active-entry-point:hover > .active-entry-point-close {
  visibility: visible;
}

/* Header Middle Panel */

.header-middle-panel {
  flex: 1;
  max-height: 46px;
}

.priority-menu-wrapper {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 14px;
  border-radius: 10px;
  flex: 1;
  background: rgba(255, 255, 255, 0.9);
}

.priority-menu-item {
  padding: 12px 2px;
  margin-right: 16px;
  font-family: 'PlusJakartaSans-bold', Helvetica, sans-serif;
  font-weight: normal;
  font-size: 13px;
  text-decoration: none;
  color: #4d4d4d;
  transform: 0.2s all ease-in-out;
}

.priority-menu-item:hover {
  color: #5f65ff;
}

.priority-menu-item.active {
  border-bottom: 3px solid #5f65ff;
  color: #5f65ff;
  margin-bottom: -3px;
}

/* Header Right Panel */

.header-right-panel {
  margin-left: 5px;
  position: relative;
  padding: 5px 12px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  height: 3rem;

  .icon {
    position: relative;
    margin-right: 8px;
    display: flex;
  }

  .help-button-external {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.25rem;
    cursor: pointer;

    .typography {
      color: var(--text-color-secondary);
    }

    &:hover {
      .typography {
        color: var(--text-color-primary);
      }

      .icon .inner-icon {
        background-color: var(--text-color-primary);
      }
    }

    .icon {
      height: 1rem;
      width: 1rem;
      padding: 0;
      margin-left: 0.25rem;

      .inner-icon {
        background-color: var(--text-color-secondary);
      }
    }
  }
}

.search-button-wrapper {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  width: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* transition: 0.2s width, box-shadow, height ease; */
  transition: 0.3s width, box-shadow, height ease;
  display: flex;
  flex-direction: column;
}

.search-button-wrapper.search-is-open {
  width: 360px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #00000010;
  padding: 5px 12px;
  box-sizing: border-box;
  /* transition: 0.2s width, box-shadow, height ease; */
  transition: 0.3s width, box-shadow ease;
  transition: 0.5s height ease;
}

.search-button-wrapper.search-is-open .search-open-icon .inner-icon {
  background-color: #7e7e7e;
}

.search-button-wrapper.search-is-open.results-dropdown-is-open {
  /* max-height: 280px; */
  justify-content: normal;
  padding: 0;
}

.search-icon-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.search-button-wrapper.search-is-open .search-icon-input {
  justify-content: left;
}

.search-button-wrapper.search-is-open.results-dropdown-is-open
  .search-icon-input {
  padding: 11px 12px;
  width: 100%;
  box-sizing: border-box;
}

.search-open-icon {
}

.search-button-wrapper input {
  width: 280px;
  font-size: 14px;
  line-height: 20px;
  color: #4d4d4d;
  border: 0;
  outline: 0;
  padding: 2px;
  margin-left: 6px;
  font-family: 'PlusJakartaSans-bold', Helvetica, Sans-Serif;
  flex: 1;
}

.search-is-open input::placeholder {
  color: #bdbdbd;
}

.search-input-wrapper-enter {
  opacity: 0;
  width: 0;
}

.search-input-wrapper-enter-active {
  opacity: 1;
  width: 284px;
  transition: width 600ms;
}

.search-input-wrapper-exit {
  opacity: 1;
  width: 284px;
}

.search-input-wrapper-exit-active {
  opacity: 0;
  width: 0;
  transition: opacity, width 100ms;
}

.search-results-dropdown {
  width: 100%;
  /* border-radius: 0 0 10px 10px;
  background: #ffffff; */
  /* position: absolute;
  top: 50px; */
  box-sizing: border-box;
  /* box-shadow: 0px 0px 10px #00000010; */
}

.search-results-filters {
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding: 12px;
  border-bottom: 2px solid #ebeae8;
}

.search-results-filter-wrapper {
  background-color: #f4f0ec;
  border: 2px solid #f4f0ec;
  color: #535353;
  padding: 3px 16px 5px 16px;
  border-radius: 20px;
  margin-right: 8px;
  font-family: 'PlusJakartaSans-bold', sans-serif;
  font-size: 12px;
  cursor: pointer;
}

.search-results-filter-wrapper.Titles {
  background-color: #def3ea;
  border: 2px solid #def3ea;
}

.search-results-filter-wrapper.Descriptions {
  background-color: #d7eff1;
  border: 2px solid #d7eff1;
}

.search-results-filter-wrapper.Comments {
  background-color: #f1e5f7;
  border: 2px solid #f1e5f7;
}

.search-results-filter-wrapper.filter-is-applied {
  border: 2px solid #5f65f8;
}

.search-results-filter-wrapper:hover {
  opacity: 0.8;
}

.search-results-list {
  overflow-y: scroll;
  max-height: 202px;
}

.search-result-item-wrapper {
  padding: 10px 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
  transition: 0.2s background-color ease;
}

.search-result-item-wrapper:hover {
  background-color: #f4f3f2;
}

.search-result-item-wrapper:last-child {
  margin-bottom: 8px;
}

.search-result-item-wrapper .search-result-item-text {
  margin-left: 8px;
  font-family: 'PlusJakartaSans-bold', sans-serif;
  color: #222222;
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 1;
}

.search-result-item-text-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.search-result-item-buttons {
  display: none;
}

.search-result-item-wrapper:hover > .search-result-item-buttons {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 0.5rem;
  background-color: #f4f3f2;
}

.search-result-item-buttons .icon {
  margin-left: 0.2rem;
}

/* profile section on header */

/* Status circle */

.status-circle-wrapper {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.avatar-container img {
  width: 32px;
  height: 32px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.user-status-icon-wrapper {
  position: absolute;
  width: 10px;
  height: 10px;
  right: 0px;
  bottom: -2px;
  border-radius: 50%;
  background: #4caf50;
}

.profile-wrapper {
  position: absolute;
  right: 0;
  top: 52px;
  border-radius: 14px;
  background-color: #ffffff;
  padding: 12px 0;
  box-shadow: 0px 0px 6px #00000029;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
}

.profile-wrapper button {
  padding: 0 16px;
}

.profile-wrapper button {
  outline: none;
  background: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.profile-wrapper button:hover,
.profile-wrapper button.active {
  background: #f4f4f4;
  color: #5f65ff;
}

.profile-wrapper button p {
  font-family: 'PlusJakartaSans-medium', Helvetica, Sans-Serif;
  font-size: 14px;
}

/* User Status on header */

.status-circle {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: grey;
}

button.status-online .icon {
  background-color: #00d0c0;
}

button.status-away .icon {
  background-color: #ffc400;
}

button.status-offline .icon {
  background-color: #d1d1d1;
}

.user-status-wrapper {
  position: absolute;
  top: 0px;
  right: 139px;
  border-radius: 14px;
  background-color: #ffffff;
  padding: 12px 0;
  box-shadow: 0px 0px 6px #00000029;
  display: flex;
  flex-direction: column;
}

.user-status-wrapper button {
  padding: 0 20px;
  outline: none;
  background: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.user-status-wrapper button .icon {
  border-radius: 50%;
  height: 16px;
  width: 16px;
}

.user-status-wrapper button p {
  font-family: 'PlusJakartaSans-medium', Helvetica, Sans-Serif;
  font-size: 14px;
  padding-left: 10px;
}

.user-status-wrapper button:hover {
  background: #f4f4f4 none repeat scroll 0% 0%;
  color: #5f65ff;
}

.view-mode-active .icon .inner-icon {
  background-color: var(--text-color-primary);
}
