.header-wrapper {
  position: fixed;
  width: 100%;
  top: 0;
}

.header {
  /* width: 100%; */
  margin: 8px;
  display: flex;
  justify-content: space-between;
  max-height: 46px;
}

/* Header Left Panel */

.header-left-panel {
  display: flex;
  margin-right: 8px;
}

.logo {
  padding-right: 12px;
  padding-left: 12px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin-right: 5px;
  height: 46px;
}

.logo-name {
  font-size: 22px;
  font-family: 'gilroyextrabold', sans-serif;
}

.logo-name-tag {
  margin-left: 4px;
  color: #7e7e7e;
  font-size: 10px;
  padding: 2px 4px;
  background: #f3f2f2;
  border-radius: 4px;
  font-family: 'gilroyextrabold', sans-serif;
}

.current-project-wrapper {
  background: rgba(255, 255, 255, 0.9) 0% 0% no-repeat padding-box;
  border-radius: 10px;
  display: -webkit-flex;
  /* Safari */
  -webkit-align-items: center;
  /* Safari 7.0+ */
  display: flex;
  align-items: center;
}

.current-project-content {
  margin-left: 12px;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.current-project-name {
  margin: 0 12px 2px 0px;
  font-family: 'hk-grotesk-semibold', Helvetica, Sans-Serif;
  font-weight: normal;
  font-size: 14px;
  color: #4d4d4d;
}

.current-project-content .icon {
  padding: 4px;
  height: 24px;
  width: 24px;
  display: inline-block;
  position: relative;
  margin: 0 8px 0 0;
  box-sizing: border-box;
}

.home-link {
  text-decoration: none;
  cursor: pointer;
}

.logo p {
  letter-spacing: 0.2px;
  color: #2b2b2b;
  font-family: 'gilroyextrabold', sans-serif;
  margin: 0 0 1.5px 0;
}

.logo:hover .icon .inner-icon {
  cursor: pointer;
}

.divider-line {
  border-right: 1px solid #d9d9d9;
  height: 24px;
  margin-right: 10px;
}

/* Export */

.export-wrapper {
  position: relative;
  height: 24px;
}

.export-list-wrapper {
  margin-top: 4px;
  position: absolute;
  border-radius: 14px;
  background-color: #ffffff;
  padding: 12px 0;
  box-shadow: 0px 0px 6px #00000029;
  list-style: none;
}

.export-list-wrapper a {
  padding: 12px 25px;
  color: black;
  outline: none;
  font-family: 'hk-grotesk-medium', Helvetica, sans-serif;
  font-weight: normal;
  font-size: 14px;
  background: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  align-items: center;
  display: block;
  white-space: nowrap;
}

.export-list-wrapper a:hover {
  background: #f4f4f4 none repeat scroll 0% 0%;
  color: #5f65ff;
}

/* Current Entry Points Tab */

.active-entry-point {
  position: relative;
  font-size: 13px;
  margin-left: 5px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  display: -webkit-flex;
  /* Safari */
  -webkit-align-items: center;
  /* Safari 7.0+ */
  display: flex;
  align-items: center;
  padding: 0 26px 0 12px;
  color: #4d4d4d;
}

.active-entry-point-content {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 200px;
}

.active-entry-point img {
  height: 14px;
  width: 14px;
  margin-right: 6px;
}

.active-entry-point-close {
  position: absolute;
  right: 8px;
  visibility: hidden;
}

.active-entry-point:hover>.active-entry-point-close {
  visibility: visible;
}

/* Header Middle Panel */

.header-middle-panel {
  flex: 1
}

.priority-menu-wrapper {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 14px;
  border-radius: 10px;
  flex: 1;
  background: rgba(255, 255, 255, 0.9);
}

.priority-menu-item {
  padding: 12px 2px;
  margin-right: 16px;
  font-family: 'hk-grotesk-semibold', Helvetica, sans-serif;
  font-weight: normal;
  font-size: 13px;
  text-decoration: none;
  color: #4d4d4d;
  transform: 0.2s all ease-in-out;
}

.priority-menu-item:hover {
  color: #5f65ff;
}

.priority-menu-item.active {
  border-bottom: 3px solid #5f65ff;
  color: #5f65ff;
  margin-bottom: -3px;
}

/* Header Right Panel */

.header-right-panel {
  margin-left: 5px;
  position: relative;
  padding: 5px 12px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  box-sizing: border-box;
}

.header-right-panel-icon {
  position: relative;
  margin-right: 8px;
  display: flex;
}

.search-button-wrapper {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  height: 46px;
  width: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s width, box-shadow ease;
  display: flex;
  flex-direction: column;
}

.search-button-wrapper.search-is-open {
  width: 320px;
  background: #ffffff;
  border-radius: 10px;
  height: 46px;
  box-shadow: 0px 0px 10px #00000006;
  padding: 5px 12px;
  box-sizing: border-box;
}

.search-icon-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  width: 100%;
}

.search-open-icon {}

.search-is-open input {
  width: 240px;
  font-size: 14px;
  line-height: 18px;
  color: #4d4d4d;
  border: 0;
  outline: 0;
  padding: 2px;
  margin-left: 6px;
  font-family: 'hk-grotesk-medium', Helvetica, Sans-Serif;
  flex: 1;
}

.search-is-open input::placeholder {
  color: #bdbdbd;
}

.search-results-dropdown {
  width: 320px;
  max-height: 200px;
  border-radius: 0 0 10px 10px;
  background: #ffffff;
  position: absolute;
  top: 50px;
  box-sizing: border-box;
}

.search-results-filters {
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding: 12px;
  border-bottom: 2px solid #EBEAE8;
}

.search-results-filter-wrapper {
  background-color: #F4F0EC;
  color: #535353;
  padding: 4px 16px 7px 16px;
  border-radius: 20px;
  margin-right: 8px;
  font-family: 'hk-grotesk-bold', sans-serif;
  font-size: 12px;
}

/* Guidebook */

.guidebook-modal.modal-wrapper {
  width: 800px;
  max-width: calc(100vw - 120px);
  padding: 60px;
  max-height: 1000px;
  height: calc(100vh - 120px);
}

/* profile section on header */

/* Status circle */

.status-circle-wrapper {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.status-circle-wrapper .status-circle {
  height: 10px;
  width: 10px;
  box-shadow: 0px 0px 1px #00000030;
}

.avatar-and-status-wrapper {
  position: relative;
}

.avatar-container {
  height: 32px;
  width: 32px;
}

.avatar-container img {
  width: 32px;
  height: 32px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.user-status-icon-wrapper {
  position: absolute;
  width: 10px;
  height: 10px;
  right: 0px;
  bottom: -2px;
  border-radius: 50%;
  background: #4caf50;
}

.profile-wrapper {
  position: absolute;
  right: 0;
  top: 52px;
  border-radius: 14px;
  background-color: #ffffff;
  padding: 12px 0;
  box-shadow: 0px 0px 6px #00000029;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
}

.profile-wrapper button {
  padding: 0 16px;
}

.profile-wrapper button {
  outline: none;
  background: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.profile-wrapper button:hover, .profile-wrapper button.active {
  background: #f4f4f4;
  color: #5f65ff;
}

/* .profile-wrapper button .icon {
  border-radius: 50%;
  height: 16px;
  width: 16px;
} */

.profile-wrapper button p {
  font-family: 'hk-grotesk-medium', Helvetica, Sans-Serif;
  font-size: 14px;
}

/* User Status on header */

.status-circle {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: grey;
}

.status-circle.status-online {
  background-color: #00d0c0;
}

.status-circle.status-away {
  background-color: #ffc400;
}

.status-circle.status-offline {
  background-color: #d1d1d1;
}

/* .user-status-icon-wrapper.user-status-is-active .avatar-container+span {
  background-color: #5f65ff;
} */

button.status-online .icon {
  background-color: #00d0c0;
}

/* button.purple .icon {
  background-color: #5f65ff;
} */

button.status-away .icon {
  background-color: #ffc400;
}

button.status-offline .icon {
  background-color: #d1d1d1;
}

.user-status-wrapper {
  position: absolute;
  top: 0px;
  right: 132px;
  border-radius: 14px;
  background-color: #ffffff;
  padding: 12px 0;
  box-shadow: 0px 0px 6px #00000029;
  display: flex;
  flex-direction: column;
}

.user-status-wrapper button {
  padding: 0 20px;
  outline: none;
  background: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.user-status-wrapper button .icon {
  border-radius: 50%;
  height: 16px;
  width: 16px;
}

.user-status-wrapper button p {
  font-family: 'hk-grotesk-medium', Helvetica, Sans-Serif;
  font-size: 14px;
  padding-left: 10px;
}

.user-status-wrapper button:hover {
  background: #f4f4f4 none repeat scroll 0% 0%;
  color: #5f65ff;
}