.button-close-wrapper {
  border-radius: 50%;
  width: fit-content;
  transition: 0.2s all ease;

  &:hover {
    background-color: var(--bg-color-hover);

    .icon {
      .inner-icon {
        background-color: var(--text-color-primary);
      }
    }
  }

  .icon {
    .inner-icon {
      background-color: var(--color-silver);
    }
  }
}
