.button-close-wrapper {
  border-radius: 50%;
  width: fit-content;
  transition: 0.2s all ease;
  border: none;
  background: none;
  padding: 0;

  &:hover {
    background-color: var(--bg-color-hover);

    .icon {
      .inner-icon {
        background-color: var(--text-color-primary);
      }
    }
  }

  .icon {
    &.small {
      width: 1.5rem;
      height: 1.5rem;
    }
    .inner-icon {
      background-color: var(--color-silver);
    }
  }
}
