.project-secret-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}

.project-secret-row {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.project-secret-row .validating_form_input {
  margin-bottom: 0;
}

.project-secret-copy-secret {
  margin-left: 8px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  padding: 7px;
  cursor: pointer;
  transition: border 0.2s ease-in-out;
}

.project-secret-copy-secret:hover {
  border: 1px solid #5f65ff;
}

.project-secret-copy-secret .inner-icon {
  transition: background-color 0.2s ease-in-out;
}

.project-secret-copy-secret:hover .inner-icon {
  background-color: #5f65ff;
}

.project-secret-copy-secret .icon {
  padding-bottom: 0;
  margin: 0 auto;
}

.secret-copy-message {
  position: absolute;
  top: 118px;
  color: #00a599;
  margin-left: 10px;
  font-size: 14px;
}