.project-secret-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}

.project-secret-row {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  position: relative;
}

.project-secret-row .validating-form-input {
  margin-bottom: 0;
}

.project-secret-copy-secret {
  margin-left: 8px;
  border: 0.125rem solid var(--border-color-form-input);
  border-radius: 10px;
  padding: 7px;
  cursor: pointer;
  transition: border 0.2s ease-in-out;
  box-sizing: border-box;
}

.project-secret-copy-secret:hover {
  border: 0.125rem solid var(--text-color-link);
}

.project-secret-copy-secret .inner-icon {
  transition: background-color 0.2s ease-in-out;
}

.project-secret-copy-secret:hover .inner-icon {
  background-color: var(--text-color-link);
}

.project-secret-copy-secret .icon {
  padding-bottom: 0;
  margin: 0 auto;
}

.secret-copy-message {
  color: var(--color-forest-green);
  font-size: max(0.825rem, 13px);
  position: absolute;
  bottom: -1.375rem;
  left: 0.75rem;
}
