.project-secret-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;

  .project-secret-row {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    position: relative;

    .validating-form-input {
      margin-bottom: 0;
    }

    .project-secret-copy-secret {
      margin-left: 0.5rem;
      border: 0.125rem solid var(--border-color-form-input);
      border-radius: 0.625rem;
      padding: 0.5rem;
      cursor: pointer;
      transition: border 0.2s ease-in-out;
      box-sizing: border-box;

      &:hover {
        border: 0.125rem solid var(--text-color-link);

        .inner-icon {
          background-color: var(--text-color-link);
        }
      }

      .icon {
        padding-bottom: 0;
        margin: 0 auto;
      }

      .inner-icon {
        transition: background-color 0.2s ease-in-out;
      }
    }
  }
}
