.indented-view-search {
  display: flex;
  align-items: center;
  padding: 5px 8px;
  border-radius: 10px;
  background: #ffffff;
  margin: 15px;
}

.indented-view-resizer {
  position: absolute;
  height: 100%;
  right: 0;
  width: 5px;
  cursor: ew-resize;
}

.indented-view-search input {
  font-size: 12px;
  line-height: 18px;
  color: #4d4d4d;
  border: 0;
  outline: 0;
  padding: 2px;
  margin-left: 6px;
  font-family: 'hk-grotesk-medium', Helvetica, Sans-Serif;
  flex: 1;
}

.indented-view-search input::placeholder {
  color: #a3a3a3;
}

.indented-view-goals {
  margin-left: 15px;
}

.indented-view-goal {
  margin-top: 8px;
  font-family: 'hk-grotesk-medium', Helvetica, sans-serif;
  font-size: 13px;
  line-height: 17px;
  color: #4d4d4d;
}

.indented-view-goal-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.indented-view-goal-content {
  margin-left: 6px;
  cursor: pointer;
  padding: 11px;
  border-radius: 10px;
  text-decoration: none;
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  color: #4d4d4d;
  transition: all 0.2s;
  overflow: hidden;
  min-width: 0;
}

.indented-view-goal-content-status-color {
  width: 11px;
  height: 11px;
  margin: 0 4px 0 0;
  padding: 1px;
}

.indented-view-goal-text {
  margin-left: 6px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  flex: 1;
}

.indented-view-goal-content:hover {
  color: #00a599;
  background: #f9f9f9;
}

.indented-view-goal-content.active > .indented-view-goal-content-text,
.indented-view-goal-content:focus > .indented-view-goal-content-text {
  color: #5f65ff;
}

.indented-view-goal-content.active,
.indented-view-goal-content:focus {
  color: #5f65ff;
  background: #f9f9f9;
  font-family: 'gilroyextrabold';
}

.indented-view-nested-goal {
  margin-left: 20px;
}
