.members-indicator-wrapper {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  display: flex;
  align-items: center;
  height: 3rem;
  padding-right: 0.5rem;
  padding-left: 0.825rem;
  margin: 0 6px;
}
