.members-indicator-wrapper {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    display: -webkit-flex;
    -webkit-align-items: center;
    display: flex;
    align-items: center;
    max-height: 46px;
    padding-right: 16px;
    padding-left: 11px;
    margin: 0 8px;
}

.members-indicator-wrapper-avatars {
    border-radius: 50%;
    margin-right: -6px;
    display: flex;
}


/* .avatar~.status-circle-wrapper .status-circle,
.initials-avatar~.status-circle-wrapper .status-circle {
    height: 8px;
    width: 8px;
} */

/* .members-indicator-avatar-circle {
    border: 3px solid #ffffff;
    border-radius: 50%;
    width: 27px;
    height: 27px;
    position: relative;
} */