.members-indicator-wrapper {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    display: -webkit-flex;
    -webkit-align-items: center;
    display: flex;
    align-items: center;
    max-height: 46px;
    padding-right: 12px;
    padding-left: 12px;
    margin: 0 6px;
}

.members-indicator-wrapper-avatars {
    border-radius: 50%;
    margin-right: -4px;
    display: flex;
}

/* Invite Members Icon Button */


.invite-members-button-wrapper {
    border: 3px solid #ffffff;
    border-radius: 50%;
    z-index: 1;
}

.invite-members-button {
    border: 3px solid #ffffff;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    background-color: #f5f2ef;
    transition: 0.2s all ease;
    margin-left: -4px;
}

.invite-members-button:hover {
    opacity: 0.8;
    
}

.invite-members-button .icon {
    padding: 3px;

}

.invite-members-button:hover .inner-icon {
    background-color: #5f65ff;
  
}