.priority-view-wrapper {
  background: #fbf9f7;
  width: 100vw;
  top: 62px;
  bottom: 0px;
  position: absolute;
}

.indented-view-wrapper {
  height: calc(100vh - 62px);
  margin-right: 8px;
  float: left;
  background: #f3f0ed;
  /* box-shadow: 0px 0px 10px #0000001f; */
  display: flex;
  flex-direction: column;
  position: relative;
}

.priority-menu-wrapper {
  height: 40px;
  box-shadow: 0px 0px 6px #00000010;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 8px;
  padding: 0 12px;
  border-radius: 10px;
}

.priority-menu-item {
  padding: 11px;
  margin-right: 12px;
  font-family: 'hk-grotesk-semibold', Helvetica, sans-serif;
  font-weight: normal;
  font-size: 13px;
  text-decoration: none;
  color: #4d4d4d;
  transform: 0.2s all ease-in-out;
}

.priority-menu-item:hover {
  color: #5f65ff;
}

.priority-menu-item.active {
  border-bottom: 3px solid #5f65ff;
  color: #5f65ff;
}

.priority-quadrants-wrapper {
  height: calc(100% - 52px);
}

.priority-quadrants-content {
  display: flex;
  flex-direction: column;
  /* margin-top: 20px; */
  height: 100%;
}

.priority-quadrants-row {
  display: flex;
  flex-direction: row;
  height: 50%;
}

.priority-wrapper-full-height {
  height: calc(100% - 120px);
}

.priority-quadrants-row .priority-quadrant {
  width: 50%;
}

.priority-quadrants-vertical-divider {
  /* border-right: solid 1px #d9d9d9; */
}

.priority-quadrants-horizontal-divider {
  /* border-top: solid 1px #d9d9d9; */
  margin: 0 20px 0 20px;
}

.priority-view-picker-animation {
  transition: opacity 0.3s ease;
  position: absolute;
  top: 20%;
  left: 40px;
}

.priority-view-picker-animation.exit, .priority-view-picker-animation.enter-done, .priority-view-picker-animation.enter-active {
  opacity: 1;
}

.priority-view-picker-animation.enter, .priority-view-picker-animation.exit-done, .priority-view-picker-animation.exit-active {
  opacity: 0;
}