.ev-children-view-wrapper {
  display: flex;
  flex-direction: column;

  .ev-children-view-outcome-list {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    overflow-y: scroll;
  }
}
