.table-view-wrapper {
  margin: 62px 8px 0 8px;
  display: flex;
  flex-direction: row;
  height: calc(100vh - 128px);
}

.indented-view-wrapper {
  background: #f3f0ed;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 10px;
}
