.expanded-view-wrapper {
  height: calc(100vh - 6.5rem);
  max-height: 46.5rem;
  box-shadow: 0 0 2.5rem var(--shadow-color-dark);
  width: 60rem;
  background-color: var(--bg-color-tertiary);
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 3;

  .button-close-wrapper {
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
  }
}

.expanded-view-overlay {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  position: fixed;
  top: 0;
  z-index: 2;
  background: var(--bg-color-popup);

  // !DARK: needs plumbing
  &.light {
    background: var(--bg-color-popup);
  }

  &.dark {
    //background: var(--bg-color-popup-dark);
    background: red;
  }
}

.breadcrumbs-overlay {
  position: fixed;
  top: 0.5rem;
  left: 1rem;
  z-index: 3;
}

// breadcrumbs css transitions (animation)

.breadcrumbs-overlay-enter {
  opacity: 0;
}

.breadcrumbs-overlay-enter-active {
  opacity: 1;
  transition: opacity 0.25s 0s;
}

.breadcrumbs-overlay-exit {
  opacity: 1;
  transition: opacity 0.25s 0s;
}

.breadcrumbs-overlay-exit-active {
  opacity: 0;
}

// expanded view overlay css transitions (animation)

.expanded-view-overlay-enter {
  opacity: 0;
}

.expanded-view-overlay-enter-active {
  opacity: 1;
  transition: opacity 0.25s 0s, transform 0.25s;
}

.expanded-view-overlay-exit {
  opacity: 1;
  transition: opacity 0.25s 0s, transform 0.25s;
}

.expanded-view-overlay-exit-active {
  opacity: 0;
}

// expanded view wrapper css transitions (animation)

.expanded-view-wrapper-enter {
  -ms-transform: translate(-50%, -50%) scale(0.9);
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
}

.expanded-view-wrapper-enter-active {
  -ms-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  transition: opacity 0.25s 0s, transform 0.25s;
}

.expanded-view-wrapper-exit {
  -ms-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.expanded-view-wrapper-exit-active {
  -ms-transform: translate(-50%, -50%) scale(0.9);
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
  transition: opacity 0.25s 0s, transform 0.25s;
}

// Tab view

.expanded-view-tab-view-wrapper {
  display: flex;
  flex-direction: row;
  padding-top: 1.5rem;
  flex: 1;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

/* expanded view date picker */

.expanded-view-wrapper > .date_picker_wrapper {
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.expanded-view-main {
  display: flex;
  flex-direction: row;
}

.outcome-form textarea {
  background-color: transparent;
  border: 0;
  outline: none;
  margin: 24px 22px 25px 27px;
  width: 309px;
  height: 70px;
  resize: none;
  color: #4d4d4d;
  font-family: 'PlusJakartaSans-medium', Helvetica, Sans-Serif;
  font-size: 20px;
  line-height: 24px;
}
