.icon {
  width: 36px;
  height: 36px;
  box-sizing: border-box;
  padding: 6px;
  cursor: pointer;
  position: relative;
}

.inner-icon {
  /* default: dark grey */
  background-color: var(--text-color-primary);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: contain;
  width: 100%;
  height: 100%;
}

.icon:not(.not-hoverable) .inner-icon {
  transition: 0.2s background-color ease;
}

.icon:not(.not-hoverable):hover .inner-icon {
  background-color: var(--text-color-link);
}

.icon.not-hoverable {
  cursor: default;
}

.icon.uncertain .inner-icon {
  background-color: var(--color-pumpkin);
}

.icon.grey .inner-icon {
  background-color: #898989;
}

.icon.light-grey .inner-icon {
  background-color: var(--color-silver);
}

.icon.purple .inner-icon {
  background-color: var(--text-color-link);
}

.icon.white .inner-icon {
  background-color: #ffffff;
  cursor: pointer;
}

/* Icons Sizes */

.icon.very-small {
  width: 16px;
  height: 16px;
  padding: 2px;
  cursor: pointer;
}

.icon.small {
  width: 24px;
  height: 24px;
  padding: 2px;
  cursor: pointer;
}

.icon.small-close {
  /* width: 24px;
  height: 24px;
  padding: 4px;
  cursor: pointer; */
}

.icon.very-small-close {
  /* width: 20px;
  height: 20px;
  padding: 0;
  cursor: pointer; */
}

.icon.medium {
  width: 32px;
  height: 32px;
  padding: 2px;
  cursor: pointer;
}

.icon.medium-MultiEditBar {
  width: 40px;
  height: 32px;
  padding: 6px;
  cursor: pointer;
}

.icon.medium-expanded-view {
  height: 26px;
  padding: 1px;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.icon.logo {
  width: 28px;
  height: 18px;
  padding: 1.25px;
  display: inline-block;
  position: relative;
  right: -2px;
  background: transparent;
}

.icon.view-mode-small {
  height: 24px;
  width: 24px;
  padding: 4px;
  display: inline-block;
  position: relative;
  margin-top: 2;
  margin-left: 0;
  box-sizing: border-box;
}

.icon.user-status {
  width: 18px;
  height: 18px;
  padding: 0px;
  cursor: pointer;
}

.icon.with_background {
  /* background-color: rgba(173, 166, 157, 0.75); */
  background-color: #ffffff80;
  border-radius: 8px;
  padding: 8px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.16);
}

.icon.with_background:hover {
  /* background-color: rgba(173, 166, 157, 0.9); */
  background-color: #ffffff;
  padding: 8px;
}

/* Hierarchy Icons with Status Color */

.icon.Uncertain .inner-icon {
  background-color: #ff5d36;
}

.icon.Incomplete .inner-icon {
  background-color: #ffc400;
}

.icon.InProcess .inner-icon {
  background-color: #ff9cab;
}

.icon.InReview .inner-icon {
  background-color: #00e2ff;
}

.icon.Complete .inner-icon {
  background-color: #83e300;
}

/* Tooltip configuration */

.icon.withTooltip:hover .tooltip-wrapper {
  visibility: visible;
}
