.preferences-title {
  font-size: 24px;
  line-height: 32px;
  color: #4d4d4d;
  font-family: 'gilroyextrabold', 'gilroyextrabold', Helvetica, sans-serif;
  text-align: center;
  margin-bottom: 20px;
}

.navigation-mode-option-icon-trackpad .icon {
  height: 49px;
  width: 47px;
  margin-bottom: -8px;
}

.navigation-mode-option-icon-mouse .icon {
  height: 45px;
  width: 40px;
  margin-bottom: -5px;
}

.navigation-mode-description-title-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.navigation-mode-description-title-wrapper .icon {
  height: 12px;
  cursor: unset;
  padding: 0;
}

.navigation-mode-description-title {
  font-size: 16px;
  line-height: 20px;
  font-family: 'hk-grotesk-semibold', Helvetica, sans-serif;
  color: #222222;
  margin-left: 10px;
}

.navigation-mode-description-text {
  font-size: 14px;
  line-height: 18px;
  color: #3b3b3b;
  margin-left: 26px;
}

.preferences-save-button {
  text-align: center;
  margin-top: 40px;
}