.preferences-modal {
}

// Preferences Modal animation
.preferences-modal-enter {
  opacity: 0;
}

.preferences-modal-enter-active {
  opacity: 1;
  transition: 0.2s all;
}

.preferences-modal-exit {
  opacity: 1;
}

.preferences-modal-exit-active {
  opacity: 0;
  transition: 0.2s all;
}

.preferences {
  background-color: var(--bg-color-secondary);
  width: calc(100vw);
  height: calc(100vh);
  overflow-y: hidden;
  box-sizing: border-box;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 4;
  // border-radius: 1rem;

  .preferences-close {
    position: absolute;
    right: 2.5rem;
    top: 2.5rem;
  }

  .preferences-save-button {
    border-top: 1.5px solid var(--border-color-timberwolf);
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem 0 2rem 0;
  }

  .preferences-inner-wrapper {
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .preferences-scrollable {
      overflow-y: auto;
      flex-grow: 1;
    }

    .preferences-content {
      max-width: 30rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      box-sizing: border-box;
      padding: 1rem 3rem;
    }
  }

  .preferences-title {
    font-size: 24px;
    line-height: 1.5;
    font-family: var(--font-family-primary-bold);
    text-align: center;
    border-bottom: 1.5px solid var(--border-color-timberwolf);
    width: 100%;
    padding: 2.75rem 0 2rem;
  }
}

.navigation-mode-option-icon-trackpad {
  .icon {
    height: 49px;
    width: 47px;
    margin-bottom: -8px;
  }
}

.navigation-mode-option-icon-mouse {
  .icon {
    height: 45px;
    width: 40px;
    margin-bottom: -5px;
  }
}

.navigation-mode-description-title-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;

  .icon {
    height: 12px;
    cursor: unset;
    padding: 0;
  }
}

.navigation-mode-description-title {
  font-size: 16px;
  line-height: 20px;
  font-family: 'PlusJakartaSans-bold', Helvetica, sans-serif;
  color: #222222;
  margin-left: 10px;
}

.navigation-mode-description-text {
  font-size: 14px;
  line-height: 18px;
  color: #3b3b3b;
  margin-left: 26px;
}
