.map-view-outcome-title-form-wrapper {
  position: absolute;
  display: flex;
}

.map-view-outcome-title-form-form {
  width: 25rem;
}

.map-view-outcome-title-form-form textarea {
  background-color: transparent;
  border: 0;
  outline: none;
  padding: 0;
  margin: 4.65rem 4rem 1.5rem 4rem;
  width: 24.5rem;
  height: 4.3rem;
  resize: none;
  color: var(--text-color-primary);
  font-family: var(--font-family-primary-bold);
}

.map-view-outcome-title-form-form ::selection {
  // TODO: decide on this
  // background: var(--bg-color-achieved);
}
