.button {
  border-radius: 25px;
  background: #6600ff;
  border: 1px solid #6600ff;
  color: #ffffff;
  outline: none;
  border: none;
  font-size: 16px;
  line-height: 19px;
  padding: 16px 42px;
  cursor: pointer;
  font-family: 'gilroyextrabold', Helvetica, sans-serif;
  transition: 0.2s all;
}

.button:hover {
  background: #7c24ff;
  border: 1px solid #7c24ff;
}

.clear-button {
  outline: none;
  background: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  margin: 0;
  font-family: 'PlusJakartaSans-bold';
  font-size: 11px;
  padding: 0;
  color: #00beb0;
}

.clear-button:hover {
  color: #5f65ff;
}

.button.purple {
  background: #6600ff;
  color: #ffffff;
}

.button.purple:hover {
  background: #7c24ff;
}

.button.green {
  background: #00afa4;
  color: #ffffff;
}

.button.green:hover {
  background: #00beb0;
}

.button.small {
  border-radius: 25px;
  outline: none;
  border: none;
  font-size: 13px;
  line-height: 16px;
  padding: 10px 20px;
}

.button.medium {
  border-radius: 25px;
  outline: none;
  border: none;
  font-size: 14px;
  line-height: 18px;
  padding: 11px 28px;
}

.button.large {
  border-radius: 25px;
  outline: none;
  border: none;
  font-size: 16px;
  line-height: 20px;
  padding: 15px 30px;
  min-width: 135px;
}

.button.stroke {
  background: transparent;
  border: 1px solid #4d4d4d;
  color: #4d4d4d;
  transition: color 0.2s ease-in-out, border 0.2s ease-in-out;
}

.button.stroke:hover {
  background: transparent;
  border: 1px solid #7c24ff;
  color: #7c24ff;
}