.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  font: 0.875rem var(--font-family-primary-extrabold);
  color: var(--text-color-primary);
  background-color: var(--bg-color-secondary);
  box-shadow: 0rem 0rem 0.75rem var(--shadow-color);
  min-width: 4rem;
  padding: 1rem;
  border: none;
  box-sizing: border-box;
  border-radius: 0.625rem;
  cursor: pointer;
  transition: 0.2s box-shadow ease;
  -webkit-font-smoothing: antialiased;
  margin: 1rem;
  text-decoration: none;

  &.secondary {
    font: 0.875rem var(--font-family-primary-medium);
  }

  &.disabled {
    opacity: 0.6;
    cursor: default;
    color: var(--color-silver);

    &:hover {
      box-shadow: 0rem 0rem 0.75rem var(--shadow-color);
    }
  }

  // border-radius: 25px;
  // background: #6600ff;
  // border: 1px solid #6600ff;
  // color: #ffffff;
  // outline: none;
  // border: none;
  // font-size: 1rem;
  // line-height: 19px;
  // padding: 16px 42px;
  // cursor: pointer;
  // font-family: 'gilroyextrabold', Helvetica, sans-serif;
  // transition: 0.2s all;

  &:hover {
    box-shadow: 0rem 0rem 1.25rem var(--shadow-color-hover);
  }

  // buttons colors
  &.purple {
    background-color: #6600ff;
    color: #ffffff;
  }
  &.green {
    background-color: #00afa4;
    color: #ffffff;
  }

  // buttons sizes
  &.small {
    font-size: 0.875rem;
    line-height: 1.45;
    padding: 0.625rem 0.875rem;
    margin: 0.25rem;
  }
  &.medium {
    font-size: 1rem;
    line-height: 1.45;
    padding: 0.875rem 1.5rem;
  }
  &.large {
    font-size: 1.25rem;
    line-height: 1.45;
    padding: 1rem 2rem;
    min-width: 8rem;
  }

  // stroked button (transparent background)
  &.stroke {
    background: transparent;
    border: 1px solid #4d4d4d;
    color: #4d4d4d;
    transition: color 0.2s ease-in-out, border 0.2s ease-in-out;

    &:hover {
      background: transparent;
      border: 1px solid #7c24ff;
      color: #7c24ff;
    }
  }
}

// clear button
.clear-button {
  outline: none;
  background: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  margin: 0;
  font-family: 'PlusJakartaSans-bold';
  font-size: 0.75rem;
  padding: 0;
  color: #00beb0;

  &:hover {
    color: var(--text-color-link);
  }
}
