.ev-read-only-heading-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 0 3rem 1.5rem 3rem;
  border-bottom: 0.125rem solid var(--border-color-platinum);
  max-height: 6rem;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .ev-read-only-heading {
    font: 1.5rem var(--font-family-primary-bold);
    line-height: 1.35;
    letter-spacing: 0.01rem;
    margin-right: 2.75rem;
    flex: 1;
    height: 100%;
    display: -webkit-box;
    display: box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
