
.button-tab-icon-wrapper {
  color: var(--text-color-quaternary);
  display: flex;
  cursor: pointer;
  align-items: center;
  transition: 0.2s all ease;
  padding: 1rem;

  .icon {
    width: 2.625rem;
    height: 2.625rem;
  }
}

.button-tab-icon-wrapper.feature-in-development {
  cursor: default;
}

.button-tab-icon-wrapper.feature-in-development .icon:not(.not-hoverable) {
  cursor: default;
}

/* NavBar Item Hover State */

.button-tab-icon-wrapper:hover {
  color: var(--text-color-primary);

}

.button-tab-icon-wrapper:hover .icon:not(.not-hoverable) .inner-icon {
  transition: all 0.3s;
  background-color: var(--text-color-primary);
}

/* NavBar Item Active State */

.button-tab-icon-wrapper.active-tab {
  color: var(--text-color-primary);
}

.button-tab-icon-wrapper.active-tab .icon:not(.not-hoverable) .inner-icon {
  background-color: var(--text-color-primary);
}

.button-tab-icon-wrapper .icon.very-small.grey {
  margin-right: 4px;
}