.add-attachment-wrapper {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  font: 1rem var(--font-family-primary-medium);
  color: var(--text-color-placeholder);

  .add-attachment-icon-wrapper {
    cursor: pointer;
    
    .attachment-icon {
      color: var(--text-color-placeholder);
      
      &:hover {
        color: var(--color-blue);
      }
    }
  }

  .attachment-placeholder-text {
    margin-left: 0.625rem;
    color: var(--text-color-placeholder);
    cursor: default;
  }

  &.small {
    font: 0.825rem var(--font-family-primary-medium);
  }

  &.large {
    font: 1.25rem var(--font-family-primary-medium);
  }
}
