.asset-list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.625rem 1.5rem 0.625rem 1.125rem;
    border-radius: 0.5rem;
    transition: 0.2s background-color ease;
    position: relative;
  
    &:hover {
      background-color: var(--bg-color-hover);
  
      .asset-list-item-switch-button {
        display: flex;
      }
    }
  
    .asset-list-item-icon-wrapper {
      margin-right: 0.5rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 1.25rem;
      height: 1.25rem;
      padding: 0.125rem;
      
      .asset-icon {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
      
      &.progress {
        .progress-ring {
          scale: 1.125;
        }
      }
  
      .icon {
        padding: 0;
        width: 1.25rem;
        height: 1.25rem;
      }
    }
  
    .asset-list-item-info {
      transition: 0.2s all ease;
      overflow: hidden;
      flex: 1;
      display: flex;
      flex-direction: column;
  
      div {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      
      .applet-name {
        color: var(--text-color-secondary);
        margin-top: 0.125rem;
      }
    }
  
    .asset-list-item-applet-icon {
      margin-right: 1.5rem;
      margin-left: 0.5rem;
      width: 1.5rem;
      height: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 0.25rem;
      }
    }
    
    .asset-list-item-switch-button {
      display: none;
      cursor: pointer;
      background-color: var(--bg-color-secondary);
      position: absolute;
      padding: 0.325rem;
      right: 0.5rem;
      border-radius: 0.25rem;
  
      &:hover {
        background-color: var(--bg-color-secondary);
        .icon .inner-icon {
          background-color: var(--text-color-link);
        }
      }
  
      .icon {
        height: 1.5rem;
        width: 1.5rem;
  
        .inner-icon {
          &:hover {
            background-color: var(--text-color-link);
          }
        }
      }
    }
  }
  
