.modal {
  top: 0;
  left: 0;
  background: rgb(239 236 231 / 90%);
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;

  .modal-content-wrapper {
    display: flex;
    width: 100%;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    line-height: 1.45;

    .modal-content {
      width: 100%;
    }
  }
}

// Modal animation
.modal-enter {
  opacity: 0;
}

.modal-enter-active {
  opacity: 1;
  transition: 0.2s all;
}

.modal-exit {
  opacity: 1;
}

.modal-exit-active {
  opacity: 0;
  transition: 0.2s all;
}

.modal.modal-white {
  background: rgb(239 236 231 / 90%);
}

.modal-wrapper::-webkit-scrollbar {
  display: none;
}

.modal-wrapper {
  position: absolute;
  width: 32.5rem;
  box-sizing: border-box;
  padding: 4rem;
  background-color: #ffff;
  border-radius: 1rem;
  box-shadow: 0px 0px 1rem var(--shadow-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.2s all;
  overflow-y: scroll;
  max-height: calc(100vh - 2rem);

  .modal-button-close {
    position: absolute;
    right: 1.25rem;
    top: 1.25rem;
    width: fit-content;
    height: fit-content;
  }

  .modal-heading-with-icon-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;

    .modal-icon {
      margin-right: 0.5rem;
      cursor: default;

      .icon {
        padding: 0;
        height: 1.25rem;
        width: 1.25rem;
      }
    }
  }

  .modal-buttons-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &.has-one-button {
      justify-content: center;
    }
  }
}

.dont-show-again-option {
  cursor: pointer;
  font-size: 14px;
  color: #4d4d4d;
}

.dont-show-again-option label {
  cursor: pointer;
}

.btn-stroked {
  margin-right: 20px;
}

.modal-outcomes-list {
  max-height: 12rem;
  overflow-y: scroll;
  overflow-x: hidden;
  font-size: 0.875rem;
  font-family: var(--font-family-primary-bold);
  margin-bottom: 1rem;
  margin-top: 1rem;
  line-height: 1.45;
  background-color: var(--bg-color-hover);
  border-radius: 0.875rem;
  padding: 1rem 1.25rem 1rem 0;

  ul {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}
