.browse-files-button {
  display: none;
}

.import-project-modal-wrapper {
  /* width: 550px; */
  height: 345px;
  overflow: hidden;
  position: relative;
  justify-content: space-between;
}

.import-project-modal-wrapper .validating_form_input {
  margin-bottom: 28px;
}

.import-project-modal-wrapper .project-modal-content-spacer {
  margin-top: 30px;
}

.import-project-image-row {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-bottom: 28px;
}

.import-project-image-row .validating_form_input {
  margin-bottom: 0;
}

.import-project-image {
  margin-left: 8px;
  width: 38px;
  height: 38px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  border: 1.2px solid #e2e2e2;
}

.import-project-form {}

/* project created modal animation */

/* default is to be hidden */

.project-imported-modal {
  /* position: absolute; */
  opacity: 0;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  transition: opacity 0.3s, transform 0.4s;
}

/* then it shows */

.project-imported-modal.project-imported {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.project-imported-modal.project-imported .project-modal-content-spacer {
  margin-bottom: 104px;
  margin-top: 104px;
}

/* Importing State */

.importing-modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex: 1;
}

.importing-modal-content-title {
  font-size: 20px;
  font-family: 'gilroyextrabold', Helvetica, sans-serif;
  margin-bottom: 8px;
  margin-top: 4px;
}

.importing-modal-content img {
  height: 40px;
  padding: 20px;
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}