.project-modal-heading {
  margin-bottom: 0.5rem;
}

.project-modal-subheading {
  // font-family: 'PlusJakartaSans-medium', Helvetica, sans-serif;
  margin-bottom: 30px;
  // line-height: 1.4;
}

.project-modal-content-spacer {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.project-modal-button {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
