.project-modal-heading {
  font-size: 24px;
  font-family: 'gilroyextrabold', Helvetica, sans-serif;
  color: #222222;
  margin-bottom: 14px;
}

.project-modal-subheading {
  font-family: 'PlusJakartaSans-medium', Helvetica, sans-serif;
  margin-bottom: 30px;
  line-height: 1.4;
}

.project-modal-content-spacer {
  margin-bottom: 50px;
  margin-top: 50px;
}

.project-modal-button {
  text-align: center;
}