.comment-history-item {
  display: flex;
  margin-bottom: 16px;
}

.comment-history-avatar {
  display: inline-block;
  margin-top: 2px;
}
.comment-history-avatar .avatar-wrapper {
  position: relative;
}

.comment-history-content {
  margin-left: 10px;
}

.comment-history-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 4px;
}

.comment-history-name {
  color: #4e566f;
  font-size: 14px;
  font-family: 'PlusJakartaSans-extrabold', Helvetica, sans-serif;
  margin-right: 6px;
  display: flex;
  flex-direction: row;
}

.comment-history-date {
  color: #a3a3a3;
  font-size: 12px;
}

.comment-history-text {
  color: #4d4d4d;
  font-size: 14px;
  box-sizing: border-box;
  max-width: 365px;
  white-space: pre-wrap;
  line-height: 1.45;
}
