.preferences-title {
  font-size: 24px;
  line-height: 32px;
  color: #4d4d4d;
  font-family: 'gilroyextrabold', 'gilroyextrabold', Helvetica, sans-serif;
  text-align: center;
  margin-bottom: 20px;
}

.preferences-section {
  padding: 20px 0;
  border-bottom: 1px solid #e3e3e3;
}

.preferences-section-title-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.preferences-section-title-wrapper .icon {
  height: 16px;
  cursor: unset;
  padding: 0;
}

.preferences-section-title {
  font-size: 18px;
  line-height: 24px;
  font-family: 'hk-grotesk-bold', Helvetica, sans-serif;
  color: #222222;
  display: flex;
  flex-direction: row;
  margin-left: 8px;
}

.preferences-section-subtitle {
  font-size: 14px;
  line-height: 18px;
  color: #898989;
  margin-bottom: 40px;
  margin-left: 24px;
}

.navigation-mode-options-wrapper {
  display: flex;
  flex-direction: row;
  padding: 0 30px;
  margin-bottom: 40px;
}

.navigation-mode-option {
  font-size: 16px;
  line-height: 22px;
  font-family: 'hk-grotesk-medium', Helvetica, sans-serif;
  color: #222222;
  text-align: center;
  border: 1px solid #e3e3e3;
  border-radius: 10px;
  width: 150px;
  height: 120px;
  margin: 0 auto;
  display: block;
  cursor: pointer;
  transition: border 0.2s ease-in-out;
}

.navigation-mode-option:hover, .navigation-mode-option.active {
  border: 1px solid #6d0ef7;
  box-shadow: 0px 3px 6px #00000016;
}

.navigation-mode-option-content {
  width: 150px;
  height: 120px;
  display: table-cell;
  vertical-align: middle;
}

.navigation-mode-option-content .icon {
  margin: 0 auto;
  cursor: pointer;
}

.navigation-mode-option-icon-trackpad .icon {
  height: 49px;
  width: 47px;
  margin-bottom: -8px;
}

.navigation-mode-option-icon-mouse .icon {
  height: 45px;
  width: 40px;
  margin-bottom: -5px;
}

.navigation-mode-option-text {
  margin-top: 14px;
}

.navigation-mode-description-wrapper {
  padding-bottom: 20px;
  padding-left: 20px;
}

.navigation-mode-description-title-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.navigation-mode-description-title-wrapper .icon {
  height: 12px;
  cursor: unset;
  padding: 0;
}

.navigation-mode-description-title {
  font-size: 16px;
  line-height: 20px;
  font-family: 'hk-grotesk-semibold', Helvetica, sans-serif;
  color: #222222;
  margin-left: 10px;
}

.navigation-mode-description-text {
  font-size: 14px;
  line-height: 18px;
  color: #3b3b3b;
  margin-left: 26px;
}

.preferences-save-button {
  text-align: center;
  margin-top: 40px;
}