.priority-quadrant {
  display: flex;
  flex: 1;
  flex-direction: column;
  /* margin: 8px; */
  box-shadow: 0px 0px 10px #00000010;
  border-radius: 10px;
  background: #ffffff70;
}

.priority-quadrant-title {
  text-align: left;
  font-size: 16px;
  line-height: 28px;
  color: #4d4d4d;
  font-family: 'gilroyextrabold', Helvetica, sans-serif;
  font-weight: normal;
  padding: 14px 20px 12px;
  /* border-bottom: 1px solid #f2f2f2; */
}

.priority-quadrant-goals {
  overflow-y: scroll;
}