.zoom-wrapper {
  display: flex;
  align-items: center;
  margin: 0 0 0 12px;
  border-right: 1px solid #d9d9d9;
}

.zoom-wrapper .icon, span {
  display: inline-block;
}

.zoom-wrapper span {
  font-size: 14px;
  font-family: 'gilroyextrabold', Helvetica, sans-serif;
  font-weight: normal;
  margin-right: 10px;
  width: 40px;
  color: #535353;
}

.zoom-wrapper .icon {
  margin-right: 8px;
  /* height: 22px;
  width: 22px;
  padding: 4px;
  box-sizing: border-box; */
}