.zoom-wrapper {
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 0.625rem;
  height: 3rem;
  padding: 0.75rem 0.625rem;
  box-sizing: border-box;

  .icon {
    display: inline-block;
    margin-right: 0.5rem;
  }

  span {
    display: inline-block;
    font-size: 14px;
    font-family: 'gilroyextrabold', Helvetica, sans-serif;
    font-weight: normal;

    width: 40px;
    color: #535353;
  }
}
