.guidebook-outer-wrapper {}

.guidebook-outer-wrapper button {
  margin: 0;
}

.guidebook-wrapper {
  position: relative;
}

.guidebook-title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 18px;
  font-family: 'gilroyextrabold', Helvetica, sans-serif;
  font-weight: normal;
  margin-top: -2px;
}

.howtos {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.how-tos-nav {
  width: 290px;
  margin-right: 24px;
  height: 100%;
  overflow-y: scroll;
}

.guidebook-wrapper .nav-item {
  cursor: pointer;
  font-size: 16px;
  font-family: 'hk-grotesk-bold', Helvetica, sans-serif;
  margin-bottom: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: color 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.guidebook-wrapper .nav-item:hover {
  color: #5f65ff;
}

.guidebook-wrapper .nav-item .icon {
  margin-right: 10px;
  height: 14px;
  width: 14px;
}

.guidebook-wrapper .sidebar-submenu {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.5s ease-in-out;
  transition: max-height 0.5s ease-in-out;
  font-family: 'hk-grotesk-bold', Helvetica, sans-serif;
  margin-bottom: 18px;
  margin-left: 30px;
}

.guidebook-wrapper .sidebar-submenu.active {
  max-height: 1000px;
}

.guidebook-wrapper .sidebar-submenu ul {
  margin: 0;
  list-style: none;
  padding-left: 0px;
}

.guidebook-wrapper .sidebar-submenu ul li {
  margin-bottom: 10px;
}

.guidebook-wrapper .sidebar-submenu ul li a {
  text-align: left;
  background: none;
  margin: 0;
  display: inline-block;
  border: none;
  cursor: pointer;
  font-size: 13px;
  font-family: 'hk-grotesk-semibold', Helvetica, sans-serif;
  transition: color 0.2s ease-in-out;
  text-decoration: none;
  color: #222222;
}

.guidebook-wrapper .sidebar-submenu ul li a:hover {
  color: #00afa4;
}

.guidebook-wrapper .sidebar-submenu ul li a.active {
  color: #5f65ff;
}

.guidebook-wrapper .guidebook-section {
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 0 10px;
  overflow-y: scroll;
  height: 100%;
}

.guidebook-section-description {
  margin: 0;
  margin-bottom: 22px;
  line-height: 24px;
}

.guidebook-wrapper .guidebook-section ol {
  margin-top: 0;
  padding-left: 0;
}

.guidebook-description-section {
  margin-bottom: 20px;
}

.guidebook-description-bold {
  font-family: 'hk-grotesk-bold', Helvetica, sans-serif;
}

.guidebook-separate-line {
  margin-bottom: 16px;
  padding-left: 0;
  line-height: 1.6;
  margin-bottom: 12px;
}

.guidebook-separate-line.sub-heading {
  font-family: 'hk-grotesk-bold', Helvetica, sans-serif;
  font-size: 18px;
}

.guidebook-section-description li {
  margin-bottom: 20px;
  list-style: none;
}

.guidebook-section-title {
  font-size: 24px;
  font-family: 'hk-grotesk-bold', Helvetica, sans-serif;
  margin-bottom: 30px;
}

.guidebook-wrapper button {
  outline: none;
}

.guidebook-section-content {
  padding: 0;
}

/* shortcuts section */

.guidebook-shortcut-category-wrapper {
  margin-bottom: 30px;
}

.guidebook-shortcut-category-title {
  font-size: 20px;
  font-family: 'hk-grotesk-bold', Helvetica, sans-serif;
  margin-bottom: 24px;
}

.guidebook-shortcut-row {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #efefef;
  padding-bottom: 14px;
  margin-bottom: 14px;
}

.guidebook-shortcut-key {
  font-family: 'hk-grotesk-bold', Helvetica, sans-serif;
}

.guidebook-shortcut-title {
  width: 46%;
  margin-right: 20px;
}