.outcome-list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.625rem 2rem 0.625rem 3rem;
  transition: 0.2s background-color ease;
  position: relative;

  &:hover {
    background-color: var(--bg-color-hover);

    .outcome-list-item-switch-button {
      display: flex;
    }
  }

  .outcome-list-item-id {
    margin-right: 1rem;
  }

  .outcome-list-item-icon-wrapper {
    margin-right: 0.25rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 1.25rem;
    height: 1.25rem;
    aspect-ratio: 1/1;
    padding: 0.125rem;

    &.progress {
      margin-right: 0.375rem;
    }

    .icon {
      padding: 0;
      width: 1.25rem;
      height: 1.25rem;
    }
  }

  .outcome-list-item-statement {
    transition: 0.2s all ease;
    overflow: hidden;

    div {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  .outcome-list-item-switch-button {
    display: none;
    cursor: pointer;
    background-color: var(--bg-color-hover);
    position: absolute;
    padding: 0.125rem 0.5rem;
    right: 1rem;
    top: 0.5rem;

    .icon {
      height: 1.5rem;
      width: 1.5rem;
      padding: 0;

      .inner-icon {
        &:hover {
          background-color: var(--text-color-primary);
        }
      }
    }
  }
}
