.outcome-table-view-filters-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 0.5rem;

  .table-view-filter-wrapper {
    margin-right: 0.5rem;
    margin-bottom: 0.25rem;
    margin-top: 0.5rem;

    &:first-child {
      padding-right: 0.625rem;
      margin-right: 0.625rem;
      border-right: 0.125rem solid var(--border-color-platinum);
    }

    &.scope {
      .filter-dropdown-menu {
        width: 9rem;
      }
    }

    &.assignees,
    &.tags {
      .filter-dropdown-menu {
        width: 12rem;
        .filter-dropdown-menu-option {
          padding: 0.5rem 1rem;
        }
      }
    }
  }

  .filter-search-wrapper {
    width: 18rem;
    height: 2.625rem;
    padding-right: 1rem;
    box-sizing: border-box;
  }

  .filter-button-wrapper {
    .avatar-wrapper,
    .avatar {
      height: 1.125rem;
      width: 1.125rem;
    }

    .initials-avatar {
      height: 1.125rem;
      width: 1.125rem;
      font-size: 0.625rem;
    }
  }

  // Clear selection button
  .table-view-filter-wrapper-clear {
    cursor: pointer;
    padding: 0.25rem;
    margin-top: 0.25rem;
    // TODO: smarter styling here
    .typography {
      color: var(--text-color-tertiary);

      &:hover {
        color: var(--text-color-secondary);
      }
    }
  }
}

.filter-menu-assingees-list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  .filter-menu-assingees-list-item-avatar {
    margin-right: 0.375rem;
  }

  .filter-menu-assingees-list-item-name {
  }
}
