.outcome-connector {
  position: absolute;
  width: 30px;
  height: 30px;
  transform: translate(-15px, -15px);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

.outcome-connector-blue-dot {
  background-color: #b1b9ff;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin: 10px;
}

.outcome-connector:hover .outcome-connector-blue-dot,
.outcome-connector.active .outcome-connector-blue-dot {
  background-color: #6772ff;
}