.error-screen-wrapper {
  height: 100vh;
  background: white;
  display: flex;
  flex-direction: column;
}

.error-screen-content-frame {
  margin: auto auto;
  max-width: 1000px;
  height: 520px;
  position: relative;
  display: flex;
  flex-direction: row;
}

.error-screen-column-left {
  margin-right: 20px;
  padding: 20px;
}

.error-screen-title {
  font-family: 'gilroyextrabold', Helvetica, sans-serif;
  font-size: 48px;
  line-height: 60px;
  margin-bottom: 24px;
  color: #535353;
}

.error-screen-subtitle {
  font-family: 'hk-grotesk-medium', Helvetica, sans-serif;
  font-size: 28px;
  line-height: 34px;
  color: #535353;
  margin-bottom: 46px;
}

.error-screen-description {
  font-family: 'hk-grotesk-medium', Helvetica, sans-serif;
  font-size: 16px;
  line-height: 30px;
  color: #535353;
  margin-bottom: 20px;
}

.error-screen-description a {
  text-decoration: none;
  color: #5f65ff;
  transition: color 0.2s ease-in-out;
}
.error-screen-description a:hover {
  color: #00afa4;
}

.show-stack-trace-wrapper {
  height: 150px;
}

.show-stack-trace-button {
  font-family: 'hk-grotesk-medium', Helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #8e8e8e;
  cursor: pointer;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.show-stack-trace-button-text {
  width: 110px;
}

.show-stack-trace-button .icon {
  height: 12px;
  width: 12px;
  margin-left: 4px;
}

.show-stack-trace-field {
  height: 120px;
  background-color: #efefef;
  border-radius: 4px;
  border: 1px solid #e6e6e6;
  transition: ease-in-out 0.2s;
  box-sizing: border-box;
  font-family: monospace;
  white-space: pre;
  overflow: scroll;
  width: 100%;
  resize: none;
}

.error-screen-buttons {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.error-screen-report-issue-button {
  margin-right: 20px;
}

.error-screen-column-right img {
  padding: 40px;
  width: 320px;
}
