.select-wrapper {
  width: 100%;
  position: relative;

  .select-toggle-wrapper {
    cursor: pointer;
    padding: 0.75rem 1rem;
    border: 0.125rem solid var(--border-color-timberwolf);
    border-radius: 0.5rem;
    color: #7c7c7c;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: border 0.2s ease-in-out;

    &.active {
      border: 0.125rem solid var(--border-color-primary);
    }

    &.has-selection {
      border: 0.125rem solid var(--border-color-primary);
    }

    .icon {
      transition: transform 0.2s ease-in;
      width: 1rem;
      height: 1rem;
      padding: 0;

      &.active {
        transform: rotateX(180deg);
        -webkit-transform: rotate(180deg);
      }
    }

    .select-toggle-label-text {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      flex: 1;
      color: var(--text-color-primary);

      // &::placeholder {
      //   color: red;
      // }
    }
  }

  .select-options-wrapper {
    position: absolute;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 0px 1.25rem var(--shadow-color-dark);
    border-radius: 0.75rem;
    padding: 0.75rem 0;
    margin-top: 0.25rem;
    overflow-y: scroll;
    max-height: 16rem;
    z-index: 2;

    &:last-child {
      max-height: 9rem;
    }

    &.active > .select-option-item {
      font-family: var(--font-family-primary-bold);
    }
  }

  .select-option-item-wrapper {
    &.active {
      font-family: var(--font-family-primary-bold);
    }
    .select-option-item {
      padding: 10px 12px;
      cursor: pointer;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      background-color: #ffffff;
      transition: 0.1s ease-in-out;

      &:hover {
        color: var(--text-color-primary);
        background-color: var(--bg-color-primary);
      }
    }
  }
}

// CCS Transitions ofr select-options
.select-options-enter {
  opacity: 0;
}
.select-options-active {
  opacity: 1;
  transition: opacity 200ms ease-in;
}
.select-options-exit {
  opacity: 1;
}
.select-options-exit-active {
  opacity: 0;
  transition: opacity 200ms ease-out;
}
