.expanded_view_content {
  padding: 20px;
  width: 496px;
  overflow-y: scroll;
}

/* title */

.expanded_view_title {
  margin-bottom: 20px;
  font-size: 22px;
  color: #4d4d4d;
  padding: 4px 0;
}

.expanded_view_title input {
  width: 100%;
  outline: none;
  border: none;
  color: #4d4d4d;
  font-size: 22px;
  padding: 0;
  font-family: 'hk-grotesk-medium', Helvetica, Sans-Serif;
}

.expanded_view_title textarea {
  width: 100%;
  outline: none;
  border: none;
  color: #4d4d4d;
  font-size: 18px;
  line-height: 24px;
  padding: 0;
  font-family: 'hk-grotesk-semibold', Helvetica, Sans-Serif;
  resize: none;
}

/* tags */

.expanded_view_tags {
  padding-bottom: 20px;
}

/* description */

.expanded_view_description textarea {
  width: 100%;
  height: 240px;
  padding: 0;
  margin: 0;
  outline: none;
  border: 0;
  resize: none;
  font-family: 'hk-grotesk-medium', Helvetica, Sans-Serif;
  font-size: 14px;
  line-height: 18px;
  background-color: #f9f9f9;
}

.expanded_view_description {
  border: 1px solid #f9f9f9;
  background-color: #f9f9f9;
  border-radius: 12px;
  padding: 12px 10px 8px 14px;
  color: #a3a3a3;
  margin-bottom: 16px;
}

/* squirrels & timeframe wrapper */

.expanded_view_squirrels_title, .expanded_view_timeframe_title {
  margin-bottom: 8px;
  font-family: 'hk-grotesk-semibold';
}

.squirrels_timeframe_row {
  display: flex;
  flex-direction: row;
  color: #717171;
  font-size: 14px;
  margin-bottom: 16px;
}

/* squirrels section */

.expanded_view_squirrels_wrapper {
  width: 50%;
  position: relative;
}

.expanded_view_squirrels_wrapper .picker-popup {
  top: 60px;
}

.expanded_view_squirrels_content {
  display: flex;
  flex-direction: row;
}

.expanded_view_squirrels_content .avatar.medium.clickable, .expanded_view_squirrels_content .initials-avatar.medium {
  margin-right: 4px;
}

.icon.medium.add_squirrel_plus_icon {
  padding: 8px;
  transition: box-shadow 0.1s ease;
  border: 2px solid #f4f4f4;
}

.expanded_view_squirrels_content .avatar.medium.clickable:hover, .icon.medium.add_squirrel_plus_icon:hover {
  box-shadow: 0 0 0 2px #5f65ff;
}

.add_squirrel_plus_icon {
  background: #f4f4f4;
  border-radius: 50%;
}

/* squirrelInfoPopup */

.squirrel-info-popup-wrapper {
  margin-top: 60px;
  position: absolute;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.16);
  padding: 15px 20px;
  top: 0;
  z-index: 1;
}

.squirrel-info-popup-name {
  flex: 1;
  padding: 1px 0px;
  font-family: 'hk-grotesk-medium', Helvetica, sans-serif;
  font-size: 14px;
  color: #5f65ff;
  margin-bottom: 6px;
  cursor: pointer;
}

.squirrel-info-popup-nameANDhandle {
  display: flex;
  flex-direction: column;
  padding-bottom: 12px;
  margin-bottom: 6px;
  border-bottom: 1px solid #f2f2f2;
}

.squirrel-info-popup-handle {
  font-size: 12px;
  color: #a3a3a3;
  font-family: 'hk-grotesk-medium', Helvetica, sans-serif;
}

.remove-squirrel-btn {
  color: #00beb0;
  font-size: 12px;
  padding-top: 6px;
  font-family: 'hk-grotesk-medium', Helvetica, sans-serif;
  cursor: pointer;
}

.remove-squirrel-btn:hover {
  color: #5f65ff;
}

/* timeframe */

.expanded_view_timeframe_display {
  background: #f9f9f9;
  border: 1.5px solid #f9f9f9;
  border-radius: 10px;
  padding: 8px 12px;
  font-size: 12px;
  font-family: 'hk-grotesk-medium', Helvetica, Sans-Serif;
  cursor: pointer;
  transition: border 0.1s ease;
}

.expanded_view_timeframe_display:hover, .expanded_view_timeframe_display:active, .expanded_view_timeframe_display:focus {
  border: 1.5px solid #5f65ff;
}

.timeframe_wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.timeframe_wrapper .picker-popup {
  top: 60px;
}

/* tabs section */

.expanded-view-tabs {
  /* flex: 1; */
  height: 30vh;
  overflow-x: hidden;
}