.outcome-table-row-metadata-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  font: 1rem var(--font-family-primary-medium);
  padding: 0.75rem 1rem;
  background-color: var(--bg-color-tertiary);

  &:hover {
    background-color: var(--bg-color-primary);
  }

  &.id-number {
    padding: 0.75rem 0.5rem;
    font-size: 0.875rem;
    color: var(--text-color-caption);
  }

  &.outcome-statement-wrapper {
    font: 1rem var(--font-family-primary-semibold);
    padding: 0.75rem 0.25rem 0.75rem 0.5rem;

    .expand-chevron-wrapper {
      margin-right: 0.375rem;
    }

    .progress-indicator-wrapper {
      margin-right: 0.375rem;
    }

    .outcome-statement-text {
      cursor: pointer;
      transition: 0.2s all ease;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      &:hover {
        color: var(--color-ultramarine-blue);
        text-decoration: underline;
      }
    }
  }
}
