.outcome-table-row-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  border-bottom: 0.125rem solid var(--border-color-bright-gray);

  &:hover {
    background-color: var(--bg-color-canvas);
  }

  .outcome-table-row-assignees-tags-time {
    display: flex;
    flex-direction: row;
    flex: 1;
  }

  .outcome-table-row-metadata-wrapper {
    box-sizing: border-box;
    border-right: 0.125rem solid var(--border-color-bright-gray);
    display: flex;
    flex-direction: row;
    align-items: center;
    font: 1rem var(--font-family-primary-medium);
    padding: 0.5rem 1rem;

    &:last-child {
      border-right: none;
    }

    &.id-number {
      padding: 0.75rem 0.5rem;
      font-size: 0.875rem;
      color: var(--text-color-caption);
    }

    &.outcome-statement-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      font: 1rem var(--font-family-primary-medium);
      color: var(--text-color-secondary);
      padding: 0.375rem 0.25rem 0.375rem 0.5rem;

      &:hover {
        color: var(--text-color-primary);
      }

      .outcome-table-row-metadata-left-slot {
        width: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .outcome-table-row-metadata-right-slot {
        width: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .expand-chevron-wrapper {
        margin-right: 0.25rem;
        max-height: 1.25rem;
      }

      .progress-indicator-wrapper {
        margin-right: 0.425rem;
        width: 1.125rem;
        height: 1.125rem;
        aspect-ratio: 1/1;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }

      .outcome-statement-icon {
        margin-right: 0.425rem;

        .icon {
          padding: 0;
          width: 1.125rem;
          height: 1.125rem;
        }
      }

      .outcome-statement-text {
        cursor: pointer;
        transition: 0.2s all ease;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        line-height: 1.45;
        flex: 1;

        &:hover {
          color: var(--color-ultramarine-blue);
          text-decoration: underline;
        }
      }
    }

    &.time {
      font-size: 0.875rem;
      color: var(--text-color-tertiary);
    }

    &.assignees {
      padding: 0.25rem 1rem;
    }

    &.tags {
      padding: 0.25rem 1rem;

      .tags-list-item {
        margin-bottom: 0.125rem;

        .tag-wrapper {
          padding: 0.125rem 0.625rem 0.15rem 0.625rem;
          font-size: 0.7rem;
        }
      }
    }
  }

  .outcome-table-row-hover-button {
    position: absolute;
    right: 0.5rem;
    top: 0.25rem;
    padding: 0.325rem;
    border-radius: 0.5rem;
    background-color: transparent;
    transition: 0.2s all ease-in-out;

    .icon {
      display: none;
    }
  }

  &:hover {
    .outcome-table-row-hover-button {
      background-color: var(--bg-color-secondary);

      &:hover {
        .icon .inner-icon {
          background-color: var(--border-color-primary);
        }
      }
    }

    .outcome-table-row-hover-button .icon {
      display: flex;
    }
  }
}
