.filter-button-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  font: 0.875rem var(--font-family-primary-medium);
  color: var(--text-color-secondary);
  background-color: var(--bg-color-secondary);
  box-shadow: 0rem 0.125rem 1rem var(--shadow-color);
  padding: 0.75rem 1.25rem 0.75rem 1rem;
  border-radius: 0.5rem;
  width: fit-content;
  cursor: pointer;
  transition: 0.2s box-shadow ease;
  -webkit-font-smoothing: antialiased;
  // set relative letter-spacing to fix
  // change of size issue after
  // bolding the text on focus/selected mode
  letter-spacing: 0.012rem;

  &.small {
    font: 0.8125rem var(--font-family-primary-medium);

    .filter-button-icon .icon {
      height: 0.8125rem;
      width: 0.8125rem;
    }
  }

  &.large {
    font: 1rem var(--font-family-primary-medium);

    .filter-button-icon .icon {
      height: 1rem;
      width: 1rem;
    }
  }

  &:hover {
    box-shadow: 0rem 0.125rem 1rem var(--shadow-color-hover);
  }

  &.selected {
    // set relative letter-spacing to fix
    // change of size issue after
    // bolding the text on focus/selected mode
    letter-spacing: 0.002rem;
    border: 0.125rem solid var(--border-color-secondary);
    // the padding calc below fixes the resizing of the button
    // after adding the border in selected mode
    padding-top: calc(0.75rem - 0.125rem);
    padding-bottom: calc(0.75rem - 0.125rem);
    padding-right: calc(1.25rem - 0.125rem);
    padding-left: calc(1rem - 0.125rem);
    font-family: var(--font-family-primary-bold);
  }

  .filter-button-icon {
    margin-right: 0.5rem;

    .icon {
      height: 0.875rem;
      width: 0.875rem;
      padding: 0;

      .inner-icon {
        background-color: var(--text-color-secondary);
      }
    }
  }

  .filter-button-text {
    user-select: none; /* Standard */
  }
}
