/* PeoplePicker */

.people-picker {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.picker-popup {
    padding-bottom: 0;
  }
}

.people-picker-spacer {
  border: 0.5px solid var(--border-color-platinum);
}

.people-picker-search {
  display: flex;
  align-items: center;
  padding: 0.625rem 1.25rem;

  input {
    width: 100%;
    font-size: 0.875rem;
    color: var(--text-color-primary);
    border: 0;
    outline: 0;
    margin-left: 0.5rem;
    font-family: var(--font-family-primary-medium);
    line-height: 1.45;

    &::placeholder {
      color: var(--text-color-placeholder);
    }
  }
}

ul.people-picker-list {
  max-height: 15rem;
  overflow-y: scroll;
  padding-bottom: 1rem;
}

.people-picker-list {
  list-style: none;
  padding: 0;
  margin: 0;

  .avatar-wrapper,
  .initials-avatar-wrapper {
    position: relative;
  }

  // member list item
  li {
    padding: 0.625rem 1.25rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.2s all ease;

    &:hover {
      background: var(--bg-color-primary);
      // color: #00a599;
    }

    .person-name-handle-wrapper {
      display: flex;
      flex-direction: column;
      padding-left: 8px;
      width: 100%;

      .person-name {
        flex: 1;
        color: var(--text-color-primary);
        font-family: var(--font-family-primary-medium);
        font-size: 0.875rem;
        line-height: 1.45;
      }

      .person-handle {
        font-size: 0.825rem;
        color: var(--text-color-quaternary);
        font-family: var(--font-family-primary-medium);

        &.ghost {
          color: var(--text-color-dark-bg);
          font-size: 0.625rem;
          background-color: var(--shadow-color-dark);
          width: fit-content;
          border-radius: 0.25rem;
          padding: 0rem 0.25rem;
        }
      }
    }

    /* when person is a member styles */
    &.member .person-name {
      // color: var(--text-color-primary);
      font-family: var(--font-family-primary-extrabold);
    }
  }
}
