/* PeoplePicker */

.people-picker {}

.people-picker-spacer {
  margin: 0 20px 10px 20px;
  border: 0.5px solid #f2f2f2;
}

.people-picker-search {
  display: flex;
  align-items: center;
  padding: 0 20px 10px;
}

.people-picker-search input {
  font-size: 14px;
  line-height: 23px;
  color: #4d4d4d;
  border: 0;
  outline: 0;
  padding: 2px;
  margin-left: 14px;
  font-family: 'PlusJakartaSans-medium', Helvetica, Sans-Serif;
}

.people-picker-search input::placeholder {
  color: #bdbdbd;
}

.people-picker-people {
  list-style: none;
  padding: 0;
  margin: 0;
}

.people-picker-people .avatar-wrapper,
.people-picker-people .initials-avatar-wrapper {
  position: relative;
}

.people-picker-people li {
  color: #4d4d4d;
  padding: 8px 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.2s all ease;
}

.people-picker-people li:hover {
  background: #f2f2f2;
  color: #00a599;
}

.people-picker-people li .person-name {
  flex: 1;
  font-family: 'PlusJakartaSans-bold', Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.45;
}

.person-nameANDhandle {
  display: flex;
  flex-direction: column;
  padding-left: 8px;
}

.person-handle {
  font-size: 12px;
  color: #a3a3a3;
  font-family: 'PlusJakartaSans-medium', Helvetica, sans-serif;
}

.radio-button {
  right: 20px;
  position: absolute;
}

/* when person is a member styles */

.people-picker-people li.member .person-name {
  color: #5f65ff;
}