.expanded-view-nav-bar {
  height: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px 16px 0 16px;
}

.expanded-view-nav-bar-item {
  color: #a3a3a3;
  display: flex;
  flex-direction: row;
  font-size: 14px;
  font-family: 'hk-grotesk-bold', Helvetica, sans-serif;
  font-weight: normal;
  cursor: pointer;
  border-bottom: 3px solid transparent;
  align-items: center;
}

/* NavBar Item Hover State */

.expanded-view-nav-bar-item:hover {
  color: #5f65ff;
  transition: all 0.3s;
}

.expanded-view-nav-bar-item:hover .icon:not(.not-hoverable) .inner-icon {
  background-color: #5f65ff;
  transition: all 0.3s;
}

/* NavBar Item Active State */

.expanded-view-nav-bar-item.active-tab {
  color: #5f65ff;
  border-bottom: 3px solid #5f65ff;
}

.expanded-view-nav-bar-item.active-tab .icon:not(.not-hoverable) .inner-icon {
  background-color: #5f65ff;
}

.expanded-view-nav-bar-item .icon.very-small.grey {
  margin-right: 4px;
  margin-top: 4px;
}