.descendants-achievement-status {
  display: flex;
  flex-direction: row;
  align-items: center;

  .typography {
    margin-right: 0.375rem;
  }

  .icon {
    width: 1.125rem;
    height: 1.125rem;
    padding: 0;
  }

  .more-info-icon-wrapper {
    .icon .inner-icon {
      background-color: var(--border-color-timberwolf);

      &:hover {
        background-color: var(--border-color-secondary);
      }
    }
  }

  .descendants-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    font: 1rem var(--font-family-primary-semibold);
    color: var(--color-gray);
    line-height: 1.45;
    margin-right: 1rem;

    .icon {
      margin-right: 0.3rem;
    }

    &.smalls {
      .icon .inner-icon {
        background-color: var(--color-green);
      }
    }

    &.uncertains {
      .icon .inner-icon {
        background-color: var(--color-pumpkin);
      }
    }
  }
}

.descendants-uncertains-wrapper {
  // TODO: fix this number
  padding-left: 10px;
}
