.descendants-achievement-status {
  display: flex;
  flex-direction: row;
  align-items: center;

  .typography {
    margin-right: 0.375rem;
  }

  .icon {
    width: 1.125rem;
    height: 1.125rem;
    padding: 0;
  }

  .more-info-icon-wrapper {
    .icon .inner-icon {
      background-color: var(--border-color-timberwolf);

      &:hover {
        background-color: var(--border-color-secondary);
      }
    }
  }

  .descendants-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    font: 1rem var(--font-family-primary-semibold);
    color: var(--color-gray);
    line-height: 1.45;
    margin-right: 1rem;

    .progress-indicator-wrapper {
      margin-right: 0.5rem;
    }

    .descendants-scope-wrapper {
      margin-right: 0.325rem;
    }

    .descendants-progress-percentage {
      margin-left: 0.25rem;
      font-family: var(--font-family-primary-regular);
    }
    &.achieved {
      color: var(--color-forest-green);
    }

    &.smalls {
      .descendants-scope-wrapper .icon .inner-icon {
        background-color: var(--color-green);
      }
    }

    &.uncertains {
      .descendants-scope-wrapper .icon .inner-icon {
        background-color: var(--color-pumpkin);
      }
    }
  }
}

.more-info-wrapper {
  .icon .inner-icon {
    background-color: var(--icon-color-light-grey);

    &:hover {
      background-color: var(--text-color-primary);
    }
  }
}
