.ev-middle-column-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  height: 100%;

  .descendants-achievement-status {
    padding-left: 3rem;
    padding-bottom: 1rem;
  }
}
