.goal-title-quick-edit-wrapper {
    position: absolute;
    display: flex;
}

.goal-title-quick-edit-form {
    width: 360px;
}

.goal-title-quick-edit-form textarea {
    background-color: transparent;
    border: 0;
    outline: none;
    margin: 24px 22px 25px 27px;
    width: 309px;
    height: 70px;
    resize: none;
    color: #4d4d4d;
    font-family: 'PlusJakartaSans-medium', Helvetica, Sans-Serif;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.1px;
}

.goal-title-quick-edit-form ::selection {
    background: #c4f2eea6;
}