.connectivity-overlay-wrapper {
    .modal-wrapper {
        width: 29rem;
        padding: 3.5rem 3.5rem 3rem 3.5rem;
    }

    .connectivity-modal-heading {
        margin-bottom: 1.5rem;
    }

    .connectivity-modal-button-primary {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 1.5rem;
    }
}
