.create-project-modal-wrapper {
  width: 30rem;
  overflow: auto;
  position: relative;
  justify-content: space-between;
  align-items: center;

  .create-project-form {

    .create-project-image-row {
      display: flex;
      flex-direction: row;
      align-items: flex-end;

      .validating-form-input {
        margin-bottom: 0;
      }

      .create-project-image {
        margin-left: 8px;
        width: 44px;
        height: 44px;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 10px;
        border: 2px solid #f3efeb;
        box-sizing: border-box;
        background-color: var(--bg-color-tertiary);
      }
    }
  }
}
