.create-project-modal-wrapper {
  /* width: 550px; */
  height: 523px;
  overflow: hidden;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.create-project-modal-wrapper .validating-form-input {
  margin-bottom: 28px;
}

.project-modal-content {
  /* margin-bottom: 50px; */
}

.create-project-image-row {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  // margin-top: 2rem;
}

.create-project-image-row .validating-form-input {
  margin-bottom: 0;
}

.create-project-image {
  margin-left: 8px;
  width: 38px;
  height: 38px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  border: 0.125rem solid #f3efeb;
}

/* create project modal animation */

.create-project-form {
  position: absolute;
  opacity: 1;
  transition: opacity 0.3s, transform 0.4s;
  width: 420px;
}

.create-project-form.project-created {
  /* background-color: blue; */
  opacity: 0;
  -webkit-transform: translateX(-300px);
  transform: translateX(-300px);
}

/* project created modal animation */

/* default is to be hidden */

.project-created-modal {
  /* position: absolute; */
  opacity: 0;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  transition: opacity 0.3s, transform 0.4s;
}

/* then it shows */

.project-created-modal.project-created {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.project-created-modal.project-created .project-modal-content-spacer {
  margin-bottom: 7rem;
  margin-top: 3rem;
}
