.tag-picker-wrapper {
  position: relative;
  width: 16.875rem;
  height: 20rem;
  -webkit-font-smoothing: antialiased;
  background-color: var(--bg-color-secondary);
  box-shadow: 0px 0rem 1.25rem var(--shadow-color-hover);
  border-radius: 0.625rem;
  display: flex;
  flex-direction: column;

  .tag-picker-display-tags-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    width: 100%;
    height: 100%;

    //   Tag Picker Filter
    .tag-picker-filter {
      display: flex;
      flex-direction: row;
      align-items: center;
      border-bottom: 2px solid var(--border-color-timberwolf);
      padding: 0.75rem;
      width: 100%;
      box-sizing: border-box;
      -webkit-font-smoothing: antialiased;

      input {
        font: 1rem var(--font-family-primary-medium);
        color: var(--text-color-primary);
        margin-left: 0.625rem;
        border: 0;
        outline: 0;
        width: calc(100% - 3.5rem);

        &::placeholder {
          color: var(--text-color-placeholder);
        }
      }

      .clear-button {
        padding: 0.25rem;

        .icon .inner-icon {
          transition: 0.2s all ease;
        }
        &:hover {
          .icon .inner-icon {
            background-color: var(--text-color-secondary);
          }
        }
      }
    }

    //   Tags list
    .tag-picker-list-wrapper {
      // max-height: 12.25rem;
      flex: 1;
      overflow-y: scroll;

      .tag-picker-tag-option {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: var(--bg-color-secondary);
        box-sizing: border-box;
        padding: 0.625rem 1rem;
        border-radius: 0.5rem;
        margin: 0.25rem 0.5rem;
        cursor: pointer;
        transition: 0.2s all ease;
        position: relative;

        .checkbox-wrapper {
          margin-right: 0.625rem;
        }

        .tag-picker-edit-button {
          position: absolute;
          right: 1rem;
          display: none;
          transition: 0.2s background-color ease;

          &:hover {
            .icon .inner-icon {
              background-color: var(--text-color-primary);
            }
          }
        }

        &:first-child {
          margin-top: 0.5rem;
        }

        &:last-child {
          margin-bottom: 0.5rem;
        }

        &:hover {
          background-color: var(--bg-color-hover);
          .tag-picker-edit-button {
            display: flex;
          }
        }
      }
    }

    //   Create or Edit Tag Button
    .create-new-tag-button {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      // box-shadow: 0rem 0rem 1.25rem var(--shadow-color);
        border-top: 0.125rem solid var(--border-color-timberwolf);
      padding: 1rem;
      // margin: 0.75rem 1rem 1rem 1rem;
      border-radius: 0 0 0.5rem 0.5rem;
      font: 0.875rem var(--font-family-primary-medium);
      color: var(--text-color-secondary);
      cursor: pointer;
      box-sizing: border-box;
      transition: 0.2s box-shadow ease;

      &:hover {
        box-shadow: 0rem 0rem 1.25rem var(--shadow-color-hover);
      }

      text {
        user-select: none;
      }

      .create-new-tag-button-icons {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 0.375rem;

        .icon {
          width: 0.875rem;
          height: 0.875rem;
          padding: 0;
          cursor: pointer;
        }
      }
    }
  }

  //   Create or Edit Tag Component
  .create-or-edit-tag-wrapper {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .validating-form-input {
      margin-bottom: 2.25rem;
    }

    .tag-picker-color-row {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      position: relative;

      .create-or-edit-tag-color-display-wrapper {
        // related to validating form input
        margin-top: 2rem;
        position: relative;

        .create-or-edit-tag-color-swatch {
          width: 2rem;
          height: 2rem;
          border-radius: 0.5rem;
          cursor: pointer;
          margin: 0.375rem;

          .icon {
            width: 1rem;
            height: 1rem;
            padding: 0;
            margin: 0.5rem;
          }
        }
        .create-or-edit-tag-colors-wrapper {
          position: absolute;
          z-index: 1;
          padding: 0.75rem;
          background-color: white;
          border-radius: 1rem;
          box-shadow: 0rem 0rem 0.75rem var(--shadow-color-hover);
          display: grid;
          grid-template-columns: 25% 25% 25% 25%;
          grid-column-gap: 0;
          grid-row-gap: 0;
          left: -4.5rem;
          top: 3.25rem;

          .popup-triangle {
            position: absolute;
            left: 5.125rem;
            top: -0.75rem;
          }
        }
      }
    }

    .create-or-edit-tag-buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .button:first-child {
        margin-right: 0.5rem;
      }
    }
  }
}

.acorn-we-applet .tag-picker-wrapper {
  .tag-picker-list-wrapper {
    overflow-y: unset;
  }
}