/* PreferenceSelect */

.preference-select {
  padding: 20px 0;
  /* border-bottom: 1px solid #e3e3e3; */
}

.preference-select-title-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 4px;
}

.preference-select-title-wrapper .icon {
  height: 16px;
  cursor: unset;
  padding: 0;
}

.preference-select-title {
  font-size: 18px;
  line-height: 24px;
  font-family: 'gilroyextrabold', Helvetica, sans-serif;
  color: #222222;
  display: flex;
  flex-direction: row;
}

.preference-select-subtitle {
  font-size: 14px;
  line-height: 20px;
  color: #898989;
  margin-bottom: 40px;
}

/* PreferenceSelectOption */

.preference-select-options-wrapper {
  display: flex;
  flex-direction: row;
  padding: 0 30px;
  margin-bottom: 1rem;
}

.preference-select-option {
  font-size: 16px;
  line-height: 22px;
  font-family: 'PlusJakartaSans-medium', Helvetica, sans-serif;
  color: #222222;
  text-align: center;
  border: 1px solid #e3e3e3;
  border-radius: 10px;
  width: 150px;
  height: 120px;
  margin: 0 auto;
  display: block;
  cursor: pointer;
  transition: border 0.2s ease-in-out;
}

.preference-select-option:hover,
.preference-select-option.active {
  border: 1px solid #6d0ef7;
  box-shadow: 0px 3px 6px #00000016;
}

.preference-select-option-content {
  width: 150px;
  height: 120px;
  display: table-cell;
  vertical-align: middle;
}

.preference-select-option-content .icon {
  margin: 0 auto;
  cursor: pointer;
}

.preference-select-option-text {
  margin-top: 14px;
}

.preference-select-option.active .preference-select-option-text {
  font-family: 'PlusJakartaSans-bold', Helvetica, sans-serif;
}

/* PreferenceSelectExtra */

.preference-select-description-wrapper {
  margin-bottom: 20px;
}
