.outcome-table-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color-tertiary);
  margin: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0rem 0rem 1.25rem var(--shadow-color);

  .outcome-table-metadata-header {
    display: flex;
    flex-direction: row;
    font: 1rem var(--font-family-primary-bold);
    color: var(--text-color-secondary);
    border-bottom: 0.165rem solid var(--border-color-timberwolf);

    .outcome-table-metadata-header-assignees-tags-time {
      display: flex;
      flex-direction: row;
      flex: 1;
    }

    .outcome-table-metadata-header-label {
      box-sizing: border-box;
      padding: 0.625rem 1rem;
      border-right: 0.125rem solid var(--bg-color-popup);
      background-color: var(bg-color-primary);

      &:last-child {
        border-right: none;
      }

      &.id-label {
       
      }
    }
  }

  .outcome-table-rows {
    flex: 1;
    overflow-y: scroll;
    padding-bottom: 3rem;
  }
}

.acorn-we-applet .outcome-table-wrapper {
  .outcome-table-rows {
    overflow-y: unset;
  }
}