.outcome-table-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-top: 0.125rem solid var(--border-color-platinum);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .outcome-table-metadata-header {
    display: flex;
    flex-direction: row;
    font: 1rem var(--font-family-primary-bold);
    color: var(--text-color-secondary);
    border-bottom: 0.165rem solid var(--border-color-pale-silver);

    .outcome-table-metadata-header-assignees-tags-time {
      display: flex;
      flex-direction: row;
      flex: 1;
    }

    .outcome-table-metadata-header-label {
      box-sizing: border-box;
      padding: 0.625rem 1rem;
      border-right: 0.125rem solid var(--border-color-bright-gray);

      &.id-label {
        border-left: 0.125rem solid var(--border-color-bright-gray);
      }
    }
  }

  .outcome-table-rows {
    flex: 1;
    overflow-y: scroll;
    padding-bottom: 4rem;
  }
}
