.button-action-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  font: 0.875rem var(--font-family-primary-bold);
  background-color: var(--bg-color-secondary);
  box-shadow: 0rem 0rem 1.25rem var(--shadow-color);
  width: 11.25rem;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 0.625rem;
  cursor: pointer;
  transition: 0.2s box-shadow ease;
  -webkit-font-smoothing: antialiased;
  user-select: none;

  &:hover {
    box-shadow: 0rem 0rem 1.25rem var(--shadow-color-hover);
  }

  .button-action-icon {
    margin-right: 0.625rem;
    .icon {
      height: 1rem;
      width: 1rem;
      padding: 0;
    }
  }

  .button-action-text {
    user-select: none; /* Standard */
  }

  &.small {
    padding: 0.875rem 1.25rem 0.875rem 0.875rem;

  }

  &.large {
    padding: 1rem 1.5rem 1rem 1rem;
    font: 1rem var(--font-family-primary-bold);

    .button-action-icon .icon {
      height: 1rem;
      width: 1rem;
    }
  }
}
