.update-required-button {
  color: #6600FF;
  font-family: 'PlusJakartaSans-bold';
  border-radius: 18px;
  padding: 0px 10px 2px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 10px;
  /* width: 168px; */
  position: absolute;
  bottom: 21px;
  background: white;
  font-size: 14px;
  line-height: 1.8;
  z-index: 2;
  left: 72px;
  transition: color 0.2s;
}

.update-required-button:hover {
  color: #7c24ff;
}

.unavailable-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: 0.7;
  top: 0;
  z-index: 1
}

.dashboard-list-project-wrapper {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #f1ece9;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}

.dashboard-list-project {
  display: flex;
  flex-direction: row;
}

.dashboard-list-project-image {
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  line-height: 68px;
}

.dashboard-list-project-image-bg {
  border-radius: 5px;
  width: 68px;
  height: 68px;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'PlusJakartaSans-bold', Helvetica, sans-serif;
}

.dashboard-list-project-content {
  flex: 1;
  margin-left: 12px;
}

.dashboard-list-project-name {
  font-size: 22px;
  font-family: 'gilroyextrabold', Helvetica, sans-serif;
  text-decoration: none;
  color: #535353;
  display: block;
  margin-bottom: 15px;
  cursor: pointer;
  transition: color 0.2s ease-in;
}

.dashboard-list-project-name.placeholder {
  background-color: #f1f1f1;
  width: 150px;
  height: 30px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  cursor: default;
  margin-bottom: 16px;
}

.dashboard-list-project-name.placeholder::before, .dashboard-list-project-member-count.placeholder::before {
  content: '';
  display: block;
  position: absolute;
  left: -150px;
  top: 0;
  height: 30px;
  width: 200px;
  background: linear-gradient(to right, transparent 0%, #f7f7f7 50%, transparent 100%);
  animation: load 1.5s cubic-bezier(0.4, 0.0, 0.2, 1) infinite;
}

@keyframes load {
  from {
    left: -150px;
  }

  to {
    left: 100%;
  }
}

.dashboard-list-project-name:hover {
  color: #5f65ff;
}

.dashboard-list-project-member-count {
  font-family: 'PlusJakartaSans-bold', Helvetica, sans-serif;
  font-size: 16px;
  color: #bcbcbc;
}

.dashboard-list-project-member-count.placeholder {
  background-color: #f1f1f1;
  width: 80px;
  height: 18px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

/* dashboard project entry points section */

.dashboard-list-project-entry-points {
  margin-top: 10px;
  font-family: 'PlusJakartaSans-medium', Helvetica, sans-serif;
  margin-left: 82px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.entry-point-button-image {
  height: 15px;
  margin-right: 8px;
}

.dashboard-list-project-entry-point-button {
  font-size: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: color 0.2s ease-in;
  color: #9b9b9b;
  cursor: pointer;
  font-family: 'gilroyextrabold', Helvetica, sans-serif;
}

.dashboard-list-project-entry-point-button-text {
  margin: 0 2px 0 3px;
}

.dashboard-list-project-entry-point-button .icon {
  transition: transform 0.2s ease-in;
  margin-right: 4px;
}

.dashboard-list-project-entry-point-button:hover {
  color: #5f65ff;
}

.dashboard-list-project-entry-point-button:hover .inner-icon {
  background-color: #5f65ff;
}

.dashboard-list-project-entry-point-button .icon.active {
  transform: rotateX(180deg);
  -webkit-transform: rotate(180deg);
}

.dashboard-list-project-entry-point-expanded {
  display: flex;
  flex-direction: column;
}

.entry-point-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 15px;
  margin-left: 23px;
  text-decoration: none;
}

.entry-point-color-dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 12px;
  margin-top: 4px;
}

.entry-point-name {
  flex: 1;
  color: #535353;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-right: 40px;
}

.dashboard-list-project-members-settings {
  display: flex;
  /* justify-content: flex-end; */
  flex-direction: column;
  position: relative;
}

.dashboard-list-project-settings-button .icon {
  position: absolute;
  right: 0;
  top: 42px;
}

/* dashboard project invite members */

.dashboard-invite-members-button {
  border: 2px solid #d0d0d0;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  background-color: #fbf9f7;
  transition: 0.2s all ease;
}

.dashboard-invite-members-button-wrapper {
  border: 3px solid #fbf9f7;
  border-radius: 50%;
  z-index: 1;
}

.dashboard-invite-members-button:hover {
  background-color: #f5f2ef;
  border-color: #5f65ff;
}

.dashboard-invite-members-button .icon {
  padding: 2px;
}

.dashboard-invite-members-button:hover .inner-icon {
  background-color: #5f65ff;
}

/* dashboard project members list */

.dashboard-list-project-members {
  display: flex;
  flex-direction: row;
}

.dashboard-list-project-member-list {
  display: flex;
  margin-right: -4px;
}

/* .dashboard-list-project-member-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
} */

/* .dashboard-list-project-member-wrapper .members-indicator-avatar-circle {
  border: 3px solid #fbf9f7;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: relative;
  margin-right: -7px;
} */

/* .dashboard-list-project-member-wrapper {} */
