.dashboard-list-project-wrapper {
  display: flex;
  flex-direction: column;
  border-bottom: solid 0.15rem var(--bg-color-canvas);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  position: relative;

  // when update is required to access the shared project
  .project-access-blocked-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color-primary);
    opacity: 0.75;
    top: 0;
    z-index: 2;
  }

  .dashboard-list-project {
    display: flex;
    flex-direction: row;
    flex: 1;

    .dashboard-list-project-image {
      text-decoration: none;
      color: #ffffff;
      text-align: center;
      font-size: 20px;
      line-height: 68px;

      .dashboard-list-project-image-bg {
        border-radius: 5px;
        width: 68px;
        height: 68px;
        background-size: cover;
        background-repeat: no-repeat;
        font-family: "PlusJakartaSans-bold", Helvetica, sans-serif;
      }
    }

    .dashboard-list-project-content {
      flex: 1;
      margin-left: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .dashboard-list-project-name-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 0.5rem;

        .dashboard-list-project-name {
          font-size: 1.375rem;
          font-family: var(--font-family-secondary-extrabold);
          text-decoration: none;
          color: var(--text-color-primary);
          display: block;
          cursor: pointer;
          transition: color 0.2s ease-in;

          &.placeholder {
            background-color: #f1f1f1;
            width: 150px;
            height: 30px;
            border-radius: 5px;
            position: relative;
            overflow: hidden;
            cursor: default;
            margin-bottom: 16px;

            &::before {
              content: "";
              display: block;
              position: absolute;
              left: -150px;
              top: 0;
              height: 30px;
              width: 200px;
              background: linear-gradient(to right, transparent 0%, #f7f7f7 50%, transparent 100%);
              animation: load 1.5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
            }

            @keyframes load {
              from {
                left: -150px;
              }

              to {
                left: 100%;
              }
            }
          }
        }

        .dashboard-list-project-update-button-wrapper {
          display: flex;
          flex-direction: row;
          align-items: center;
          z-index: 3;
        }
      }
    }

    .dashboard-list-project-members-settings {
      display: flex;
      flex-direction: column;
      position: relative;

      .dashboard-list-project-settings-button .icon {
        position: absolute;
        right: 0;
        top: 42px;
      }
    }
  }

  /* dashboard project entry points section */

  .dashboard-list-project-entry-points {
    margin-top: 10px;
    font-family: "PlusJakartaSans-medium", Helvetica, sans-serif;
    margin-left: 82px;
    display: flex;
    flex-direction: column;
    align-items: start;

    .entry-point-button-image {
      height: 15px;
      margin-right: 8px;
    }

    .dashboard-list-project-entry-point-button {
      font-size: 16px;
      display: flex;
      flex-direction: row;
      align-items: center;
      transition: color 0.2s ease-in;
      color: #9b9b9b;
      cursor: pointer;
      font-family: "gilroyextrabold", Helvetica, sans-serif;

      .icon {
        transition: transform 0.2s ease-in;
        margin-right: 4px;

        &.active {
          transform: rotateX(180deg);
          -webkit-transform: rotate(180deg);
        }
      }

      &:hover {
        color: var(--text-color-link);

        .inner-icon {
          background-color: var(--text-color-link);
        }
      }
    }

    .dashboard-list-project-entry-point-button-text {
      margin: 0 2px 0 3px;
    }

    .dashboard-list-project-entry-point-expanded {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    .entry-point-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 15px;
      margin-left: 23px;
      text-decoration: none;

      .entry-point-color-dot {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        margin-right: 12px;
        margin-top: 4px;
      }

      .entry-point-color-dot {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        margin-right: 12px;
        margin-top: 4px;
      }
    }
  }
}

.dashboard-list-project-name:hover {
  color: var(--text-color-link);
}

.dashboard-list-project-member-count {
  font-family: var(--font-family-primary-bold);
  font-size: 1rem;
  line-height: 1.45;
  color: var(--text-color-caption);

  &.placeholder {
    background-color: #f1f1f1;
    width: 80px;
    height: 18px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;

    &::before {
      content: "";
      display: block;
      position: absolute;
      left: -150px;
      top: 0;
      height: 30px;
      width: 200px;
      background: linear-gradient(to right, transparent 0%, #f7f7f7 50%, transparent 100%);
      animation: load 1.5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
    }

    @keyframes load {
      from {
        left: -150px;
      }

      to {
        left: 100%;
      }
    }
  }
}
