.dashboard-background {
  background-color: var(--bg-color-canvas);
  display: flex;
  flex-direction: row;
  flex: 1;
  height: 100%;
  padding-top: 1rem;
  overflow: hidden;
}

/* dashboard my projects */

.dashboard-my-projects {
  flex: 1;
  margin: 0 auto;
  max-width: 60rem;
  display: flex;
  flex-direction: column;

  .my-projects-heading {
    margin-bottom: 1.25rem;
    padding: 0 1rem;
    box-sizing: border-box;
  }
  .my-projects-header {
    border-bottom: 0.125rem solid var(--border-color-timberwolf);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.25rem;
    margin: 0 1rem;

    .my-projects-header-buttons {
      display: flex;
      flex-direction: row;

      .my-projects-button {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        padding: 0.625rem 0;
        text-align: center;
        cursor: pointer;
        margin-right: 2.5rem;
        font-family: var(--font-family-primary-semibold);
        color: var(--text-color-primary);
        transition: 0.2s all ease;

        &:hover {
          color: var(--text-color-link);
        }

        &.invite-members {
          width: 140px;
          padding: 6px 16px 6px 8px;
          background-color: #f9f8f6;
          border: none;
          margin-right: 0;

          &:hover {
            background-color: #f5f2ef;
          }
        }

        .icon {
          margin-right: 6px;
        }
      }
    }

    .my-projects-sorting {
      color: var(--text-color-quaternary);
      font-size: 0.825rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;

      .my-projects-sorting-selected {
        font-size: 0.825rem;
        display: flex;
        cursor: pointer;
        color: var(--text-color-secondary);
        margin-left: 0.5rem;

        .icon {
          margin-left: 0.375rem;
          transition: transform 0.2s ease;
          top: 0.075rem;

          &.active {
            transform: rotateX(180deg);
            -webkit-transform: rotate(180deg);
          }
        }

        &:hover {
          color: #5f65ff;

          .icon .inner-icon {
            background-color: #5f65ff;
          }
        }
      }

      .my-projects-sorting-select {
        width: 7.5rem;
        position: absolute;
        right: 0px;
        top: 1.5rem;
        background: var(--bg-color-secondary);
        padding: 8px 0;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
        border-radius: 8px;
        z-index: 2;
        list-style: none;

        li {
          text-align: left;
          padding: 0.5rem 1rem;
          color: var(--text-color-secondary);

          &:hover {
            background-color: var(--bg-color-hover);
            cursor: pointer;
          }
        }
      }
    }
  }

  .my-projects-content {
    position: relative;
    overflow-y: auto;
    flex: 1;
    scrollbar-width: none;
    padding: 0 1rem 3rem;
    box-sizing: border-box;
    width: 100%;

    &::-webkit-scrollbar {
      width: 0px; /* For vertical scrollbars */
      height: 0px; /* For horizontal scrollbars */
    }
  }
}

// sorting popup anitmation
.my-projects-sorting-select-enter {
  opacity: 0;
}

.my-projects-sorting-select-enter-active {
  opacity: 1;
  transition: opacity 100ms ease-in;
}

.my-projects-sorting-select-exit {
  opacity: 1;
}

.my-projects-sorting-select-exit-active {
  opacity: 0;
  transition: opacity 100ms ease-out;
}
