.dashboard-background {
  background-color: #fbf9f7;
  /* background-color: #f7f6f1; */
  /* background-color: #ffffff; */
  display: flex;
  flex-direction: row;
  height: calc(100vh - 70px);
  padding-top: 70px;
}

.dashboard-left-menu {
  margin: 6px 40px 40px 20px;
  position: fixed;
}

.dashboard-left-menu-item {
  font-size: 14px;
  font-family: 'gilroyextrabold', Helvetica, sans-serif;
  color: #535353;
  margin-bottom: 10px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  transition: color 0.1s ease-in, background-color 0.1s ease-in;
  width: 110px;
  border-radius: 10px;
  text-decoration: none;
}

.dashboard-left-menu-item .icon {
  margin-right: 6px;
}

.dashboard-left-menu-item:hover, .dashboard-left-menu-item.active {
  color: #5f65ff;
  background-color: #f3f2f2;
}

.dashboard-left-menu-item:hover .inner-icon, .dashboard-left-menu-item.active .inner-icon {
  background-color: #5f65ff;
}

.dashboard-left-menu-item .inner-icon {
  transition: background-color 0.1s ease-in;
}

/* dashboard my projects */

.dashboard-my-projects {
  flex: 1;
  margin: 0 auto;
  max-width: 70%;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 1065px) {
  .dashboard-my-projects {
    float: right;
    max-width: calc(100vw - 220px);
    margin-right: 40px;
  }
}

.my-projects-heading {
  font-size: 30px;
  font-family: 'gilroyextrabold', Helvetica, sans-serif;
  color: #535353;
  margin-bottom: 30px;
}

.my-projects-header {
  border-bottom: 2px solid #d3d3d3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 8px;
}

.my-projects-header-buttons {
  display: flex;
  flex-direction: row;
}

.my-projects-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1.8px solid #d5d5d5;
  border-radius: 30px;
  font-size: 13.5px;
  padding: 7px 20px 8px;
  width: 100px;
  text-align: center;
  cursor: pointer;
  margin-right: 8px;
}

.my-projects-button .icon {
  margin-right: 6px;
}

.my-projects-button:hover {
  background-color: #f5f2ef;
}

.create-project-button {}

.my-projects-sorting {
  color: #8e8e8e;
  font-size: 13.5px;
  line-height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.my-projects-sorting-selected {
  border: 1.8px solid #d5d5d5;
  border-radius: 30px;
  padding: 8px 14px;
  margin-left: 10px;
  font-size: 13.5px;
  line-height: 17px;
  display: flex;
  cursor: pointer;
  color: #535353;
}

.my-projects-sorting-selected .icon {
  margin-left: 10px;
  transition: transform 0.2s ease-in;
  padding: 3px;
}

.my-projects-sorting-selected:hover {
  color: #5f65ff;
}

.my-projects-sorting-selected:hover .icon .inner-icon {
  background-color: #5f65ff;
}

.my-projects-sorting-selected .icon.active {
  transform: rotateX(180deg);
  -webkit-transform: rotate(180deg);
}

.my-projects-sorting-select {
  position: absolute;
  right: 0;
  top: 25px;
  background: #ffffff;
  padding: 8px 0;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  z-index: 2;
  list-style: none;
  width: 132px;
}

.my-projects-sorting-select li {
  padding: 8px 24px;
  color: #535353;
}

.my-projects-sorting-select li:hover {
  color: #5f65ff;
}

.my-projects-sorting-select li:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}

.my-projects-sorting-select-enter {
  opacity: 0;
}

.my-projects-sorting-select-enter-active {
  opacity: 1;
  transition: opacity 100ms ease-in;
}

.my-projects-sorting-select-exit {
  opacity: 1;
}

.my-projects-sorting-select-exit-active {
  opacity: 0;
  transition: opacity 100ms ease-out;
}

/* dont show a physical scroll bar */

.my-projects-content::-webkit-scrollbar {
  display: none;
}

.my-projects-content {
  position: relative;
  overflow-y: scroll;
  flex: 1;
  scrollbar-width: none;
}