.read-only-info-wrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color-secondary);
  box-shadow: 0rem 0rem 1.25rem var(--shadow-color);
  width: 11.25rem;
  box-sizing: border-box;
  border-radius: 0.625rem;
  transition: 0.2s box-shadow ease;
  -webkit-font-smoothing: antialiased;

  .read-only-info-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;

    .read-only-info-icon {
      margin-right: 0.625rem;
      .icon {
        height: 0.875rem;
        width: 0.875rem;
        padding: 0;
      }
    }
  }

  &.small {
    padding: 0.875rem 1.25rem 0.875rem 0.875rem;
    width: fit-content;
    font: 0.8125rem var(--font-family-primary-bold);

    .read-only-info-icon .icon {
      height: 0.8125rem;
      width: 0.8125rem;
    }
  }

  &.large {
    padding: 1rem 1.5rem 1rem 1rem;
    font: 1rem var(--font-family-primary-bold);

    .read-only-info-icon .icon {
      height: 1rem;
      width: 1rem;
    }
  }
}
