.edge-connector-picker {
  min-width: 320px;
}

.edge-connector-picker-wrapper-enter {
  opacity: 0;
}
.edge-connector-picker-wrapper-active {
  opacity: 1;
  transition: opacity 0.1s ease-in;
}

.edge-connector-picker-wrapper-exit {
  opacity: 1;
}
.edge-connector-picker-wrapper-exit-active {
  opacity: 0;
  transition: opacity 0.1s ease-out;
}

.edge-connector-content {
  padding: 20px 30px;
}

.edge-connector-dropdown-wrapper {
  margin-bottom: 22px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.edge-connector-dropdown-wrapper label {
  margin-right: 16px;
  font-size: 16px;
}

/* .edge-connector-dropdown-wrapper select {
  width: 180px;
  padding: 6px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid #aaa;
  font-family: 'PlusJakartaSans-bold', sans-serif;
  font-size: 14px;
  cursor: pointer;
}

.edge-connector-dropdown-option {
  font-family: 'PlusJakartaSans-bold', sans-serif;
  font-size: 14px;
  padding: 6px;
} */

.edge-connector-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
