.comments-posted-wrapper {
  overflow-y: scroll;
  flex: 1;
  display: flex;
  flex-direction: column;

  .comments-posted-list-item {
    padding: 1rem 3.5rem 1rem 3rem;
    margin-bottom: 0.5rem;
    transition: 0.2s background-color ease;

    &:first-child {
      margin-top: 1rem;
    }

    &:last-child {
      padding-bottom: 2rem;
      margin-bottom: 0;
    }

    &:hover {
      background-color: var(--bg-color-hover);
    }
  }
}

.comments-view-input-wrapper {
  padding: 0 2.75rem 2rem 2.75rem;
}
