.ev-details-wrapper {
  padding-right: 3rem;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-y: scroll;
  box-sizing: border-box;
  flex: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .ev-details-inner-wrapper {
    padding-left: 3rem;

    // Title
    .ev-title-wrapper {
      margin-bottom: 1.5rem;
      position: relative;

      .ev-title {
        input {
          width: 100%;
          outline: none;
          border: none;
          font: 1.5rem var(--font-family-primary-bold);
          line-height: 1.35;
          padding: 0;
        }

        textarea {
          width: 100%;
          outline: none;
          border: none;
          font: 1.5rem var(--font-family-primary-bold);
          line-height: 1.35;
          letter-spacing: 0.01rem;
          padding: 0;
          resize: none;
          background: transparent;

          &::placeholder {
            color: var(--text-color-placeholder);
          }
        }
      }
    }

    // Github link and tags
    .ev-github-link,
    .ev-tags {
      margin-bottom: 1.5rem;
    }

    /* assinees and time row */
    .ev-assignees-and-time-row {
      display: flex;
      flex-direction: row;
      margin-bottom: 2rem;

      /* assigness section */
      .ev-assignees-wrapper {
        width: 50%;
        position: relative;

        .picker-popup {
          top: 5.25rem;
          left: 0;
        }
      }

      /* time */
      .ev-time-wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 50%;

        .ev-time-display {
          font: 1rem var(--font-family-primary-medium);
          color: var(-text-color-primary);
          cursor: pointer;
          transition: 0.2s all ease;
          padding: 0.25rem 0;
          color: var(--text-color-placeholder);
        }

        .picker-popup {
          top: 5.25rem;
          left: 0;
        }
      }
    }
  }
}
