.expanded-view-nav-bar {
  height: 39px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 11px 0 11px;
  /* border-bottom: 1px solid #ececec; */
  margin-bottom: -2px;
  z-index: 1;
}

.expanded-view-nav-bar-item {
  color: #a3a3a3;
  display: flex;
  flex-direction: row;
  font-size: 13px;
  font-family: 'PlusJakartaSans-bold', Helvetica, sans-serif;
  font-weight: normal;
  cursor: pointer;
  align-items: center;
  background-color: #f9f9f9;
  padding: 4px 16px;
  border-radius: 23px;
  margin-right: 11px;
  transition: all 0.3s ease;
}

.expanded-view-nav-bar-item.feature-in-development {
  cursor: default;
}

.expanded-view-nav-bar-item.feature-in-development .icon:not(.not-hoverable) {
  cursor: default;
}

/* NavBar Item Hover State */

.expanded-view-nav-bar-item:hover {
  background-color: #efefef;
  box-shadow: 0px 0px 14px #0000000f;
  
}

.expanded-view-nav-bar-item:hover .icon:not(.not-hoverable) .inner-icon {
  transition: all 0.3s;
}

/* NavBar Item Active State */

.expanded-view-nav-bar-item.active-tab {
  color: #5f65ff;
  background-color: #efefef;
  box-shadow: 0px 0px 14px #0000000f;
}

.expanded-view-nav-bar-item.active-tab .icon:not(.not-hoverable) .inner-icon {
  background-color: #5f65ff;
}

.expanded-view-nav-bar-item .icon.very-small.grey {
  margin-right: 4px;
}