.typography {
  -webkit-font-smoothing: antialiased;
  color: var(--text-color-primary);
  // Headings
  &.h1 {
    font: 2rem var(--font-family-primary-extrabold);
    line-height: 1.45;
  }
  &.h2 {
    font: 1.75rem var(--font-family-primary-extrabold);
    line-height: 1.45;
  }
  &.h3 {
    font: 1.5rem var(--font-family-primary-bold);
    line-height: 1.35;
    letter-spacing: 0.01rem;
  }
  &.h4 {
    font: 1.375rem var(--font-family-primary-extrabold);
    line-height: 1.45;
  }
  &.h5 {
    font: 1.25rem var(--font-family-primary-bold);
    line-height: 1.45;
  }
  &.h6 {
    font: 1.125rem var(--font-family-primary-bold);
    line-height: 1.45;
  }
  &.h7 {
    font: 1rem var(--font-family-primary-bold);
    line-height: 1.45;
    color: var(--text-color-secondary);
  }
  &.h8 {
    font: 0.875rem var(--font-family-primary-bold);
    line-height: 1.45;
    color: var(--text-color-primary);
  }
  // Body
  &.body1 {
    font: 1rem var(--font-family-primary-medium);
    color: var(--text-color-secondary);
    line-height: 1.45;
  }
  &.body2 {
    font: 0.875rem var(--font-family-primary-medium);
    color: var(--text-color-primary);
    line-height: 1.45;
  }
  // Subtitles
  &.subtitle1 {
    font: 1.25rem var(--font-family-primary-medium);
    line-height: 1.45;
    color: var(--text-color-tertiary);
  }
  &.subtitle2 {
    font: 1.125rem var(--font-family-primary-bold);
    color: var(--text-color-secondary);
    line-height: 1.45;
  }
  &.subtitle3 {
    font: 1rem var(--font-family-primary-medium);
    color: var(--text-color-tertiary);
    line-height: 1.45;
  }
  // Captions
  &.caption1 {
    font: 1rem var(--font-family-primary-bold);
    color: var(--text-color-caption);
    line-height: 1.45;
  }
  &.caption2 {
    font: 1rem var(--font-family-primary-medium);
    color: var(--text-color-tertiary);
    line-height: 1.45;
  }
  &.caption3 {
    font: 0.875rem var(--font-family-primary-medium);
    color: var(--text-color-caption);
    line-height: 1.45;
  }
  &.caption4 {
    font: 0.815rem var(--font-family-primary-medium);
    color: var(--text-color-caption);
    line-height: 1.45;
  }
   // breadcrumbs
  &.breadcrumbs {
    font: 0.875rem var(--font-family-primary-medium);
    color: var(--text-color-secondary);
    line-height: 1.45;
  }
  &.breadcrumbs-bold {
    font: 0.875rem var(--font-family-primary-bold);
    color: var(--text-color-secondary);
    line-height: 1.45;
  }
  // label
  &.label {
    font: 1rem var(--font-family-primary-extrabold);
    color: var(--text-color-secondary);
    line-height: 1.75;
  }
}
