/* Multi Edit Bar */

.multi-edit-bar {
  position: fixed;
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 8px;
  background-color: #ffffff;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  opacity: 1;
  display: flex;
  align-items: center;
  height: 50px;
  transition: bottom 0.2s ease-in-out;
}

.multi-edit-modal.modal-wrapper {
  width: 42rem;
  max-width: calc(100vw - 6rem);
}

.multi-edit-bar.has-selection {
  bottom: 10px;
}

.multi-edit-bar > .icon {
  padding: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
  aspect-ratio: 1/1;
}

.multi-edit-bar .icon.active .inner-icon {
  background-color: var(--text-color-link);
}

.multi-edit-bar-item {
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  border: 1px solid #e8e8e82b;
  display: flex;
  align-items: center;
}

.multi-edit-bar .picker-popup {
  bottom: 60px;
  top: unset;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}

/* classes ralated to status picker on MultiEditBar */

.status-popup.modal-wrapper .modal-header .inner-icon {
  background-color: #ff5d36;
}

.multi-edit-bar.has-selection .status-color.can-click.not-hoverable {
  width: 22px;
  height: 22px;
  margin: 6px;
}

.multi-edit-bar.has-selection .status-color.can-click.not-hoverable:hover {
  width: 22px;
  height: 22px;
  margin: 6px;
}
