.tabs {
  padding: 0;
}
.tabs > .tabs-links {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-flow: nowrap row;
}

.tabs > .tabs-links > button.tab-link,
a.tab-link {
  width: 100%;
  display: block;
  cursor: pointer;
  background-color: #fff;
  border: none;
  border-bottom: 1px solid #e8e8e8;
  transition: all 0.3s;
  color: #222222;
  font-family: 'PlusJakartaSans-bold', Helvetica, sans-serif;
  font-weight: normal;
  box-sizing: border-box;
  height: 50px;
  font-size: 16px;
}

.tabs > .tabs-links > button.tab-link:hover {
  color: #5f65ff;
  border-bottom: 3px solid #5f65ff;
  stroke-linecap: round;
}

.tabs > .tabs-links > button.tab-link.active {
  color: #5f65ff;
  border-bottom: 3px solid #5f65ff;
  stroke-linecap: round;
}

.tabs-contents {
  position: relative;
}

.tabs-contents > .tab-content {
  background: #fff;
  /* border: 1px solid #ccc5; */
  border-top: none;
  border-top: transparent;
  display: none;
  padding: 0;
  /* position: absolute; */
}

.tab-content section {
  margin-bottom: 10px;
}

.tab-content.active {
  display: block;
  overflow-y: scroll;
  height: calc(100vh - 370px);
  margin-top: 36px;
  position: relative;
}

.scroll-bottom-fade-effect {
  background: linear-gradient(transparent, white 55%);
  height: 35px;
  width: 400px;
  position: absolute;
  margin-right: 12px;
  top: calc(100vh - 368px);
  z-index: 9999;
}
