.hierarchy_picker {
  min-width: 300px;
}

.hierarchy_option_container {
  color: #4d4d4d;
  padding: 8px 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.hierarchy_option_container:hover {
  background: #f2f2f2;
  color: #00a599;
}

.hierarchy_option_container:hover .inner-icon {
  background-color: #00a599;
}

.hierarchy_option_container:hover .redio_button {
  background-color: #d1d1d1;
}

.hierarchy_option_container .icon:not(.not-hoverable):hover .inner-icon {
  background-color: #00a599;
}

.hierarchy_option_container .icon:hover .inner-icon {
  background-color: #d1d1d1;
}

.hierarchy_option_name {
  flex: 1;
  padding: 1px 0px;
  font-family: 'PlusJakartaSans-bold', Helvetica, sans-serif;
  font-size: 14px;
}

.hierarchy_option_item.active .hierarchy_option_name {
  color: #5f65ff;
}

.hierarchy_option_item.active .inner-icon {
  background-color: #5f65ff;
}

.hierarchy_option_item:hover .redio_button {
  background-color: #d1d1d1;
}

.hierarchy_option_item {
  list-style: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.hierarchy_option_item li {
  color: #4d4d4d;
  padding: 6px 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.hierarchy_option_item li:hover {
  background: #f2f2f2;
  color: #00a599;
}

.hierarchy_option.active {
  color: #5f65ff;
}

.hierarchy_option_content {
  margin-left: 10px;
}

.hierarchy_option_content>span {
  display: block;
  width: 100%;
}

.hierarchy_description {
  font-size: 12px;
  color: #a3a3a3;
  font-family: 'PlusJakartaSans-bold', Helvetica, sans-serif;
}

.radio_button {
  right: 20px;
  position: absolute;
}

.hierarchy_wrapper_footer {
  color: #898989;
  font-size: 12px;
  padding: 6px 30px;
  margin-bottom: 0;
}

.hierarchy_option_icon .icon.medium {
  width: 40px;
}