.join-project-modal-wrapper {
  overflow: hidden;
  position: relative;
  justify-content: space-between;
  width: 34.5rem;
  height: 27rem;
}

.project-modal-button .button.large {
  width: 170px;
}

/* join project modal animation */

.join-project-form {
  position: absolute;
  opacity: 1;
  transition: opacity 0.3s, transform 0.4s;
  width: 420px;
  top: 70px;
}

.join-project-form.project-join-check-is-done {
  /* background-color: blue; */
  opacity: 0;
  -webkit-transform: translateX(-300px);
  transform: translateX(-300px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 420px;
}

/* project join follow up modal animation */

/* default is to be hidden */

.project-join-follow-up {
  /* position: absolute; */
  opacity: 0;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  transition: opacity 0.3s, transform 0.4s;
}

/* then it shows */

.project-join-follow-up.project-join-check-is-done {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-join-follow-up-content-wrapper {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.text-important-block {
  background-color: var(--bg-color-text-important-information);
  color: var(--text-color-toast-information);
  padding: 1.25rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: flex-start;

  .icon {
    padding-top: 0;
    margin-right: 0.5rem;
    width: 4rem;
    box-sizing: border-box;
    .inner-icon {
      background-color: var(--text-color-toast-information);
    }
  }
  
  
}
