.priority-view-wrapper {
  margin: 62px 8px 8px;
  display: flex;
  flex-direction: row;
}

.indented-view-wrapper {
  height: calc(100vh - 70px);
  background: #f3f0ed;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 0px 0px 4px #0000001f;
  border-radius: 8px;
}

.priority-quadrants-wrapper {
  flex: 1;
  margin-left: 8px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 6px;
  grid-template-rows: calc(50% - 8px);
}

.priority-wrapper-full-height {
  display: flex;
  flex: 1;
  width: 100%;
  margin-left: 8px;
}

.priority-quadrants-row .priority-quadrant {
  width: 50%;
}

.priority-view-picker-background {
  width: 100%;
  height: 100%;
  background-color: teal;
  /* position: absolute; */
  top: 0;
  left: 0;
  background: rgb(239 236 231 / 90%);
  /* background: rgba(31, 31, 31, 0.4); */
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.priority-view-picker-background .priority-picker-wrapper.picker-popup {
  position: relative;
}

.priority-view-picker-animation {
  transition: opacity 0.3s ease;
  position: absolute;
  /* top: 20%;
  left: 40px; */
}

.priority-view-picker-animation.exit, .priority-view-picker-animation.enter-done, .priority-view-picker-animation.enter-active {
  opacity: 1;
}

.priority-view-picker-animation.enter, .priority-view-picker-animation.exit-done, .priority-view-picker-animation.exit-active {
  opacity: 0;
}