.priority-view-wrapper {
  margin: 0;
  display: flex;
  flex-direction: row;
  height: 100vh;
  padding: 4rem 0.5rem 0.5rem 0.5rem;
  box-sizing: border-box;
}

.indented-view-wrapper {
  background: #f3f0ed;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 10px;
}
