.priority-quadrant-outcome-item {
  display: flex;
  flex-direction: row;
  border-bottom: solid 1px #f2f2f2;
  padding: 12px;
}

.priority-quadrant-outcome-item:hover {
  background: #f5f2ef;
}

.priority-quadrant-outcome-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
}

.priority-quadrant-outcome-titleANDinfo {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

.priority-quadrant-outcome-title {
  display: flex;
  flex-direction: row;
  font-family: 'PlusJakartaSans-medium', Helvetica, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #4d4d4d;
}

.priority-quadrant-outcome-iconANDmark {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.priority-quadrant-outcome-icon {
  margin-right: 10px;
}

.priority-myvote-mark {
  height: 10px;
  width: 10px;
  background-color: var(--text-color-link);
  border-radius: 50%;
  display: inline-block;
  margin-top: 8px;
  margin-left: -8px;
}

.priority-quadrant-outcome-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #898989;
  font-size: 11px;
  margin-top: 4px;
}

.priority-quadrant-outcome-info .icon {
  margin-right: 6px;
}

.priority-quadrant-outcome-info span {
  margin-right: 10px;
}

.priority-quadrant-outcome-timeframe {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.priority-quadrant-outcome-squirrels {
  flex-direction: row;
  display: flex;
}

.priority-quadrant-outcome-squirrels > * {
  margin-left: 5px;
}

.priority-quadrant-outcome-squirrels img {
  margin-right: -10px;
}

.priority-quadrant-outcome-right-menu {
  align-items: center;
  display: flex;
}

.priority-quadrant-outcome-view-mode-icons {
  display: flex;
  flex-direction: column;
  float: right;
}

.priority-quadrant-outcome-view-mode-icons .icon {
}

.priority-quadrant-outcome-view-mode-icons .icon:hover {
  background: white;
  padding: 4px;
  border-radius: 5px;
}

.weigh_in_button {
  padding: 4px;
}

.priority-quadrant-outcome-item .weigh_in_button {
  opacity: 0;
  transition: all 0.2s;
}

.priority-quadrant-outcome-item:hover .weigh_in_button,
.priority-quadrant-outcome-item:focus .weigh_in_button {
  opacity: 1;
  transition: all 0.2s;
}
