.validating-form-inputANDError {
  display: flex;
  flex-direction: column;
}

.validating-form-input {
  margin-bottom: 2.375rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: left;
  font-family: 'PlusJakartaSans-medium', Helvetica, sans-serif;

  .help-text {
    color: #898989;
    font-size: 0.875rem;
    line-height: 1.45;
    margin: 0.125rem 0 0.25rem 0;
    flex: 1;
  }

  .input-wrapper {
    flex: 1;
    display: flex;
    position: relative;

    input {
      margin-top: 0.25rem;
      border: 0.125rem solid #f3efeb;
      outline: none;
      font-size: 0.875rem;
      line-height: 1.3125rem;
      color: #222222;
      padding: 0.75rem;
      border-radius: 0.625rem;
      display: block;
      flex: 1;
      font-family: 'PlusJakartaSans-medium', Helvetica, sans-serif;
      height: 1rem;
      transition: border 0.1s ease-in;

      &.invalid-input {
        border: 0.125rem solid #ff5d36;
      }

      &.valid-input {
        border: 0.125rem solid #00d6c8;
      }

      &:focus {
        border: 0.125rem solid var(--border-color-primary);
      }

      &::placeholder {
        color: #bdbdbd;
      }
    }
  }

  input {
    &.with-at-symbol {
      padding-left: 1.625rem;
    }
  }

  .at-symbol {
    position: absolute;
    top: 0.9875rem;
    left: 0.7875rem;
    font-size: 0.875rem;
    color: #8c8c8c;
  }

  .error-text {
    color: #ff5d36;
    font-size: 0.75rem;
    position: absolute;
    top: 3.125rem;
    left: 0.25rem;
  }

  .validation-mark {
    position: absolute;
    top: 1rem;
    right: 0.625rem;
    width: 1rem;
    height: 1rem;
    background-color: var(--bg-color-secondary);
    padding-left: 0.25rem;

    &.valid {
    }

    &.invlid {
    }
  }
}
