.button-toggle-switch-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--bg-color-secondary);
  box-shadow: 0px 0rem 1.25rem var(--shadow-color);
  width: 11.25rem;
  box-sizing: border-box;
  border-radius: 0.625rem;
  cursor: pointer;
  transition: 0.2s all ease;
  -webkit-font-smoothing: antialiased;
  user-select: none;
  padding: 0.75rem 1rem;

  .button-toggle-switch-inner-wrapper {
    position: relative;
  }

  .button-toggle-switch-state {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    z-index: 1;
    padding: 0.875rem;
    font: 0.875rem var(--font-family-primary-bold);
    border-radius: 0.625rem;
    cursor: pointer;
    opacity: 0.3;

    &.selected {
      opacity: 1;
    }

    .icon {
      margin-right: 0.625rem;
      height: 0.875rem;
      width: 0.875rem;
      padding: 0;
    }
  }

  .selected-state-bg {
    background-color: var(--bg-color-secondary);
    box-shadow: 0px 0rem 1.25rem var(--shadow-color);
    width: 100%;
    box-sizing: border-box;
    height: 50%;
    border-radius: 0.625rem;
    position: absolute;
    border: 2px solid var(--border-color-primary);

    transition: 0.5s all ease;
    &.state1 {
      transform: translateY(0px);
    }

    &.state2 {
      transform: translateY(100%);
    }
  }

  &.small {
    padding: 0.65rem;

    .button-toggle-switch-state {
      padding: 0.65rem 1rem;
    }
  }

  &.large {
    padding: 1.25rem;

    .button-toggle-switch-state {
      padding: 1.25rem 1.5rem;
      font: 1rem var(--font-family-primary-bold);

      .icon {
        height: 1rem;
        width: 1rem;
      }
    }
  }
}
