.comments {
  font-family: 'hk-grotesk-medium', Helvetica, Sans-Serif;
}

.comments_avatarANDInput_wrapper {
  display: flex;
  /* align-items: center; */
  margin-bottom: 16px;
}

.comment_history_container_scrollable {
  overflow-y: scroll;
  overflow-x: hidden;
}

.comment {
  /* width: 400px; */
  display: flex;
  flex-wrap: nowrap;
}

.comment>div:last-child {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input_comment_row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.input_comment_wrapper {
  display: flex;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  /* border: 1.2px solid #d1d1d1; */
  box-shadow: inset 0 0px 1px rgba(0, 0, 0, 0.075);
  border-radius: 12px;
  background-color: #f9f9f9;
}

.input_comment_wrapper textarea {
  height: 36px;
  outline: none;
  border: 0;
  color: black;
  padding: 12px;
  flex: 1;
  font-size: 14px;
  line-height: 18px;
  font-family: 'hk-grotesk-medium', Helvetica, sans-serif;
  resize: none;
  background: transparent;
}

.input_comment textarea:focus>.input_comment_wrapper {
  border: 1.5px solid #5f65ff;
}

.comment_save_button {
  position: absolute;
  right: 0px;
  margin-top: 3px;
}

.comment_save_button>.icon {
  padding: 4px;
}

.comment_save_button>.icon .inner-icon {
  background: #00beb0;
  transition: background 0.2s ease;
}

.avatar_commenet_container {
  display: inline-block;
  margin-right: 10px;
}

.avatar_comment_container>.avatar {
  height: 36px;
  width: 36px;
  border-radius: 50%;
}

.comment_history_item {
  display: flex;
  margin-bottom: 16px;
}

.comment_history_content {
  margin-left: 10px;
}

.comment_history_info {
  display: flex;
  flex-direction: row;
  margin-bottom: 4px;
}

.comment_history_name {
  color: #4e566f;
  font-size: 11px;
  line-height: 13px;
  font-family: 'hk-grotesk-medium', Helvetica, sans-serif;
  margin-right: 10px;
}

.comment_history_date {
  color: #a3a3a3;
  font-size: 11px;
  line-height: 13px;
}

.comment_history_text {
  color: #4d4d4d;
  font-size: 13.5px;
  line-height: 16px;
  box-sizing: border-box;
  max-width: 365px;
  white-space: pre-wrap;
}