.date_picker_wrapper {
  padding: 20px 0px;
  position: absolute;
  height: 388px;
  width: 320px;
}

.date_picker_close {
  cursor: pointer;
  top: 20px;
  right: 20px;
  height: 14px;
}

.date_picker_content {
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  margin-top: 16px;
  align-items: center;
}

/*DateRangePicker Styling Overrrides */

.DateRangePickerInput {
  background-color: transparent;
}

.DateRangePickerInput__withBorder,
.SingleDatePickerInput__withBorder {
  border: none;
  display: flex;
  flex-direction: row;
  height: 324px;
}

.DateInput {
  width: 100px;
  background: transparent;
}

.DateInput_input {
  font-size: 0.875rem;
  border: 1px solid var(--border-color-timberwolf);
  border-radius: 10px;
  padding: 5px 4px 4px 10px;
  // width: 95%;
  font-family: var(--font-family-primary-medium);
  line-height: 29px;
}

.DateInput_fang {
  display: none;
}

.DateRangePickerInput_arrow {
  display: inline-block;
  vertical-align: middle;
  color: #484848;
  margin-left: 16px;
}

.DateRangePickerInput_arrow_svg {
  margin: 8px;
  box-sizing: border-box;
  height: 20px;
  width: 24px;
  padding: 2px;
}

.clear-button {
  outline: none;
  background: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 0;
  font-family: var(--font-family-primary-bold);
  font-size: 14px;
  padding: 0;
  color: #00beb0;
  z-index: 2;
}

.clear-button:hover {
  color: var(--text-color-link);
}

.DateRangePickerInput_clearDates,
.SingleDatePickerInput_clearDate {
  top: -2rem;
  left: 8px;
  right: unset;
  bottom: unset;
  margin: 0;
  padding: 0;
  z-index: 2;
}

.DateRangePickerInput__showClearDates,
.SingleDatePickerInput__showClearDates {
  padding-right: 0;
}

.DateRangePickerInput__withBorder {
  height: 373px;
}

.DateRangePicker_picker,
.SingleDatePicker_picker {
  background-color: transparent;
  margin-left: -19px;
  margin-top: -25px;
}

.DayPicker__withBorder {
  box-shadow: none;
}

.DateInput_fangStroke {
  display: none;
}

.DayPicker_transitionContainer {
  max-width: 300px;
}

.DayPickerNavigation_leftButton__horizontalDefault {
  left: 20px;
  border: none;
}

.DayPickerNavigation_rightButton__horizontalDefault {
  right: 20px;
  border: none;
}

.DayPicker__horizontal {
  background: transparent;
}

.CalendarMonth_caption {
  font-size: 0.875rem;
  font-family: var(--font-family-primary-bold);
  padding-bottom: 42px;
}

.DayPicker_weekHeader {
  font-family: var(--font-family-primary-medium);
}

.CalendarMonth_table {
  margin-top: 7px;
}

.CalendarDay__selected {
  background: var(--color-persian-green);
}

.CalendarDay__selected_span {
  background: var(--color-turquoise);
}

.DayPickerKeyboardShortcuts_show__bottomRight {
  display: none;
}
