.date_picker_wrapper {
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.16);
  padding: 20px 0px;
  position: absolute;
  height: 415px;
  width: 320px;
}

.date_picker_close {
  cursor: pointer;
  top: 20px;
  right: 20px;
  height: 14px;
}

.date_picker_content {
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  margin-top: 16px;
  align-items: center;
}

/*DateRangePicker Styling Overrrides */

.DateRangePickerInput {
  background-color: transparent;
}

.DateRangePickerInput__withBorder {
  border: none;
  display: flex;
  flex-direction: row;
}

.DateInput {
  width: 100px;
  background: transparent;
}

.DateInput_input {
  font-size: 14px;
  border: 1px solid #f2f2f2;
  border-radius: 10px;
  padding: 5px 4px 4px 10px;
  width: 95%;
  font-family: 'PlusJakartaSans-medium', Helvetica, sans-serif;
  line-height: 29px;
}

.DateInput_fang {
  display: none;
}

.DateRangePickerInput_arrow {
  display: inline-block;
  vertical-align: middle;
  color: #484848;
  margin-left: 8px;
}

.DateRangePickerInput_arrow_svg {
  margin: 8px;
  box-sizing: border-box;
  height: 20px;
  width: 40px;
  padding: 2px;
}

.clear-button {
  outline: none;
  background: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 0;
  font-family: 'PlusJakartaSans-bold', Helvetica, sans-serif;
  font-size: 14px;
  padding: 0;
  color: #00beb0;
  z-index: 2;
}

.clea-button:hover {
  color: #5f65ff;
}

.DateRangePickerInput_clearDates {
  top: unset;
  right: -8px;
  left: unset;
  bottom: 0;
  margin: 0;
  padding: 0;
  z-index: 2;
}

.DateRangePickerInput__showClearDates {
  padding-right: 0;
}

.DateRangePickerInput__withBorder {
  height: 373px;
}

.DateRangePicker_picker {
  background-color: transparent;
  margin-left: -19px;
  margin-top: -25px;
}

.DayPicker__withBorder {
  box-shadow: none;
}

.DateInput_fangStroke {
  display: none;
}

.DayPicker_transitionContainer {
  max-width: 300px;
}

.DayPickerNavigation_leftButton__horizontalDefault {
  left: 20px;
  border: none;
}

.DayPickerNavigation_rightButton__horizontalDefault {
  right: 20px;
  border: none;
}

.DayPicker__horizontal {
  background: transparent;
}

.CalendarMonth_caption {
  font-size: 14px;
  font-family: 'PlusJakartaSans-medium', Helvetica, sans-serif;
  font-weight: normal;
  padding-bottom: 42px;
}

.DayPicker_weekHeader {
  font-family: 'PlusJakartaSans-medium', Helvetica, sans-serif;
  font-weight: normal;
}

.CalendarMonth_table {
  margin-top: 7px;
}

.CalendarDay__selected {
  background: #00a599;
}

.CalendarDay__selected_span {
  background: #00e0cf;
}

.DayPickerKeyboardShortcuts_show__bottomRight {
  display: none;
}