.expanded-view-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.expanded-view-details-wrapper {
  padding: 30px 24px 24px 24px;
  display: flex;
  flex-direction: column;
  max-height: 100%;
}

/* title */

.expanded-view-title {
  margin-bottom: 20px;
  font-size: 22px;
  color: #4d4d4d;
  padding: 4px 0;
}

/* if title is being edited */

.expanded-view-title input {
  width: 100%;
  outline: none;
  border: none;
  color: #4d4d4d;
  font-size: 22px;
  padding: 0;
  font-family: 'PlusJakartaSans-medium', Helvetica, Sans-Serif;
}

.expanded-view-title textarea {
  width: 100%;
  outline: none;
  border: none;
  color: #4d4d4d;
  font-size: 18px;
  line-height: 24px;
  padding: 0;
  font-family: 'PlusJakartaSans-bold', Helvetica, Sans-Serif;
  resize: none;
}

/* tags */

.expanded-view-tags {
  padding-bottom: 20px;
}

/* description */

.expanded-view-description {
  /* border: 1px solid #f9f9f9;
  background-color: #f9f9f9; */
  border-radius: 12px;
  padding: 12px 2px;
  color: #a3a3a3;
  margin-bottom: 16px;
  flex: 1;
  overflow-y: scroll;
}

.expanded-view-description textarea {
  width: 100%;
  height: 240px;
  padding: 0;
  margin: 0;
  outline: none;
  border: 0;
  resize: none;
  font-family: 'PlusJakartaSans-medium', Helvetica, Sans-Serif;
  font-size: 14px;
  /* background-color: #f9f9f9; */
}

/* squirrels & timeframe wrapper */

.expanded-view-squirrels-title, .expanded-view-timeframe-title {
  margin-bottom: 8px;
  font-family: 'PlusJakartaSans-bold';
}

.squirrels-timeframe-row {
  display: flex;
  flex-direction: row;
  color: #717171;
  font-size: 14px;
  margin-bottom: 16px;
}

/* squirrels section */

.expanded-view-squirrels-wrapper {
  width: 50%;
  position: relative;
}

.expanded-view-squirrels-wrapper .picker-popup {
  top: 60px;
  left: 0;
}

.expanded-view-squirrels-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 4px;
}

.expanded-view-squirrel-wrapper {
  display: flex;
}

.expanded-view-squirrel-wrapper .avatar-wrapper.with-white-border.medium {
  margin-left: -6px;
}

.expanded-view-squirrels-content .people-picker-people .avatar.medium.clickable, .expanded-view-squirrels-content .people-picker-people .initials-avatar.medium {
  margin-right: unset;
}

.expanded-view-squirrels-content .avatar.medium.clickable:hover, .icon.medium.add-squirrel-plus-icon:hover {
  box-shadow: 0 0 0 2px #5f65ff;
}

/* squirrelInfoPopup */

.squirrel-info-popup-wrapper {
  margin-top: 60px;
  position: absolute;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
  padding: 15px 20px;
  top: 0;
  z-index: 1;
}

.squirrel-info-popup-name {
  flex: 1;
  padding: 1px 0px;
  font-family: 'PlusJakartaSans-bold', Helvetica, sans-serif;
  font-size: 14px;
  color: #5f65ff;
  cursor: pointer;
}

.squirrel-info-popup-nameANDhandle {
  display: flex;
  flex-direction: column;
  padding-bottom: 12px;
  margin-bottom: 6px;
  border-bottom: 1px solid #f2f2f2;
}

.squirrel-info-popup-handle {
  font-size: 12px;
  color: #a3a3a3;
  font-family: 'PlusJakartaSans-medium', Helvetica, sans-serif;
}

.remove-squirrel-btn {
  color: #00beb0;
  font-size: 12px;
  padding-top: 6px;
  font-family: 'PlusJakartaSans-medium', Helvetica, sans-serif;
  cursor: pointer;
}

.remove-squirrel-btn:hover {
  color: #5f65ff;
}

/* timeframe */

.expanded-view-timeframe-display {
  background: #f9f9f9;
  border-radius: 22px;
  padding: 10px 16px 12px 16px;
  font-size: 12px;
  font-family: 'PlusJakartaSans-medium', Helvetica, Sans-Serif;
  cursor: pointer;
  transition: all 0.3s;
}

.expanded-view-timeframe-display:hover, .expanded-view-timeframe-display:active, .expanded-view-timeframe-display:focus {
  background-color: #efefef;
}

.timeframe-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.timeframe-wrapper .picker-popup {
  top: 60px;
}

/* main content section */

.expanded-view-inner-content {
  height: calc(100vh - 256px);
  max-height: 600px;
  min-height: 400px;
}

.expanded-view-squirrels-add-wrapper {
  height: 30px;
  width: 30px;
  border: 3px solid #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f4f4;
  margin-left: -7px;
  z-index: 1;
}

.expanded-view-squirrels-add-wrapper:hover {
  color: #f3f3f3
}