.project-modal-heading {
  font-size: 24px;
  font-family: 'gilroyextrabold', Helvetica, sans-serif;
  color: #222222;
  margin-bottom: 10px;
}

.project-modal-subheading {
  /* font-size: 14px; */
  font-family: 'hk-grotesk-semibold', Helvetica, sans-serif;
  color: #9b9b9b;
  margin-bottom: 30px;
  line-height: 1.45;
}

.project-modal-content-spacer {
  margin-bottom: 50px;
  margin-top: 50px;
}

.project-modal-button {
  text-align: center;
}