* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* disable ugly mouse plugged in scrollbar */
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

html,
body,
canvas {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

body {
  background-color: #f7f5f3;
  font-family: 'PlusJakartaSans-medium', Helvetica, Sans-Serif;
  word-spacing: 0.05em;
}

div.react {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

a {
  text-decoration: none;
}

/* features in development */

.feature-in-development {
  opacity: 0.1;
  cursor: default;
  z-index: -1;
}

/* headers */

h1 {
  font-size: 30px;
  line-height: 36px;
  font-family: 'gilroyextrabold', Helvetica, sans-serif;
  font-weight: normal;
  margin-block-start: 0.1em;
  margin-block-end: 0.5em;
  color: #222222;
}

h2 {
  font-size: 22px;
  line-height: 28px;
  font-family: 'PlusJakartaSans-bold', Helvetica, sans-serif;
  font-weight: normal;
}

h3 {
  font-size: 20px;
  line-height: 24px;
  font-family: 'PlusJakartaSans-bold', Helvetica, sans-serif;
  font-weight: normal;
}

h4 {
  font-size: 16px;
  line-height: 24px;
  font-family: 'PlusJakartaSans-bold', Helvetica, sans-serif;
  font-weight: normal;
  color: #8d8c8c;
  margin-block-start: 0.1em;
  margin-block-end: 0.5em;
}

h4 a {
  color: #6600ff;
  cursor: pointer;
  text-decoration: none;
}

h4 a:hover {
  opacity: 80%;
}

/* status colors */

.border_Uncertain {
  border: 3px solid #ff5d36;
}

.border_Incomplete {
  border: 3px solid #ffc400;
}

.border_InProcess {
  border: 3px solid #ff9cab;
}

.border_InReview {
  border: 3px solid #00e2ff;
}

.border_Complete {
  border: 3px solid #83e300;
}

.bg_Uncertain {
  background-color: #ff5d36;
  color: #ffffff;
}

.tooltip.bg_Uncertain {
  color: white;
}

.bg_Incomplete {
  background-color: #ffc400;
}

.bg_InProcess {
  background-color: #ff9cab;
}

.bg_InReview {
  background-color: #00e2ff;
}

.bg_Complete {
  background-color: #83e300;
}

/* textarea placeholder */

textarea::placeholder {
  color: var(--text-color-placeholder);
}

::placeholder {
  color: var(--text-color-placeholder);
}
