@import "./fonts.scss";

:host, :root {
  // color names from https://www.color-name.com

  // color
  --color-virtually-transaprent: #ffffff00; // when you need an element but transparent
  --color-green-shadow: #4a604392; // for achieved outcome cards
  --shadow-brown-shadow: #8377699b; // for not achieved outcome cards
  --color-silver: #bebebe; //Silver
  --color-green: #008414; //Green
  --color-forest-green: #15841d; //Forset green (used for achieved small)
  --color-bronze: #a89958; //Bronze (used for not achieved small)
  --color-pumpkin: #c46310; //Pumpkin skin
  --color-topaz: #f7cf75; //Topaz
  --color-ultramarine-blue: #344cff; //Ultamarine blue
  --color-gray: #808080; //Gray
  --color-alto: #d0d0d0; //Alto
  --color-turquoise: #12d6c7; //Bright Turquoise
  --color-persian-green: #00a599; //Persian Green
  --color-myrtle-green: #277670; //Myrtle Green

  // icon
  --icon-color-light-grey: #d0d0d0; //Alto

  // background
  --bg-color-primary: #f7f5f3; //Cultured
  --bg-color-secondary: #ffffff; //White
  --bg-color-secondary-read-only: #ffffff80; //White (50%)
  --bg-color-tertiary: #fbfbf9; //Lotion
  --bg-color-hover: #f4f1ed; //Isabelline
  --bg-color-hover-semi-transparent: #f4f1eda1; //Isabelline 8--color-silver: #bebebe; //Silver0%
  --bg-color-canvas: #f4f2f0; //Isabelline 2
  --bg-color-popup: #ebeae7eb; //Cararra (90% opacity)
  --bg-color-achieved: #e9efe7;
  // background dark
  --bg-color-primary-dark: #555555;
  --bg-color-hover-dark: #c7beb430;

  // border
  --border-color-primary: #222222; //Raisin Black
  --border-color-secondary: #4d4d4d; //Dark Liver
  --border-color-timberwolf: #dbd7d0; //Timberwolf
  --border-color-platinum: #ede7e7; //Platinum
  --border-color-bright-gray: #efefef; //Bright Gray
  --border-color-pale-silver: #c3bfba; //Pale Silver (100%)

  // shadow
  --shadow-color: #c7beb472; //Pale Silver (40% opacity)
  --shadow-color-read-only: #c7beb437; //Pale Silver (25% opacity)
  --shadow-color-dark: #c7beb4bd; //Pale Silver (80% opacity)
  --shadow-color-hover: #c7beb4bd; //Pale Silver
  --shadow-color-high-priority: #334cf8; //

 

  // typography
  --font-family-primary-extrabold: "PlusJakartaSans-extrabold", sans-serif;
  --font-family-primary-bold: "PlusJakartaSans-bold", sans-serif;
  --font-family-primary-semibold: "PlusJakartaSans-semibold", sans-serif;
  --font-family-primary-medium: "PlusJakartaSans-medium", sans-serif;
  --font-family-primary-regular: "PlusJakartaSans-regular", sans-serif;
  --font-family-secondary-extrabold: "gilroyextrabold", sans-serif;

  // text
  --text-color-primary: #222222; //Raisin Black
  --text-color-secondary: #4d4d4d; //Dark Liver
  --text-color-tertiary: #8d8c8c; //Philippine Gray
  --text-color-quaternary: #9d9d9d; //Spanish Gray
  --text-color-caption: #bcbcbc; //Silver
  --text-color-placeholder: #bdbdbd; //Philippine Gray
  --text-color-strikethrough: #aea49972; //Pale Silver
  --text-color-invalid: #ff5d36;
  --text-color-link: #344cff; //Ultamarine blue
  // text color on dark background
  --text-color-dark-bg: #ffffff;
}
