.pending-acorn {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.pending-acorn .icon {
  padding: 2px;
  margin-right: 4px;
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
