.tags-list-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .tags-list-item {
    margin: 0 0.3rem 0.375rem 0;
  }

  .add-tag-button-with-tag-picker {
    position: relative;

    .add-tag-button {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 0 0.275rem 0.375rem 0;
      font: 0.875rem var(--font-family-primary-bold);
      color: var(--text-color-quaternary);
      background-color: var(--bg-color-primary);
      letter-spacing: 0.02rem;
      padding: 0.25rem 0.85rem 0.25rem 0.6875rem;
      border-radius: 0.5rem;
      width: fit-content;
      cursor: pointer;
      transition: 0.2s opacity ease;

      &:hover {
        opacity: 0.8;
      }

      span {
        user-select: none;
      }

      .add-tag-button-icons {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 0.375rem;

        .icon {
          width: 1rem;
          height: 1rem;
          padding: 0;
        }
      }
    }

    .tag-picker-wrapper {
      position: absolute;
      left: 0;
    }
  }
}
