.entry-point-picker.picker-popup {
  /* this overrides defult top position set for picker-popup which is 0*/
  top: 62px;
  position: absolute;
  margin-left: 0;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0px 0px 1.25rem var(--shadow-color);
  padding: 20px 0px;
  z-index: 10;
  position: fixed;
  box-sizing: border-box;
  width: 360px;
  height: 360px;
  display: flex;
  flex-direction: column;
}

.entry-point-picker-wrapper-enter {
  opacity: 0;
}

.entry-point-picker-wrapper-enter-active {
  opacity: 1;
  transition: opacity 0.1s ease-in;
}

.entry-point-picker-wrapper-exit {
  opacity: 1;
}

.entry-point-picker-wrapper-exit-active {
  opacity: 0;
  transition: opacity 0.1s ease-out;
}

.entry-point-picker-pointer {
  bottom: -7px;
  right: 189px;
  position: absolute;
}

/* Entry Points Search */

.entry-point-picker-search {
  border-bottom: 0.15rem solid var(--bg-color-canvas);
  display: flex;
  align-items: center;
  padding: 0.625rem 1.25rem;

  input {
    width: 100%;
    font-size: 0.875rem;
    color: var(--text-color-primary);
    border: 0;
    outline: 0;
    margin-left: 0.5rem;
    font-family: var(--font-family-primary-medium);
    line-height: 1.45;

    &::placeholder {
      color: var(--text-color-placeholder);
    }
}
}


/* Entry Point Picker List */

.entry-point-picker-list {
  list-style: none;
  margin: 0;
  padding: 0;
  flex: 1;
  overflow-y: scroll;
}

.entry-point-picker-item {
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.1s ease-in, color 0.1s ease-in;
  text-decoration: none;
  color: var(--text-color-secondary);

  &:hover {
    background: #f2f2f2;
    color: var(--text-color-primary);
    font-family: var(--font-family-primary-bold);

    > .entry-point-picker-switch {
      visibility: visible;
    }
  }

  &.active {
    color: var(--text-color-primary);
    font-family: var(--font-family-primary-bold);
  }

  .entry-point-picker-dot {
    height: 0.825rem;
    width: 0.825rem;
    border-radius: 50%;
    display: inline-block;
    margin-right: 0.75rem;
    margin-top: 0.25rem;
  }

  .entry-point-picker-name {
    flex: 1;
    max-height: 4rem;
    white-space: wrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .entry-point-picker-switch {
    visibility: hidden;
  }

  .entry-point-picker-switch {
    margin-left: 0.5rem;
  }

  .checkbox-wrapper {
    margin-top: 0.25rem;
  }
}

/* Entry Points Empty State */

.entry-points-empty-state-content {
  padding: 40px 20px;
  text-align: center;
  font-size: 14px;
  color: #4d4d4d;
  height: 190px;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.entry-points-empty-state-image-circle {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: #eadbff;
  margin-bottom: 20px;
}

.entry-points-empty-state-image {
  position: fixed;
  margin-bottom: 20px;
  height: 70px;
  opacity: 0.7;
}

.entry-points-empty-state-content-link {
  text-decoration: underline;
  cursor: pointer;
  color: #4d4d4d;
}
