.expanded-view-right-column-wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;

  .ev-right-column-inner-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: scroll;
    padding: 2.5rem 3rem 0 2rem;
    width: 11.25rem;
  }

  .ev-right-column-section {
    margin-bottom: 1.5rem;

    .ev-right-column-heading {
      margin-bottom: 0.5rem;
    }
  }

  .read-only-info-wrapper.small,
  .select-dropdown-wrapper,
  .button-toggle-switch-wrapper,
  .button-checkbox-wrapper,
  .button-action-wrapper {
    width: 100%;
    margin-bottom: 0.5rem;
  }
}

.acorn-we-applet .expanded-view-right-column-wrapper {
  .ev-right-column-inner-wrapper {
    overflow: unset;
  }
}