.expanded_view_header {
  border-bottom: 1px solid #e8e8e8;
  padding: 11px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
}

.expanded_view_header .icon {
  margin-right: 16px;
  height: 22;
}

.expanded_view_header .icon.small-close.grey {
  margin-right: 0;
}

.expanded_view_status_icon
  > .status-color.tooltip-container.status-color-small.bg_Uncertain.can-click.not-hoverable {
  margin: 0 16px 0 0;
}

.expanded_view_status_icon .status_color_small,
.expanded_view_status_icon .status_color_small:hover {
  width: 26px;
  height: 26px;
  border-radius: 14px;
  margin: 0;
}

.expanded_view_header .picker-popup {
  margin-top: 54px;
  z-index: 2;
}

.expanded_view_header .vertical_action_close {
  margin-right: 0;
}
