.footer {
  max-height: 48px;
}

/* Buttom Left Panel */

.bottom-panel {
  position: fixed;
  bottom: 10px;
  left: 10px;
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 48px;
}
.acorn-we-applet .bottom-left-panel {
  left: 72px;
}

.bottom-panel-entry-points {
  background: rgba(255, 255, 255, 0.9) 0% 0% no-repeat padding-box;
  border-radius: 10px;
  height: 46px;
  width: 46px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.bottom-panel-entry-points .icon {
  height: 26px;
  width: 26px;
  padding: 2px;
  display: inline-block;
  position: relative;
}

/* when Entry Point Icon is open: */

.bottom-panel-entry-points .icon.active .inner-icon {
  background-color: var(--text-color-link);
}

/* Buttom Right Panel */

.bottom-right-panel {
  position: fixed;
  bottom: 10px;
  right: 10px;
  // border-radius: 10px;
  max-height: 50px;
  padding: 12px 0px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 48px;

  .map-viewing-options-button-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    .map-viewing-options-menu {
      position: absolute;
      z-index: 2;
      bottom: 3.5rem;
      // transform: translateX(calc(-50% + 5.5rem));
    }

    .map-viewing-options-button {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 0.625rem;
      height: 3rem;
      width: 3rem;
      padding: 0.75rem 0.625rem;
      box-sizing: border-box;
      background-color: rgba(255, 255, 255, 0.9);
      cursor: pointer;
      margin-right: 0.5rem;
      position: relative;

      .map-viewing-options-with-unchecked {
        height: 0.75rem;
        width: 0.75rem;
        aspect-ratio: 1/1;
        border-radius: 50%;
        background-color: var(--text-color-link);
        box-shadow: 0 0 0.5rem var(--shadow-color-dark);
        position: absolute;
        top: -0.125rem;
        right: -0.125rem;
      }

      &.active {
        .icon .inner-icon {
          background-color: var(--text-color-link);
        }
      }

      .icon.footer-action-icon {
        padding: 4px;
        height: 24px;
        width: 24px;
        display: inline-block;
        position: relative;
        box-sizing: border-box;
      }
    }
  }
}
