.project-settings {
  max-height: calc(100vh - 10rem);
  position: relative;
  justify-content: space-between;
  align-items: center;

  .validating-form-input {
    margin-bottom: 28px;
  }

  .project-modal-content {
    justify-content: left;
  }
}

.project-settings-image-row {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-bottom: 28px;

  .validating-form-input {
    margin-bottom: 0;
  }

  .project-settings-image {
    margin-left: 8px;
    width: 44px;
    height: 44px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    border: 2px solid #f3efeb;
    box-sizing: border-box;
    background-color: var(--bg-color-tertiary);
  }
}

/* create project modal animation */

.edit-project-form {
  position: absolute;
  opacity: 1;
  transition: opacity 0.3s, transform 0.4s;
  width: 420px;

  &.project-created {
    /* background-color: blue; */
    opacity: 0;
    -webkit-transform: translateX(-300px);
    transform: translateX(-300px);
  }
}

/* project created modal animation */

/* default is to be hidden */

.project-created-modal {
  /* position: absolute; */
  opacity: 0;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  transition: opacity 0.3s, transform 0.4s;
}

/* then it shows */

.project-created-modal.project-created {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.project-settings-button {
  background-color: var(--bg-color-button-cream);
  padding: 0.5rem 0.825rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 0.625rem;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  font-family: var(--font-family-primary-semibold);
  color: var(--text-color-primary);
  transition: 0.2s all ease;
  width: fit-content;

  &:hover {
    // color: var(--text-color-link);
    background-color: var(--bg-color-hover);
  }

  &.invite-members {
    border: none;
    margin-right: 0;
    margin-bottom: 1.25rem;
  }

  &.delete-project {
    margin-bottom: 1.25rem;
    color: var(--text-color-warning);
    background-color: var(--bg-color-warning);

    &:hover {
      background-color: var(--bg-color-warning-hover);
    }
  }

  .icon {
    margin-right: 6px;
  }
}
