.dashboard-empty-state-wrapper {}

.dashboard-empty-state {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  width: 650px;
  top: 35%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -35%);
}

.dashboard-empty-state-heading {
  font-size: 40px;
  font-family: 'gilroyextrabold', Helvetica, sans-serif;
  margin-bottom: 20px;
  margin-top: 30px;
  color: #535353;
  letter-spacing: 0.5px;
}

.dashboard-empty-state-description {
  text-align: center;
  color: #535353;
  font-size: 22px;
  line-height: 34px;
  letter-spacing: 0.3px;
  font-family: 'hk-grotesk-medium', Helvetica, sans-serif;
}

.dashboard-empty-state-description a {
  color: #5f65ff;
  cursor: pointer;
  transition: color 0.2s ease-in;
}

.dashboard-empty-state-description a:hover {
  color: #00beb0;
}

.dashboard-empty-state-squirrel-outer {
  display: table;
  margin: 0 auto;
  height: 100%;
}

.dashboard-empty-state-squirrel-middle {
  display: table-cell;
  vertical-align: middle;
}

.dashboard-empty-state-squirrel-main {
  padding: 4px;
}

@media (max-width: 560px) {
  .dashboard-empty-state-squirrel-main {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }
}

@media (max-width: 420px) {
  .dashboard-empty-state-squirrel-main {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    min-width: 200px;
  }
}

.squirrel {
  position: relative;
  width: 83px;
  height: 107px;
  margin-top: 130px;
  margin-left: 70px;
}

.squirrel .skin {
  position: absolute;
  top: 0;
  left: 0;
  width: 83px;
  height: 107px;
  background: #f99c3c;
  border-radius: 0 55px 0 0;
}

.squirrel .ear {
  position: absolute;
  top: -25px;
  width: 12.5px;
  height: 25px;
  background: #f99c3c;
}

.squirrel .ear.left {
  left: -12.5px;
  border-radius: 25px 0 0 25px;
}

.squirrel .ear.right {
  left: 40px;
  border-radius: 0 25px 25px 0;
}

.squirrel .eye {
  position: absolute;
  top: 25px;
  width: 25px;
  height: 25px;
  background: #fefefe;
  border-radius: 25px;
}

.squirrel .eye.left {
  left: 12.5px;
}

.squirrel .eye.right {
  right: 12.5px;
}

.squirrel .eye span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 13px;
  height: 13px;
  margin-top: -7.5px;
  margin-left: -7.5px;
  background: #3a2012;
  border-radius: 13px;
}

.squirrel .belly {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 50px;
  height: 25px;
  margin-left: -25px;
  background: #faba71;
  border-radius: 25px 25px 0 0;
}

.squirrel .nose {
  position: absolute;
  top: 51.5px;
  left: 50%;
  width: 6px;
  height: 3px;
  margin-left: -3px;
  background: #3a2012;
  border-radius: 0 0 6px 6px;
}

.squirrel .mouth {
  position: absolute;
  top: 58px;
  left: 50%;
  width: 25px;
  height: 12.5px;
  margin-left: -12.5px;
  background: #3a2012;
  border-radius: 0 0 12.5px 12.5px;
}

.squirrel .mouth .tooth {
  position: absolute;
  top: 0;
  left: 50%;
  width: 13px;
  height: 6.5px;
  margin-left: -6.5px;
  background: #fefefe;
  border-radius: 0 0 7.5px 7.5px;
}

.squirrel .leg {
  position: absolute;
  bottom: 0;
  width: 12.5px;
  height: 6px;
  background: #3a2012;
  border-radius: 12.5px 12.5px 0 0;
}

.squirrel .leg.left {
  left: 12.5px;
}

.squirrel .leg.right {
  right: 12.5px;
}

.squirrel .tail {
  position: absolute;
  bottom: 0;
  left: -55.5px;
  width: 83px;
  height: 155px;
}

.squirrel .tail .square {
  position: absolute;
  top: 0;
  left: 0;
  width: 83px;
  height: 155px;
  background: #d67b32;
  border-radius: 0 0 0 55px;
}

.squirrel .tail .square .tail-square-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 33px;
  height: 155px;
  background: #d67b32;
  -moz-box-shadow: inset -30px 0 30px -30px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset -30px 0 30px -30px rgba(0, 0, 0, 0.2);
  box-shadow: inset -30px 0 30px -30px rgba(0, 0, 0, 0.2);
}

.squirrel .tail .circle {
  position: absolute;
  top: -75px;
  left: -69px;
  width: 152px;
  height: 152px;
  background: #d67b32;
  border-radius: 76px;
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
  -moz-box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.2);
}

.squirrel .tail .circle::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 76px;
  height: 76px;
  background: #ad6326;
  border-radius: 0 0 76px 0;
}

.squirrel .nut {
  position: absolute;
  bottom: 2.5px;
  right: -27.5px;
  width: 12.5px;
  height: 15px;
  background: #d47b33;
  border-radius: 12.5px 0 0 12.5px;
}

.squirrel .nut .hood {
  position: absolute;
  bottom: -2.5px;
  right: -10px;
  width: 10px;
  height: 20px;
  background: #3a2012;
  border-radius: 0 12.5px 12.5px 0;
}

.squirrel .nut .hood::before {
  content: '';
  position: absolute;
  top: 50%;
  right: -7px;
  width: 7.5px;
  height: 4px;
  margin-top: -1.5px;
  background: #3a2012;
  border-radius: 0 0 7.5px 7.5px;
}

.squirrel .eye span {
  -webkit-animation: animation 10s infinite ease-in-out;
  animation: animation 10s infinite ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.squirrel:hover .eye span {
  position: absolute;
  top: 65%;
  left: 65%;
}

@-webkit-keyframes animation {
  0%,
  4%,
  6%,
  49%,
  51%,
  53%,
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  5%,
  50%,
  52% {
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);
  }
}
@keyframes animation {
  0%,
  4%,
  6%,
  49%,
  51%,
  53%,
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  5%,
  50%,
  52% {
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);
  }
}
