.avatar,
.initials-avatar {
  transition: 0.2s all ease;
  cursor: pointer;

  &.imported {
    opacity: 0.5;
  }

  &.clickable {
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }

  &.highlighted {
    box-shadow: 0 0 0 3px #5f65ff;
  }

  // avatar sizees
  &.small {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    object-fit: cover;
  }

  &.small-medium {
    height: 28px;
    width: 28px;
    border-radius: 50%;
    object-fit: cover;
    font-size: 11px;
  }

  &.small-medium {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    object-fit: cover;
    font-size: 12px;
  }

  &.medium-large {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    object-fit: cover;
  }

  &.large {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
}

.avatar.highlighted ~ .avatar-wrapper.with-border.white,
.initials-avatar.highlighted ~ .avatar-wrapper.with-border.white {
  border: 3px solid #5f65ff;
}

/* initals-avatar specific stylings */

.initials-avatar {
  color: white;
  text-align: center;
  height: inherit;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-family: 'PlusJakartaSans-bold', Helvetica, sans-serif;
}

.avatar ~ .status-circle-wrapper .status-circle,
.initials-avatar ~ .status-circle-wrapper .status-circle {
  height: 8px;
  width: 8px;
}

.avatar-wrapper {
  // avatar wrapper sizes
  &.small-medium {
    border: 3px solid #ffffff;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    position: relative;
  }
  &.medium {
    width: 30px;
    height: 30px;
  }
  // avatar with tooltip
  &.tooltip-wrapper {
    bottom: -32px;
  }
  &.with-status {
    position: relative;
  }
  // positionality of the status circle
  // in realtion to avatar wrapper
  > .status-circle-wrapper {
    right: -2px;
    bottom: -2px;
    .status-circle {
      border: 2px solid white;
      box-shadow: none;
    }
  }
  // if avatar has border
  &.with-border {
    border-radius: 50%;
    position: relative;
    &.white {
      border: 3px solid #ffffff;
    }
    // avatar wrapper can have status circle if bordered
    &.status-color {
      &.undefined {
        // TODO: don't show status circle if undefined
        border: 3px solid #00d0c0;
      }
      &.status-online {
        border: 3px solid #00d0c0;
      }
      &.status-away {
        border: 3px solid #ffc400;
      }
      &.status-offline {
        border: 3px solid #d1d1d1;
      }
    }
  }
  // if hovered over avatar wrapper
  &:hover {
    .tooltip-wrapper {
      transition-delay: 0.9s;
      visibility: visible;
      transition-property: visibility;
      z-index: 9999;
    }
  }
}

// avatar's prefered set status circle
.status-circle {
  &.status-online {
    background-color: #00d0c0;
  }
  &.status-away {
    background-color: #ffc400;
  }
  &.status-offline {
    background-color: #d1d1d1;
  }
}

// .avatar-wrapper:hover .tooltip-wrapper,
// .initials-avatar:hover .tooltip-wrapper {
//   transition-delay: 0.9s;
//   visibility: visible;
//   transition-property: visibility;
//   z-index: 9999;
// }
