.avatar.imported, .initials-avatar.imported {
  opacity: 0.5;
}

.avatar.clickable, .initals-avatar.clickable {
  cursor: pointer;
}

.avatar.small {
  height: 24px;
  width: 24px;
  border-radius: 12px;
  object-fit: cover;
}

.avatar.small-medium {
  height: 28px;
  width: 28px;
  border-radius: 50%;
  object-fit: cover;
}

.avatar.medium {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.avatar.medium-large {
  height: 36px;
  width: 36px;
  object-fit: cover;
}

.avatar.large {
  height: 40px;
  width: 40px;
  object-fit: cover;
}

.avatar.highlighted, .initials-avatar.highlighted {
  box-shadow: 0 0 0 2px #5f65ff;
}

/* initals-avatar stylings */

.initials-avatar {
  cursor: pointer;
  color: white;
  text-align: center;
  height: inherit;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-family: 'PlusJakartaSans-bold', Helvetica, sans-serif;
}

.initials-avatar.clickable {
  cursor: pointer;
}

.initials-avatar.small {
  height: 24px;
  width: 24px;
  border-radius: 12px;
  object-fit: cover;
  font-size: 11px;
}

.initials-avatar.small-medium {
  height: 28px;
  width: 28px;
  border-radius: 50%;
  object-fit: cover;
  font-size: 12px;
}

.initials-avatar.medium {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.initials-avatar.medium-large {
  height: 36px;
  width: 36px;
  object-fit: cover;
}

.initials-avatar.large {
  height: 40px;
  width: 40px;
  object-fit: cover;
}

.initials-avatar.highlighted {
  box-shadow: 0 0 0 2px #5f65ff;
}

.avatar~.status-circle-wrapper .status-circle,
.initials-avatar~.status-circle-wrapper .status-circle {
  height: 8px;
  width: 8px;
}

.avatar-wrapper.with-white-border {
  border: 3px solid #ffffff;
  /* border: 3px solid #00d0c0; */
  border-radius: 50%;
  width: 27px;
  height: 27px;
  position: relative;
  margin-left: -2px;
}


/* .avatar.medium>.avatar-wrapper.with-white-border, .initials-avatar.medium>.avatar-wrapper.with-white-border {
  width: 30px;
  height: 30px;
} */

/* 
.avatar.small-medium>.avatar-wrapper.with-white-border {
  width: 27px;
  height: 27px;
} */