.avatar, .initials-avatar {
  transition: 0.2s all ease;
  cursor: pointer;
}

.avatar.imported, .initials-avatar.imported {
  opacity: 0.5;
}

.avatar.clickable, .initals-avatar.clickable {
  cursor: pointer;
}

.avatar.clickable:hover, .initials-avatar.clickable:hover {
  opacity: 0.8;
}

.avatar.small {
  height: 24px;
  width: 24px;
  border-radius: 12px;
  object-fit: cover;
}

.avatar.small-medium {
  height: 28px;
  width: 28px;
  border-radius: 50%;
  object-fit: cover;
}

.avatar.medium {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.avatar.medium-large {
  height: 36px;
  width: 36px;
  object-fit: cover;
}

.avatar.large {
  height: 40px;
  width: 40px;
  object-fit: cover;
}

.avatar.highlighted {
  box-shadow: 0 0 0 3px #5f65ff;
}

.avatar.highlighted~.avatar-wrapper.with-white-border,
.initials-avatar.highlighted~.avatar-wrapper.with-white-border {
  /* box-shadow: 0 0 0 2px #5f65ff; */
  border: 3px solid #5f65ff;
}

/* initals-avatar stylings */

.initials-avatar {
  cursor: pointer;
  color: white;
  text-align: center;
  height: inherit;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-family: 'PlusJakartaSans-bold', Helvetica, sans-serif;
}

.initials-avatar.clickable {
  cursor: pointer;
}

.initials-avatar.small {
  height: 24px;
  width: 24px;
  border-radius: 12px;
  object-fit: cover;
  font-size: 11px;
}

.initials-avatar.small-medium {
  height: 28px;
  width: 28px;
  border-radius: 50%;
  object-fit: cover;
  font-size: 12px;
}

.initials-avatar.medium {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.initials-avatar.medium-large {
  height: 36px;
  width: 36px;
  object-fit: cover;
}

.initials-avatar.large {
  height: 40px;
  width: 40px;
  object-fit: cover;
}

.initials-avatar.highlighted {
  box-shadow: 0 0 0 2px #5f65ff;
}

.avatar~.status-circle-wrapper .status-circle,
.initials-avatar~.status-circle-wrapper .status-circle {
  height: 8px;
  width: 8px;
}

.avatar-wrapper.with-status {
  position: relative;
}

.avatar-wrapper.with-white-border {
  border: 3px solid #ffffff;
  border-radius: 50%;
  position: relative;
}

.avatar-wrapper.with-white-border.small-medium {
  border: 3px solid #ffffff;
  /* border: 3px solid #00d0c0; */
  border-radius: 50%;
  width: 28px;
  height: 28px;
  position: relative;
}

.avatar-wrapper.with-white-border.medium {
  width: 30px;
  height: 30px;
  /* margin-left: -6px; */
}


.avatar-wrapper>.status-circle-wrapper .status-circle {
  border: 2px solid white;
  box-shadow: none;
}

.avatar-wrapper>.status-circle-wrapper {
  right: -2px;
  bottom: -2px;
}

.status-circle.status-online {
  background-color: #00d0c0;
}

.status-circle.status-away {
  background-color: #ffc400;
}

.status-circle.status-offline {
  background-color: #d1d1d1;
}

/* Avatars with tooltip */

.avatar-wrapper .tooltip-wrapper {
  bottom: -32px;
}

.avatar-wrapper:hover .tooltip-wrapper,
.initials-avatar:hover .tooltip-wrapper {
  transition-delay: 0.9s;
  visibility: visible;
  transition-property: visibility;
  z-index: 9999;
}
