.avatar-wrapper {
  transition: 0.2s all ease;
  cursor: pointer;

  .avatar {
    object-fit: cover;
    border-radius: 50%;
  }

  .initials-avatar {
    border-radius: 50%;
    /* initals-avatar specific stylings */
    color: white;
    text-align: center;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
    font-family: 'PlusJakartaSans-bold', Helvetica, sans-serif;
  }

  // avatar with tooltip
  &.tooltip-wrapper {
    bottom: -32px;
  }
  &.with-status {
    position: relative;
  }
  // positionality of the status circle
  // in realtion to avatar wrapper
  > .status-circle-wrapper {
    right: 0;
    bottom:  0.1875rem;
    position: absolute;
    .status-circle {
      border: 0.1825rem solid white;
      box-shadow: none;
      border-radius: 50%;
    }
  }
  // if avatar has border
  &.with-border {
    border-radius: 50%;
    position: relative;
    &.white {
      border: 0.1875rem solid #ffffff;
    }
    // avatar wrapper can have status circle if bordered
    &.status-color {
      &.undefined {
        // TODO: don't show status circle if undefined
        border: 3px solid #00d0c0;
      }
      &.status-online {
        border: 3px solid #00d0c0;
      }
      &.status-away {
        border: 3px solid #ffc400;
      }
      &.status-offline {
        border: 3px solid #d1d1d1;
      }
    }
  }
  // if hovered over avatar wrapper
  &:hover {
    .tooltip-wrapper {
      transition-delay: 0.9s;
      visibility: visible;
      transition-property: visibility;
      z-index: 9999;
    }
  }

  &.imported {
    opacity: 0.5;
  }

  &.clickable {
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }

  &.highlighted {
    box-shadow: 0 0 0 3px #5f65ff;
  }

  // avatar sizees
  &.small {
    .avatar,
    .initials-avatar {
      height: 1.5rem;
      width: 1.5rem;
    }
  }

  &.small-medium {
    .avatar,
    .initials-avatar {
      height: 1.75rem;
      width: 1.75rem;
      font-size: 0.6875rem;
    }
  }

  &.medium {
    .avatar,
    .initials-avatar {
      height: 1.875rem;
      width: 1.875rem;
      font-size: 0.75rem;
    }
  }

  &.medium-large {
    .avatar,
    .initials-avatar {
      height: 2.25rem;
      width: 2.25rem;
    }
  }

  &.large {
    .avatar,
    .initials-avatar {
      height: 2.5rem;
      width: 2.5rem;
    }
  }
}

.avatar.highlighted ~ .avatar-wrapper.with-border.white,
.initials-avatar.highlighted ~ .avatar-wrapper.with-border.white {
  border: 0.1875rem solid #5f65ff;
}

.avatar ~ .status-circle-wrapper .status-circle,
.initials-avatar ~ .status-circle-wrapper .status-circle {
  height: 0.5rem;
  width: 0.5rem;
}

// avatar's prefered set status circle
.status-circle {
  &.status-online {
    background-color: #00d0c0;
  }
  &.status-away {
    background-color: #ffc400;
  }
  &.status-offline {
    background-color: #d1d1d1;
  }
}

// .avatar-wrapper:hover .tooltip-wrapper,
// .initials-avatar:hover .tooltip-wrapper {
//   transition-delay: 0.9s;
//   visibility: visible;
//   transition-property: visibility;
//   z-index: 9999;
// }
