.button-checkbox-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font: 0.875rem var(--font-family-primary-bold);
  background-color: var(--bg-color-secondary);
  box-shadow: 0rem 0rem 1.25rem var(--shadow-color);
  width: 11.25rem;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 0.625rem;
  cursor: pointer;
  transition: 0.2s box-shadow ease;
  -webkit-font-smoothing: antialiased;
  user-select: none;

  &:hover,
  &.focused {
    box-shadow: 0rem 0rem 1.25rem var(--shadow-color-hover);
  }

  &.selected {
    border: 0.15rem solid var(--border-color-primary);
    // the padding calc below fixes the resizing of the button
    // after adding the border in checked mode
    padding: calc(1rem - 0.15rem);
  }

  .button-checkbox-icon-text {
    display: flex;
    flex-direction: row;
    align-items: center;

    .button-checkbox-icon {
      margin-right: 0.625rem;

      .icon {
        height: 1rem;
        width: 1rem;
        padding: 0;
      }
    }

    .button-checkbox-text {
      user-select: none;
      /* Standard */
    }
  }

  &.tiny {
    padding: 0.75rem 0.875rem 0.75rem 0.875rem;
    font: 0.825rem var(--font-family-primary-medium);
    width: 12.5rem;

    .button-checkbox-icon {
      margin-right: 0.375rem;
    }
  }

  &.small {
    padding: 0.875rem 1.25rem 0.875rem 0.875rem;
  }

  &.large {
    padding: 1rem 1.5rem 1rem 1rem;
    font: 1rem var(--font-family-primary-bold);

    .button-action-icon .icon {
      height: 1rem;
      width: 1rem;
    }
  }
}
