.profile_edit_form {
  text-align: center;
  overflow-y: auto;

  .small-close {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
  }

  .profile_edit_form_title {
    margin-bottom: 4rem;
  }

  form {
    display: flex;
    flex-direction: column;
    margin-bottom: 26px;
  }

  .row {
    flex: 1;
    display: flex;

    &.halfSize {
      width: 50%;
    }
  }

  .profile_edit_form_avatar {
    margin-top: 1.925rem;
    margin-left: 0.5rem;
  }

  button {
    margin: 0 auto;
  }

  .button {
    margin-bottom: 2rem;
  }
}

.help_text {
  flex: 1;
}

@media (max-height: 50rem) {
  .profile_edit_form {
    text-align: center;
    margin: 0 auto;
  }
  .validating-form-input {
    margin-bottom: 30px;
  }
}

.profile-edit-form-title-wrapper {
  margin-bottom: 0.5rem;

  @media (max-height: 50rem) {
    margin-top: 5rem;
  }
}
