.profile_edit_form {
  text-align: center;
  margin: 0 auto;
  overflow-y: scroll;
  height: 100%;

  .button {
    margin-bottom: 1.5rem;
  }
}

.profile_edit_form .small-close {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}

.profile_edit_form_title {
  margin-bottom: 4rem;
}

.help_text {
  flex: 1;
}

.profile_edit_form form {
  display: flex;
  flex-direction: column;
  margin-bottom: 26px;
}

.profile_edit_form .row {
  flex: 1;
  display: flex;
}

.profile_edit_form .row.halfSize {
  width: 50%;
}

.profile_edit_form .profile_edit_form_avatar {
  margin-top: 1.925rem;
  margin-left: 0.5rem;
}

.profile_edit_form button {
  margin: 0 auto;
}

@media only screen and (max-height: 800px) {
  .profile_edit_form {
    text-align: center;
    margin: 0 auto;
  }
  .validating-form-input {
    margin-bottom: 30px;
  }
}

.profile-edit-form-title-wrapper {
  margin-top: 5rem;
  margin-bottom: 0.5rem;
}