.intro-screen-wrapper {
  height: 100vh;
  background: #fbf9f7;
  display: flex;
  flex-direction: column;
}

.skip-intro-button {
  position: absolute;
  right: 0;
  cursor: pointer;
  font-size: 16px;
  font-family: 'PlusJakartaSans-medium', Helvetica, sans-serif;
  padding: 16px;
  color: #717171;
  transition: color 0.2s;
  z-index: 9999;
}

.skip-intro-button:hover {
  color: #5f65ff;
}

.intro-screen-content-frame {
  overflow: hidden;
  margin: auto auto;
  width: 900px;
  position: relative;
}

.content-wrapper {
  transition: transform 0.5s;
  display: flex;
  flex-direction: row;
}

.content-wrapper.active-screen-0 {
  transform: translateX(0%);
}

.content-wrapper.active-screen-1 {
  transform: translateX(-100%);
}

.content-wrapper.active-screen-2 {
  transform: translateX(-200%);
}

.content-wrapper.active-screen-3 {
  transform: translateX(-300%);
}

.screen {
  margin: 0 75px;
  text-align: center;
  opacity: 0;
  transition: opacity 1s;
}

.screen.active-screen {
  opacity: 1;
}

.screen p {
  width: 750px;
}

.intro-screen-image {
  margin-bottom: 30px;
}

.intro-screen-image img {
  height: 190px;
}

.intro-screen-text {
  width: 750px;
}

.intro-screen-title {
  font-size: 36px;
  font-family: 'gilroyextrabold', Helvetica, sans-serif;
  color: #222222;
  margin-bottom: 20px;
}

.intro-screen-description {
  font-size: 20px;
  font-family: 'PlusJakartaSans-medium', Helvetica, sans-serif;
  color: #717171;
  line-height: 32px;
  height: 165px;
}

.intro-screen-content-frame .button-back {
  top: 41.2%;
  left: 0;
  position: absolute;
}

.intro-screen-content-frame .button-next {
  top: 41.2%;
  right: 0;
  position: absolute;
}

.screen-dots-wrapper {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 76px;
}

.screen-dot {
  background: #dedede;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 2px;
  cursor: pointer;
}

.screen-dot.active-screen {
  background: #6600ff;
}

.sign-up-button {
  text-align: center;
  margin-top: 40px;
}