.intro-screen-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;

  .skip-intro-button {
    position: absolute;
    right: 0;
    cursor: pointer;
    font-size: 0.9rem;
    font-family: var(--font-family-primary-medium);
    padding: 1.125rem;
    color: #717171;
    transition: color 0.2s;
    z-index: 99;
    box-sizing: border-box;
    height: 3rem;

    &:hover {
      color: #5f65ff;
    }
  }

  .intro-screen-content-frame {
    overflow: hidden;
    margin: auto auto;
    width: 100vw;
    position: relative;

    // @media (max-width: 1188px) {
    //   width: 48rem;
    // }

    .button-back {
      top: 41.2%;
      left: 0;
      position: absolute;
      padding: 1rem;
      box-sizing: border-box;
    }

    .button-next {
      top: 41.2%;
      right: 0;
      position: absolute;
      padding: 1rem;
      box-sizing: border-box;
    }

    .content-wrapper {
      transition: transform 0.5s;
      display: flex;
      flex-direction: row;
      width: 400vw;

      &.active-screen-0 {
        transform: translateX(0%);
      }

      &.active-screen-1 {
        transform: translateX(-25%);
      }

      &.active-screen-2 {
        transform: translateX(-50%);
      }

      &.active-screen-3 {
        transform: translateX(-75%);
      }

      .screen {
        opacity: 0;
        transition: opacity 1s;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100vw;
        padding: 0 6rem;
        box-sizing: border-box;

        @media (min-width: 90rem) {
          padding: 0 5%;
        }

        @media (min-width: 76rem) and (max-width: 89.9rem) {
          padding: 0 4%;
        }

        @media (max-width: 50rem) {
          padding: 0 4rem;
        }

        &.active-screen {
          opacity: 1;
        }

        .intro-screen-image {
          img {
            width: 22rem;
            flex: 1;

            @media (min-width: 120rem) {
              width: 34rem;
            }

            @media (min-width: 90rem) and (max-width: 119.9rem) {
              width: 28rem;
            }

            @media (max-width: 60rem) {
              width: 16rem;
            }
          }
        }

        .intro-screen-text {
          margin-right: 3rem;
          flex: 1;

          @media (min-width: 76rem) {
            max-width: 40rem;
            margin-right: 4rem;
          }

          @media (max-width: 50rem) {
            margin-right: 1rem;
          }

          .typography {
            &.h1 {
              line-height: 1.3;
              margin-bottom: 1.25rem;
            }

            &.p {
              color: var(--text-color-secondary);
              line-height: 1.5;
              font-size: 1.125rem;
            }
          }
        }
      }
    }

    .screen-dots-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-top: 2rem;

      @media (max-height: 40rem) {
        margin-top: 1rem;
      }

      .screen-dot {
        background: #dedede;
        width: 0.6rem;
        height: 0.6rem;
        border-radius: 50%;
        margin: 0.2rem;
        cursor: pointer;

        &.active-screen {
          background: #6600ff;
        }
      }
    }

    .sign-up-button {
      margin-top: 2rem;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }
}